html, body {
    background-color: #F1F1F1;
    font-family: $fontVzwBook;
    width: 100%;
    //height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $fontVzwLight;
}
*:focus {
    outline: none;
}
.wrapper {
    @include clearfix();
    position: relative;
    margin: 0 auto;
    padding: 0 $columnGutter;
    max-width: $screenXlarge - $columnGutter;
}

#site-container {
    @include box-shadow(0 0 3px 3px rgba(0, 0, 0, .2));
    background-color: #FFF;
    max-width: $screenLarge;
    margin: 0 auto;

    /* Begin Star Ratings */
    .stars{
        text-align:right;
        width:90px;
        height:16px;
        overflow:hidden;
        background:url(../img/star-rating.png) no-repeat scroll left 4px transparent;
        padding:0;
        &.one{
            &.red{
                background-position: left -102px;
            }
        }
        &.two{
            background-position: left -17px;
            &.red{
                background-position:left -123px;
            }
        }
        &.three{
            background-position: left -37px;
            &.red{
                background-position:left -144px;
            }
        }
        &.four{
            background-position: left -58px;
            &.red{
                background-position:left -164px;
            }
        }
        &.five{
            background-position: left -80px;
            &.red{
                background-position:left -185px;
            }
        }
        &.one-half{
            background-position: left 5px;
            &.red{
                background-position:left -333px;
            }
        }
        &.two-half{
            background-position: left -247px;
            &.red{
                background-position:left -354px;
            }
        }
        &.three-half{
            background-position: left -268px;
            &.red{
                background-position:left -375px;
            }
        }
        &.four-half{
            background-position: left -289px;
            &.red{
                background-position:left -396px;
            }
        }

        .review-link{
            font-size:11px;
            display:inline-block;
        }
    }
    /* End Star Ratings */

}

#site-header {
    position: relative;
    z-index: 1000 !important;
}

#load-actions{
    position: relative;
    display: block;

    #load-more{
        width: 428px !important;
        height: 55px;
        margin: 30px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: #333;
        font-family: "Verizon Apex Book";
        padding: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
        background: #edf1f2;
        -webkit-box-shadow: inset 0px 5px 4px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px 1px rgba(60, 60, 60, 0.1);
        -moz-box-shadow: inset 0px 5px 4px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px 1px rgba(60, 60, 60, 0.1);
        box-shadow: inset 0px 5px 4px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px 1px rgba(60, 60, 60, 0.1);
    }
    #load-remaining {
        float: right;
        text-align: left;
        display: block;
        color: #0066cc;
        width: 110px;
        font-family: Arial;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        right: 15px;
        top: 15px;;
    }
}


#grid-pop-out{
    display:none;
    position: absolute;
    background: transparent;
    @include box-shadow(2px 2px 7px 5px rgba(0, 0, 0, .2));
    top: 0;
    height: 150%;
    z-index: 1;
    border: 20px solid #fff;
    // .close{
    //     background:url(../img/lifestyle-landing/close.png) no-repeat;
    //     display:block;
    //     position: absolute;
    //     top: -39px;
    //     right: -34px;
    //     width: 32px;
    //     height: 31px;
    // }
    .top-bar,
    .details {
        position: absolute;
    }
    .top-bar {
        top: 0;
        display: block;
    }
    .details{
        background: #fff;
        bottom: 0;
        height: 80px;
        display: block;
        width: 100%;

        .name{
            font-family: arial;
            font-size:13px;
            color:#0066cc;
        }
    }
}


.lightbox {
		display: none;
		background: rgba(0, 0, 0, .8);
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0; top: 0;
		z-index:10000;

		}

	.lightbox-info-block {
		@include cartRounded;
		width: 560px; height: 400px;
		background:#fff;
		position: absolute;
		top: 10%; left: 50%;
		margin-left: -250px;
		padding: 30px 45px 45px 45px;

		.lightbox-headline {
			width: 80%;
			padding: 0; margin: 0 0 25px 0;
			font-family: $fontVzwBook;
			font-size: 30px;
			font-weight: normal;
			color: $cartGreyDk;
			letter-spacing: -1px;

			.bold {
				font-family: $fontVzwBold;
				}
			}

		.lightbox-details {
			padding: 0; margin: 0 0 20px 0;
			@include checkoutContent;
			font-size:14px; line-height: 18px;

			.bold { font-weight: bold; }
			}

		.lightbox-close {
			position: absolute;
			top: 20px; right: 20px;
			width: 52px; height: 52px;
			border-radius: 26px;
			background: #333 url(../img/sprites/cart/modal-close-icon.png) 16px 16px no-repeat;
			cursor: pointer;
			}

		.lightbox-input-wrap {
			margin: 0 0 15px 0;

			.lightbox-input-title {
				@include checkoutLabel;
				margin: 0 0 10px 0;
				}

			input[type="email"] {
				color: $cartGreyDk;
				font-family: $fontVzwBook;
				font-weight: normal;
				background: #fff;
				margin: 3px 0 5px 0;
				padding: 8px;
				font-size:18px;
				height: 36px;
				@include cartRounded;
				}

			input[type="email"].hasPlaceholder {
				color: #bbb;
				font-family: $fontVzwLight;
				font-weight: normal;
				}

			input[type="email"]:focus {
				color: $cartGreyDk;
				font-family: $fontVzwBook;
				font-weight: normal;
				}

			label.error {
				@include checkoutLabel;
				color: $colorVzwRed;
				}

			} /* end input wrap */

		.lightbox-fineprint  {
			@include clearfix();
			width: 100%;
			@include checkoutLabel;
			text-transform: none;
			font-weight: normal;

			.headline {
				display:block; width: 100%;
				@include instruct;
				margin:0 0 15px 0; padding: 0;
				}

			.call, .chat {
				display: inline-block;
				width: auto;
				float: left;
				padding: 0; margin: 0;
				line-height: 24px;

				a {
					@include checkoutLabel;
					color: $actLinkBlue;
					font-size: 12px;
					}
				}

			.call {
				@include boxBrdrR;
				background: url(../img/sprites/cart/call-icon.png) 0px 3px no-repeat;
				padding: 0 10px 0 20px;

				span { @include checkoutLabel; }
				}

			.chat {
				background: url(../img/sprites/cart/chat-icon.png) 3px 0px no-repeat;
				padding: 0 0 0 33px;
				}


			ul {
				@include clearfix();

				li {
					display: inline-block;
					float: left;
					position: relative;
					padding: 0 10px 0 10px;
					@include boxBrdrR;
					line-height: 16px;

					a {
						@include actionLink;
						display: inline-block;
						text-transform: uppercase;
						font-size:10px;
						}

					.dropdown-link { padding-right: 15px; }

					.dropdown-panel {
						@include dropdownPanel;
						width: 200px;
						padding: 10px;
						display: none;

						p {
							@include checkoutContent;
							font-size: 10px;
							line-height: 13px;
							margin:0;
							color: $cartGreyDk;
							}

						}/* end modal dropdown */
					}/* end common li */

				.save-avail {
					background: url(../img/sprites/pdp/blue-more.png) 114px 8px no-repeat;

					.dropdown-panel { top: 32px; left : 18px; }
					}

				.save-notify {
					background: url(../img/sprites/pdp/blue-more.png) 163px 8px no-repeat;

					.dropdown-panel { top: 32px; left: 67px; }
					}

				li:first-child { padding-left: 0px; }
				li:last-child { border-right: 0px; }

				}/* end ul */
			}/* end fine print */

		.lightbox-cta {
			@include ctaRedButton;
			width: 150px;
			height: 55px;
			position: absolute;
			right: 20px; bottom:20px;
			span { padding-top: 27px; }
			}/* end cta */
		}/* end lightbox */


.selector { @include greyCartSelector; } /* uniform select-option styles*/

.checker { /* uniform checkbox styles */
	width:20px;
	height:20px;
	float: left;
	-webkit-border-radius: 2px;
	border: 1px solid #aaa;
	background: #fff;

	span {
		input[type="checkbox"] {
			width:20px;
			height: 20px;
			opacity: 0;
			}
		} /* span */

	span.checked {
		background: url(../img/sprites/cart/checkout-checkbox-checked.png) 3px 0px no-repeat;
		}
	}/* end checker */





.show-for-mobile {
    display: none;
}

#complex-item-modal-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#complex-item-modal{
    background: #fff;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    margin-left: -333px;
    width: 665px;
    padding: 40px;
    z-index: 10000;
    top: 25%;

    h1{
        font-family: "Verizon Apex Book";
        color: #3d4146;
        font-size: 32px;
        font-weight: normal;
        padding-bottom: 25px;
    }
    .close-btn{
        display: block;
        width: 50px;
        height: 50px;
        background: url(../img/article/close.png);
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .product-image{
        float: left;
        img{}
    }
    .info{
        width: 335px;
        float:right;
        min-height: 200px;
    }
    .actions{
        width: 335px;
        float: right;
        a.contextual-link{
            font-family: Arial;
            font-weight: bold;
            font-size: 10px;
            color: #0066cc;
            text-transform: uppercase;
            position: relative;
            top: 12px;
        }
        a.checkout-link{
            @include add-cart-cta();
            display: table;
            position: relative;
            overflow: hidden;
            float: right;
            width: 50%;
            height: 50px;
            span,
            span .add-cart-cta {
                width: 105px;
                height: 40px;
            }
            span {
                display: table-cell;
                padding: 0 0 5px 5px;
                vertical-align: bottom;
                input[type="submit"] {
                    -webkit-appearance: none;
                }
                .add-cart-cta {
                    border: none;
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    top: 0; left: 0;
                    opacity: 0;
                }
            }
        }

    }
}

#share-modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99998;
}
#share-modal-display {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    @include border-radius(3px);
    background: #FFF;
    width: 550px;
    height: 360px;
    padding: 20px 35px;
    .share-title {
        margin: 0;
        font: {
            family: $fontVzwBook;
            weight: normal;
        }
        &.message {
            margin-top: 30px;
        }
    }
    .close-overlay {
        position: absolute;
        top: 20px; right: 35px;
        display: block;
        width: 32px;
        height: 31px;
        @include social-sprite(close, false, 0, 0);
    }
    .overlay-content {
        .share-fig, .share-modal {
            float: left;
        }
        .share-fig {
            width: 35%;
            img {
                width: 150px;
            }
            figcaption {
                font: {
                    family: $fontArial;
                    size: 12px;
                }
            }
        }
        .share-modal {
            margin-top: 20px;
            width: 65%;
            .fieldwrapper {
                margin-bottom: 30px;
                label {
                    display: block;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    color: #3C4043;
                    font-size: 12px;
                }
            }
            .button {
                @include ctaRedButton;
                float: right;
                width: 125px;
                height: 50px;
                span {
                    padding-top: 22px;
                }
            }
        }
    }

}
.social-share-module {
    width: 383px;
    .social-list {
        display: table;
        margin: 0;
        width: 100%;
        height: 35px;
        overflow: hidden;
        .social-item {
            display: table-cell;
            position: relative;
            margin: 0;
            width: 20%;
            height: inherit;
            min-width: 30px;
            vertical-align: middle;
            border-right: 1px solid #B6BABB;
            &.last {
                border-right: none;
            }
            &.pinterest.active {
                min-width: 107px;
            }
            .social-link {
                display: block;
                position: relative;
                height: 100%;
                width: 100%;
                .icon {
                    display: block;
                    float: left;
                    overflow: hidden;
                    text-indent: -9999px;
                    margin: 5px 0 0 8px;
                    width: 21px; height: 20px;
                }
            }
            .overlay {
                margin: 0 10px;
                .fb_iframe_widget > span,
                .fb_iframe_widget > span > iframe {
                    min-width: 80px !important;
                    min-height: 20px !important;
                }
                .fb-wrap {
                    height: 21px;
                    overflow: hidden;
                    padding-left: 1px;
                }
            }
            &.email a .icon {
                @include social-sprite(email, false, 0, 0);
            }
            &.facebook a .icon {
                @include social-sprite(facebook, false, 0, 0);
            }
            &.twitter a .icon {
                @include social-sprite(twitter, false, 0, 0);
            }
            &.google-plus {
                .overlay {
                    > div {
                        width: 80px !important;
                        > iframe {
                            width: 80px !important;
                        }
                    }
                }
                a .icon {
                    @include social-sprite(g-plus, false, 0, 0);
                }
            }
            &.pinterest a .icon {
                @include social-sprite(pinterest, false, 0, 0);
            }
        }
    }
}

.lt-ie9 {
    #share-modal-overlay {
        background: transparent url(../img/ie8-modal-bg.png) top left repeat;
    }
    .social-share-module .social-list .social-item {
        .fb_iframe_widget > span,
        .fb_iframe_widget > span > iframe {
            width: 80px !important;
            min-height: 20px !important;
        }
    }
}

.trending-lifestyles-module {
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
    .section-wrap{
            max-width: 1024px;
            margin: 0 auto;
    }
    .flex-direction-nav {
        float: none !important;
        margin: 0 !important;
        position: absolute !important;
        top: -50px !important;
        right: 150px !important;
    }
    .section-tabs {
        float: left;
        width: 170px;
        height: 510px;
        display: block;
        .tab {
            display: block;
            position: relative;
            float: left;
            vertical-align: middle;
            text-align: center;
            height: 170px;
            width: 170px;
            background: #d9dfdf;
            h2{
                font-family: "Verizon Apex Medium";
                font-size: 12px;
                text-transform: uppercase;
                color: #c1c7c7;
                font-weight: normal;
            }
            .icon{
                width: 100px;
                height:100px;
                display:block;
                margin: 0 auto;
                background-repeat: no-repeat;
                &.traveler{
                    background: url(../img/sprites/lifestyles-module/traveler_inactive.png) no-repeat center bottom;
                }
                &.audio-video{
                    background: url(../img/sprites/lifestyles-module/audiovideo_inactive.png) no-repeat center bottom;
                }
                &.fitness-health{
                    background: url(../img/sprites/lifestyles-module/fitness_inactive.png) no-repeat center bottom;
                }
            }
            .carrot{
                display: none;
            }
            &.active {
                background: #2a2d32;
                h2{
                    color: #fff;
                    font-weight: bold;
                }
                .carrot {
                    position: absolute;
                    top: 50%;
                    margin-top: -15px;
                    right: -30px;
                    display: block;
                    @include css-triangle("right",15px,#2a2d32);
                    z-index: 10;
                }
                .icon{
                    width: 100px;
                    height:100px;
                    display:block;
                    &.traveler{
                        background: url(../img/sprites/lifestyles-module/traveler_active.png) no-repeat center bottom;
                    }
                    &.audio-video{
                        background: url(../img/sprites/lifestyles-module/audiovideo_active.png) no-repeat center bottom;
                    }
                    &.fitness-health{
                        background: url(../img/sprites/lifestyles-module/fitness_active.png) no-repeat center bottom;
                    }
                }
            }
        }
    }
    .lifestyle-tab-content{
        float: left;
        border: 1px solid #f8f8f8;
        border-right: none;
        border-left: none;
        border-top: none;
        position: relative;
        .tab-content{
            visibility: hidden;
            position: absolute;
            top:0;
            &.active{
                visibility: visible;
            }
        }
        .slides{
            margin:0;
        }
        .slide{
            height: 510px;
            .tile{
                float: left;
                border: 1px solid #f8f8f8;
                border-bottom: none;
                border-left: none;
                clear: right;
                display: block;
                height: 225px;
                width: 225px;
                padding: 15px;
            }
            .featured-tile{
                position: relative;
                float: left;
                height: 480px;
                width: 480px;
                padding: 15px;
                border: 1px solid #f8f8f8;
                border-right: none;
                border-left: none;
                margin-right: 30px;
                .featured-image{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .details{
                    position: absolute;
                    bottom: -15px;
                    left: 15px;
                    background: #fff;
                    padding: 15px;
                    height: 230px;
                    width: 230px;
                    z-index: 2;
                    h5{
                        font-family: arial;
                        font-size: 10px;
                        color: #666;
                        text-transform: uppercase;
                    }
                    h3{
                        font-family: "Verizon Apex Book";
                        font-size: 17px;
                        color: #3d4146;
                    }
                    p{
                        font-family: "Verizon Apex Book";
                        font-size: 12px;
                        color: #3d4146;
                    }
                    a{
                        display: block;
                        font-family: arial;
                        font-weight: bold;
                        font-size: 10px;
                        color: #0066cc;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) {
    .hide-for-large-grid { display: none; }
    .show-for-large-grid { display: inherit; }
}
@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {

}
@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileLarge) {

}
@media only screen and (max-width: $screenSmall - 1) {
    #share-modal-display {
        width: 300px;
        height: auto;
        overflow: hidden;
        .overlay-content {
            .share-fig, .share-modal {
                float: none;
                width: 100%;
            }
            .share-fig {
                margin: 0 auto;
                text-align: center;
            }
            .share-modal {
                .button {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: $screenMobileLarge) {
    .show-for-mobile {
        display: block;
    }
}
@media only screen and (max-width: $screenMobileLarge - 1) and (min-width: $screenMobileSmall + 1) {
    .hide-for-mobile {
        display: none;
    }
}
@media only screen and (max-width: $screenMobileSmall) {

}

