@import "compass/reset";
@import "bourbon/bourbon";
@import "styles/screen";
@import "styles/print";
@import "styles/ie";

/* sprite init */
$ui-layout:smart;
@import "ui/*.png"; // grab all images from img/ui folder and create sprite
@include all-ui-sprites; // make ui sprite available to scss file(s)
/* end sprite init */

/* global colors */
$vzw-red: #B70100;
$nav-border: #B3B3B3;
$nav-links: #4D4D4D;
$nav-links-light: #808080;
$featured-bg: #F6F6F6;
$product-panel-border: #E5E5E5;

/* REMOVE FROM FOUNDATION LIB -- NOTES */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: none;
    border: none;
    box-shadow: none;
    transition: none;
    outline: none;
}


@mixin off-screen {
    text-indent: -9999px;
}