// Foundation and Compass Imports
@import "app";
@import "fonts";
@import "foundation-overrides";
@import "sprites";

// Font Variables
$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontVzw: "Verizon Apex";
$fontVzwBook: "Verizon Apex Book";
$fontVzwBookItalic: "Verizon Apex Book Italic";
$fontVzwBold: "Verizon Apex Bold";
$fontVzwLight: "Verizon Apex Light";
$fontVzwMedium: "Verizon Apex Medium";

// Color Variables
$colorVzwRed: #D00505;
$colorVzwLogoBg: #B30000;
$colorVzwNavBorder: #F6F6F6;
$colorNavLinks: #757575;
$colorNavAccountLinks: #999;
$colorProductPanelBorder: #E5E5E5;
$tabsBGcolor: #DFE3E4;
$colorActiveTabBg: #E5EAEA;
$colorActiveTabBrd: #B7BBBD;

// Global Styles
$globalGutter: 30px;

html, body {
    font-family: $fontVzwBook;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $fontVzwLight;
}

.wrapper {
    @include clearfix();
    position: relative;
    margin: 0 auto;
    padding: 0 $columnGutter;
    max-width: $screenXlarge - $columnGutter;
}
#site-header { 
    .mls-nav {
        overflow: hidden;
        height: 45px;
        .nav-tabs {
            .logo,
            .nav-tab { 
                float: left; 
                a { 
                    display: block; 
                    color: $colorNavLinks;
                }
            }
            &.left {
                .dropdown {
                    a {
                        background: transparent url(../img/sprites/ui/drop-down.png) right center no-repeat;
                        padding-right: 15px;
                    }
                }
            }
            .nav-tab {
                height: 45px;
                line-height: 45px;
                padding: 0 15px;
                text-align: center;
                font: {
                    family: $fontVzwBook;
                    size: 18px;
                }
                &.active {
                    background-color: $colorActiveTabBg;
                    border: {
                        left: 1px solid $colorActiveTabBrd;
                        right: 1px solid $colorActiveTabBrd;
                    }
                }
            }
            .logo {
                width: 45px;
                h1 { 
                    margin: 0;
                    text-indent: -9999px;
                    padding: 15px;
                    font-size: 18px;
                    a {
                        background-color: #757575;
                    }
                }
            }
        }
    }
    .nav-tabs-content { 
        display: none;
        /* styles to come.. */
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) {
    .hide-for-large-grid { display: none; }
    .show-for-large-grid { display: inherit; }
}

@media only screen and (max-width: $screenMobileLarge - 1) and (min-width: $screenMobileSmall + 1) {

}
@media only screen and (max-width: $screenMobileSmall) {
    
}
// Page Includes
@import "pages/product-listing";
@import "pages/product-detail";
@import "pages/search-results";
@import "pages/category-listing";
@import "pages/cart";
@import "pages/brand-landing";
@import "pages/content-landing";
@import "pages/pdp-plus";
