/*
 * Foundation and Compass Imports
 */

@import "app";                      // Zurb Foundation and Compass
@import "fonts";                    // Font Definitions (VZW Apex)
@import "foundation-overrides";     // Any Functionality we need to override in foundation
@import "sprites";                  // ******* Sprites - these need to be cleaned up and minimized *******

/*
 * Site-wide SASS Variables
 */

// Font Variables
$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontVzw: "Verizon Apex";
$fontVzwBook: "Verizon Apex Book";
$fontVzwBookItalic: "Verizon Apex Book Italic";
$fontVzwBold: "Verizon Apex Bold";
$fontVzwBoldItalic: "Verizon Apex Bold Italic";
$fontVzwLight: "Verizon Apex Light";
$fontVzwMedium: "Verizon Apex Medium";

/* Global colors */
$colorVzwRed: #D00505;
$colorVzwLogoBg: #B30000;
$colorVzwNavBrd: #FFFFFF;
$colorVzwNavBrdShade: #D1D3D0;
$colorNavLinks: #757575;
$colorNavAccountLinks: #999;
$colorProductPanelBorder: #E5E5E5;
$tabsBGcolor: #DFE3E4;
$colorActiveTabBg: #E5EAEA;
$colorActiveTabBrd: #B7BBBD;
$colorNavMobile: #3C4045;


/* Product, cart & checkout colors */

	$cartGreyLt: #b0b0b0; 
 	$cartGreyMd: #666666;
 	$cartGreyDk: #3d4146;
 	$cartGreySelect: #adadad;
 	$cartGreyAltWht: #edefef;
 	$cartGreyFocus: #d9d9d9;
 	
 	$actLinkBlue: #0066cc;
 	$successGreen: #54b87d;
 	
	$featuredBg : #27a0cc;
	$techinfoBg : #119a70;
	$highlightBg: #29a0cd;
	$pdpAmber: #ffba62;
	$saleBannerBG: #36a99e;
	

// General Variables
$globalGutter: 30px;

/* 
 * Global Styles
 */

/*
 * Mixins
 */

@import "mixins";





@import "global";
@import "globals/mega-menu";
@import "globals/scrollbar";
@import "globals/article";


/*
 * Page-Specific Styles
 */

@import "pages/home";
@import "pages/product-listing";
@import "pages/product-detail";
@import "pages/search-results";
@import "pages/category-landing";
@import "pages/cart";
@import "pages/brand-landing";
@import "pages/content-landing";
@import "pages/pdp-plus";
@import "pages/checkout";
@import "pages/lifestyle";
@import "pages/special-offers-landing";
@import "pages/404";

@import "globals/_modal";			// modal overlay