// Foundation and Compass Imports
@import "app"; // Compass, Foundation...

// Foundation Overrides
@import "foundation-overrides";

// Verizon Font-Face Imports
@import "fonts"; 

// Font Variables
$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontVzwBook: "Verizon Apex Book";
$fontVzwBold: "Verizon Apex Bold";
$fontVzwLight: "Verizon Apex Light";
$fontVzwMedium: "Verizon Apex Medium";

// Color Variables
$colorVzwRed: #C00;
$colorVzwLogoBg: #B30000;
$colorVzwNavBorder: #F6F6F6;
$colorNavLinks: #666;
$colorNavAccountLinks: #999;
$colorProductPanelBorder: #E5E5E5;

// sprites 
$ui-layout: smart;
@import "ui/*.png";
@include all-ui-sprites;

// Global Styles

html, body {
    font-family: $fontVzwBook;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $fontVzwLight;
}

.top-bar {
    font: {
        family: $fontVzwMedium;
        size: 12px;
    }
    margin: 0;
    ul {
        > li:not(.name):hover, 
        > li:not(.name).active, 
        > li:not(.name):focus {
            background: none; 
            border-bottom: inherit;
            a { 
                color: $colorNavLinks;
            }
        }
        > li.has-dropdown a:after {
            border-color: $colorNavLinks transparent transparent transparent;
        }
    }
}
.header { 
    .top-bar {
        background-color: white;
        border-bottom: 1px solid $colorVzwNavBorder;
        height: 60px;
        line-height: 60px;
        > ul {
            height: 60px;
            line-height: 60px;
            &.right li { border: none; }
            > li {
                min-width: 60px;
                line-height: 30px;
                border-right: 1px solid $colorVzwNavBorder;
                padding: 15px;
                text-transform: uppercase;
                .inline-list { 
                    height: inherit;
                    line-height: inherit;
                    margin: 0;
                    > li {
                        height: 30px;
                        line-height: 30px;
                        margin: 0;
                        &:last-child a:first-child {
                            border-right: none;
                        }
                    }
                }
                a {
                    display: block;
                }
                a:not(.button) {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    font-weight: normal;
                    color: $colorNavLinks;
                }
                &.drawer {
                    border-left: none;
                    a:not(.button) { width:20px; height: 18px; margin: 6px auto;}
                }
                &.logo {
                    text-indent: -9999px;
                    background: $colorVzwLogoBg;
                    padding: 0;
                    h1 {
                        width: 85px;
                        a { 
                            height: 60px;
                        }
                    }
                }
                &.has-dropdown a {
                    padding-right: 25px;
                }
                &.account-links {
                    //padding: 14px 15px;
                    a { 
                        display: inline;
                        color: $colorNavAccountLinks;
                        font: {
                            size: 12px;
                        }
                        text-decoration: none;
                        padding: 0 10px;
                        margin: 0;
                        &:first-child {
                            border-right: 1px solid $colorNavAccountLinks;
                        }
                    }
                }
                &.site-search {
                    font-family: $fontVzwBook;
                    border-right: none;
                    input[type="text"] {
                        display: block;
                        text-transform: uppercase;
                        border: none;
                        box-shadow: none;
                        margin: 0;
                        background: transparent url(../img/ui/nav-search.png) 5px center no-repeat;
                        padding-left: 35px;
                        width: 400px;
                        &:hover {
                            border: none;
                        }
                    }
                }
                &.location a:not(.button),
                &.help a:not(.button),
                &.shopping-bag a:not(.button) { display: block; padding: 0; margin: 0 auto; }
                &.location {
                    a:not(.button) { width: 15px; height: 20px; margin: 5px auto; }
                }
                &.help a:not(.button) { width: 12px; height: 21px; margin: 4.5px auto; }
                &.shopping-bag {
                    border-right: none;
                    a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
                }
            }
        }
    }
}

// Page Includes
@import "pages/product-category-listing.scss";
@import "pages/product-detail.scss";