<header id="content-grid-header" class="content-grid-header">
  <div class="wrapper">
    <div class="content-grid-heading">
      <h1 class="content-grid-category">Headphones on Sale</h1>
      <h3 id="content-filter-count" class="content-filter-count"><strong>298</strong> Products</h3>
    </div>
    <div id="sort-options" class="sort-options">
      <ul class="inline-list">
        <li class="fltr-featured active hide-for-touch"><a href="#">featured</a><a href="#" class="hover"></a></li>
        <li class="fltr-newest hide-for-touch"><a href="#">newest</a><a href="#" class="hover"></a></li>
        <li class="fltr-price-asc hide-for-touch"><a href="#">price</a><a href="#" class="hover"></a></li>
        <li class="fltr-price-desc hide-for-touch"><a href="#">price</a><a href="#" class="hover"></a></li>
        <li class="fltr-high-rated hide-for-touch"><a href="#">highest rated</a><a href="#" class="hover"></a></li>
        <li class="fltr-best-selling hide-for-touch"><a href="#">best selling</a><a href="#" class="hover"></a></li>
        <li id="drawer-filter" class="show-for-touch"><a href="#">filter</a></li>
        <li id="drawer-sort" class="sort show-for-touch">
          <label for="sort-options">Sorty By</label>
          <select id="sort-options">
            <option value="featured">Featured</option>
            <option value="rating">Rating</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <article id="spec-offer-header" class="spec-offer-header">
    <div class="offer-content">
      <figure class="offer-fig">
        <img src="img/product-category-listing/sp-ofr-hdph-lg.jpg" />
      </figure>
      <p class="offer-copy">
        Buy 3 headphones get <strong>20<sup>%</sup><span>off</span></strong>
        <a href="#" class="offer-cta" title="learn more">learn more<span>&gt;</span></a>
      </p>
    </div>
    <div class="offer-actions">
      <a href="#" class="expand toggle">see more</a>
      <a href="#" class="collapse toggle">close</a>
    </div>
  </article>
</header>