@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    .header .top-bar > ul > li {
        min-width: 50px;
        padding: 15px 8px;
        &.site-search input[type="text"] {
            width: 150px;
        }
    }
    .left-column {
        display: none !important;
        @include clearfix();
        @include column(12, center collapse);
        float: none;
        max-width: 100%;
        .filter {
            @include column(2);
            margin: 0 $columnGutter;
            float: left;
        }
    }
    .main{
        @include innerRow();
        @include column(12, center);
        margin: 0;
    }
    .products-content { 
        .products { 
            .product {
                @include column(4, center);
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        @include column(4, center);
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}