<!-- similar products module -->

				<div class="content-items">
					<form name="content-grid-1" method="post" action="">
				<ul class="content-grid slides">
								<li class="content-item"><a href="#" title="view this item1" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/fitbit.png" title="Fitbit Activity Tracker">
										</div>
										<h3 class="product-title">Fitbit Activity Tracker</h3>
										<div class="simple-price">
											$79.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a>
								<div class="color-picker">
				                    <ul class="colors">
				                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
				                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
				                        </a>
				                      </li>
				                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
				                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
				                        </a>
				                      </li>
				                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
				                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
				                        </a>
				                      </li>
				                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
				                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
				                        </a>
				                      </li>
				                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
				                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
				                        </a>
				                      </li>
				                    </ul>
				                  </div>
				                  <div class="content-details">
				                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
				                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
				                  </div>
							</li>

								<li class="content-item"><a href="#" title="view this item2" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/jawbone.png" title="Jawbone Up Wristband">
										</div>
										<h3 class="product-title">Jawbone Up Wristband</h3>
										<div class="simple-price">
											$159.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a>
								<div class="color-picker">
			                    <ul class="colors">
			                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
			                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
			                        </a>
			                      </li>
			                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
			                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
			                        </a>
			                      </li>
			                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
			                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
			                        </a>
			                      </li>
			                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
			                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
			                        </a>
			                      </li>
			                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
			                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
			                        </a>
			                      </li>
			                    </ul>
			                  </div>
			                  <div class="content-details">
			                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
			                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
			                  </div>
			              </li>

								<li class="content-item"><a href="#" title="view this item3" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/boomerang.png" title="iSound Boomerang Speaker">
										</div>
										<h3 class="product-title">iSound Boomerang Speaker</h3>
										<div class="simple-price">
											$79.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a><div class="color-picker">
                    <ul class="colors">
                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="content-details">
                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                  </div></li>

								<li class="content-item"><a href="#" title="view this item4" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" title="Denon Globe Cruiser On-Ear Headphones">
										</div>
										<h3 class="product-title">Denon Globe Cruiser On-Ear Headphones</h3>
										<div class="simple-price">
											$499.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a><div class="color-picker">
                    <ul class="colors">
                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="content-details">
                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                  </div></li>

								<li class="content-item"><a href="#" title="view this item5" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Awesome In-Ear Headphones">
										</div>
										<h3 class="product-title">Awesome In-Ear Headphones</h3>
										<div class="simple-price">
											$139.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a><div class="color-picker">
                    <ul class="colors">
                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="content-details">
                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                  </div></li>

								<li class="content-item"><a href="#" title="view this item6" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/fitbit.png" title="Fitbit Activity Tracker">
										</div>
										<h3 class="product-title">Fitbit Activity Tracker</h3>
										<div class="simple-price">
											$79.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>

								<li><a href="#" title="view this item7" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/jawbone.png" title="Jawbone Up Wristband">
										</div>
										<h3 class="product-title">Jawbone Up Wristband</h3>
										<div class="simple-price">
											$159.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a><div class="color-picker">
                    <ul class="colors">
                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="content-details">
                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                  </div></li>

								<li class="content-item"><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/boomerang.png" title="iSound Boomerang Speaker">
										</div>
										<h3 class="product-title">iSound Boomerang Speaker</h3>
										<div class="simple-price">
											$79.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>

								<li><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" title="Denon Globe Cruiser On-Ear Headphones">
										</div>
										<h3 class="product-title">Denon Globe Cruiser On-Ear Headphones</h3>
										<div class="simple-price">
											$499.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a><div class="color-picker">
                    <ul class="colors">
                      <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
                        </a>
                      </li>
                      <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="content-details">
                    <div class="quick-view"><a href="#quick-view" title="Quickview" data-pid="00110001">quickview</a></div>
                    <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                  </div></li>

								<li class="content-item"><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Awesome In-Ear Headphones">
										</div>
										<h3 class="product-title">Awesome In-Ear Headphones</h3>
										<div class="simple-price">
											$139.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>

								<li><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">

										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" title="Denon Globe Cruiser On-Ear Headphones">
										</div>
										<h3 class="product-title">Denon Globe Cruiser On-Ear Headphones</h3>
										<div class="simple-price">
											$499.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>

									</div><!-- end simple item -->
								</a></li>

								<li class="content-item"><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/jawbone.png" title="Jawbone Up Wristband">
										</div>
										<h3 class="product-title">Jawbone Up Wristband</h3>
										<div class="simple-price">
											$159.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>

								<li><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/boomerang.png" title="iSound Boomerang Speaker">
										</div>
										<h3 class="product-title">iSound Boomerang Speaker</h3>
										<div class="simple-price">
											$79.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>

								<li class="content-item"><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/fitbit.png" title="Fitbit Activity Tracker">
										</div>
										<h3 class="product-title">Fitbit Activity Tracker</h3>
										<div class="simple-price">
											$79.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>

								<li class="content-item"><a href="#" title="view this item" class="product-link">
									<div class="simple-slider-item">
										<div class="simple-image">
											<img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Awesome In-Ear Headphones">
										</div>
										<h3 class="product-title">Awesome In-Ear Headphones</h3>
										<div class="simple-price">
											$139.99
										</div>
										<div class="simple-ratings">
											<img src="img/sprites/pdp/stars-temp.png" >
										</div>
									</div><!-- end simple item -->
								</a></li>
						</ul>
<!-- end similar products module -->
</form>
</div>
