<header class="category-list-header">

  <section class="category-header-promo">
    <h1 class="promo-header">listen up</h1>
    <div class="category-image">
      <img src="img/category-listing/hdr-beats.png" alt="Beats by Dre">
    </div>
    <div class="promo-info">
      <p class="promo-copy">
        <span class="hyphen">-</span><span class="copy">Check out our entire selection of headphones</span>
      </p>
      <a href="#" class="button promo-cta"><span>see all</span></a>
      <span class="caret show-for-mobile"></span>
      <div class="mobile-details show-for-mobile">
      <p class="mobile-copy">Check out our entire selection of headphones</p>
      <p class="mobile-cta"><span><a class="see-details" href="#">See details</a></span></p>
    </div>
    </div>
  </section>
  <div class="special-header">
    <strong>Shop</strong><span> Music &amp; Audio</span>
  </div>
</header>
