<header class="category-list-header">
  <div class="header-info">
    <h1 class="category-header">music &amp; audio</h1>
    <p class="category-header-message">Free 3-5 Day Ground Shipping on All Orders</p>
  </div>
  <section class="category-header-promo">
    <h1 class="promo-header">feel the beat</h1>
    <div class="category-image">
      <img src="img/category-listing/hdr-dre-beats.jpg" alt="Beats by Dre">
    </div>
    <div class="promo-info">
      <p class="promo-copy">
        Check out Beats by Dre products
      </p>
      <a href="#" class="button promo-cta"><span>see all</span></a>
    </div>
  </section>
</header>