<ul id="product-colors" class="product-colors inline-list">
    <li class="color black active">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" data-color="black" class="action" title="black">
            <img src="img/product-category-listing/pick-blk.png"/>
        </a>
    </li>
    <li class="color white">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" data-color="white" class="action" title="white">
            <img src="img/product-category-listing/pick-wht.png"/>
        </a>
    </li>
    <li class="color blue">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" data-color="red" class="action" title="red">
            <img src="img/product-category-listing/pick-red.png"/>
        </a>
    </li>
</ul>
