<div id="complex-item-modal-overlay"></div>
<div id="complex-item-modal">
	<a href="#" class="close-btn"></a>
	<h1>Want to check out your device first?</h1>
	<div class="product-image">
		<img src="img/droid.jpg"/>
	</div>
	<p class="info">Looks like you also have <span class="product-name">Droid RAXR MAXX</span> in your cart. Want to purchase it first?</p>
	<div class="actions">
		<a href="#" class="contextual-link">check out <br/>accessories</a>
		<a href="#" class="checkout-link"><span>check out<br/> device</span></a>
	</div>
</div>

