<header id="content-grid-header" class="content-grid-header">
  <div class="wrapper">
    <div class="content-grid-heading">
      <h1 class="content-grid-category">Headphones</h1>
      <h3 id="content-filter-count" class="content-filter-count"><strong>298</strong> <br/>Products</h3>
    </div>
    <div id="sort-options" class="sort-options hide-for-small">
        <h2>SORT BY:</h2>
        <ul class="inline-list">
            <li class="fltr-featured active hide-for-touch" data-type="featured"><a href="#">featured</a><a href="#" class="hover"></a></li>
            <li class="fltr-newest hide-for-touch" data-type="newest"><a href="#">newest</a><a href="#" class="hover"></a></li>
            <li class="fltr-price-asc hide-for-touch" data-type="price-asc"><a href="#">price</a><a href="#" class="hover"></a></li>
            <li class="fltr-price-desc hide-for-touch" data-type="price-desc"><a href="#">price</a><a href="#" class="hover"></a></li>
            <li class="fltr-high-rated hide-for-touch" data-type="highest-rated"><a href="#">highest rated</a><a href="#" class="hover"></a></li>
            <li class="fltr-best-selling hide-for-touch" data-type="best-selling"><a href="#">best selling</a><a href="#" class="hover"></a></li>
            <li class="fltr-trending hide-for-touch" data-type="trending"><a href="#">trending</a><a href="#" class="hover"></a></li>
            <li id="drawer-filter" class="show-for-touch"><a href="#">filter</a></li>
            <li id="drawer-sort" class="sort show-for-touch">
              <label for="sort-options">Sorty By</label>
              <select id="sort-options">
                <option value="featured">Featured</option>
                <option value="rating">Rating</option>
              </select>
            </li>
        </ul>
    </div>
</div>
    <div id="mobile-sort-filter" class="mobile-sort-filter show-for-small">
        <a href="#" class="dropdown-cta filter"><span>filter</span></a>
        <a href="#" class="dropdown-cta sort"><span>sort</span></a>
        <div class="dropdown-menu">
            <ul class="submenu-list sort-options-list">
                <li class="" data-type="featured">featured</li>
                <li class="" data-type="newest">newest</li>
                <li class="" data-type="price-asc">price ascending</li>
                <li class="" data-type="price-desc">price descending</li>
                <li class="" data-type="highest-rated">highest rated</li>
                <li class="" data-type="best-selling">best selling</li>
                <li class="" data-type="trending">trending</li>
            </ul>
            <ul class="submenu-list filter-options-list">
                <li class="" data-type="compatibility">Compatibility</li>
                <li class="" data-type="special-offers">Special Offers</li>
                <li class="" data-type="colors">Colors</li>
                <li class="" data-type="lifestyles">Lifestyles</li>
                <li class="" data-type="brand">Brand</li>
            </ul>
        </div>
  </div>
</header>
