<header id="content-grid-header" class="content-grid-header">
  <div class="wrapper">
    <div class="content-grid-heading">
      <h1 class="content-grid-category">Headphones</h1>
      <h3 id="content-filter-count" class="content-filter-count"><strong>298</strong> <br/>Products</h3>
    </div>
    <div id="sort-options" class="sort-options hide-for-small">
        <h2>SORT BY:</h2>
        <ul class="inline-list">
            <li class="fltr-featured active hide-for-touch" data-type="featured"><a href="#">featured</a><a href="#" class="hover"></a></li>
            <li class="fltr-newest hide-for-touch" data-type="newest"><a href="#">newest</a><a href="#" class="hover"></a></li>
            <li class="fltr-price-asc hide-for-touch" data-type="price-asc"><a href="#">price</a><a href="#" class="hover"></a></li>
            <li class="fltr-price-desc hide-for-touch" data-type="price-desc"><a href="#">price</a><a href="#" class="hover"></a></li>
            <li class="fltr-high-rated hide-for-touch" data-type="highest-rated"><a href="#">highest rated</a><a href="#" class="hover"></a></li>
            <li class="fltr-best-selling hide-for-touch" data-type="best-selling"><a href="#">best selling</a><a href="#" class="hover"></a></li>
            <li id="drawer-filter" class="show-for-touch"><a href="#">filter</a></li>
            <li id="drawer-sort" class="sort show-for-touch">
              <label for="sort-options">Sorty By</label>
              <select id="sort-options">
                <option value="featured">Featured</option>
                <option value="rating">Rating</option>
              </select>
            </li>
        </ul>
    </div>
</div>
    <div id="mobile-sort-filter" class="mobile-sort-filter show-for-small">
        <a href="#" class="dropdown-cta filter"><span>filter</span></a>
        <a href="#" class="dropdown-cta sort"><span>sort</span></a>
        <div class="dropdown-menu">
            <ul class="submenu-list sort-options-list">
                <li class="sort-option" data-type="featured">featured</li>
                <li class="sort-option" data-type="newest">newest</li>
                <li class="sort-option" data-type="price-asc">price ascending</li>
                <li class="sort-option" data-type="price-desc">price descending</li>
                <li class="sort-option" data-type="highest-rated">highest rated</li>
                <li class="sort-option" data-type="best-selling">best selling</li>
                <li class="sort-option" data-type="trending">trending</li>
            </ul>
            <ul class="submenu-list filter-options-list">
                <li class="filter-option" data-type="compatibility">Compatibility</li>
                <li class="filter-option" data-type="special-offers">Special Offers</li>
                <li class="filter-option" data-type="colors">Colors</li>
                <li class="filter-option" data-type="lifestyles">Lifestyles</li>
                <li class="filter-option" data-type="brand">Brand</li>
            </ul>
        </div>
    </div>
    <div class="filter-panels">
        <a href="#closePanel" class="close">close x</a>
        <div class="filter-panel compatibility" data-dimension="compatibility">
            <h2 class="dimension-title">Compatibility</h2>
            <ul class="dimension-list single-select">
                <li class="list-option first">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option last">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
            </ul>
        </div>
        <div class="filter-panel special-offers" data-dimension="special-offers">
            <h2 class="dimension-title">Special Offers</h2>
            <ul class="dimension-list single-select">
                <li class="list-option first">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option last">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
            </ul>
        </div>
        <div class="filter-panel colors" data-dimension="colors">
            <h2 class="dimension-title">Colors</h2>
            <ul class="dimension-list multi-select">
                <li class="list-option first" data-facet="white">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-color white"></span>
                </li>
                <li class="list-option" data-facet="purple">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-color purple"></span>
                </li>
                <li class="list-option" data-facet="red">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-color red"></span>
                </li>
                <li class="list-option" data-facet="orange">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-color orange"></span>
                </li>
                <li class="list-option last" data-facet="green">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-color green"></span>
                </li>
            </ul>
        </div>
        <div class="filter-panel lifestyles" data-dimension="lifestyles">
            <h2 class="dimension-title">Lifestyles</h2>
            <ul class="dimension-list multi-select">
                <li class="list-option first">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option last">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
            </ul>
        </div>
        <div class="filter-panel brand" data-dimension="brand">
            <h2 class="dimension-title">Brand</h2>
            <ul class="dimension-list multi-select">
                <li class="list-option first">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
                <li class="list-option last">
                    <span class="facet-check"></span>
                    <span class="facet-name">facet</span>
                    <span class="facet-count">(25)</span>
                </li>
            </ul>
        </div>
    </div>
</header>
