<div class="content-landing-header">
  <div class="wrapper">
    
    <h2>
      <strong class="results-count">200</strong>
      <span class="type">All Content</span>
    </h2>

    <div class="sort">
      <label for="sort-options">Sorty By</label>
      <select id="sort-options">
        <option value="featured">Featured</option>
        <option value="rating">Rating</option>
      </select>
    </div>
    <div class="mobile-filters">
      <a href="#" id="mobile-filter" class="filter">
        <span>filter</span>
      </a>
      <a href="#" id="mobile-sort" class="filter">
        <span>sort</span>
      </a>
    </div>
  </div>
</div>