<article class="story">
  <figure class="story-fig">
    <img src="img/content-landing/story-image.jpg" alt="story title">
  </figure>
  <div class="story-content">
    <header class="story-header">
      <time class="pub-date" pubdate datetime="2013-01-03">03.01.2013</time>
      <h1 class="title">Lorem Ipsum Dolor</h1> 
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a href="#?articleId=someId321" class="content-cta article">read story &gt;</a>
  </div>
  <ul class="story-social">
    <li class="first share email">
      <a href="#" title="Share via Email">
        <span class="count">32</span>
      </a>
    </li>
    <li class="share facebook">
      <a href="#" title="Share on Facebook">
        <span class="count">125K</span>
      </a>
    </li>
    <li class="share twitter">
      <a href="#" title="Share on Twitter">
        <span class="count">14K</span>
      </a>
    </li>
    <li class="share g-plus">
      <a href="#" title="Share on Google Plus">
        <span class="count">28K</span>
      </a>
    </li>
    <li class="last share pinterest">
      <a href="#" title="Share on Pinterest">
        <span class="count">5K</span>
      </a>
    </li>
  </ul>
</article>