<section class="featured-reviews category-section hide-for-small">
<div class="section-wrap">
  <header class="content-header">
    <h1 class="title"><strong>Featured</strong> Reviews</h1>
    <div class="slide-nav"></div>
  </header>
</div>

<div class="slide-wrapper featuredReviewSlider">
<ul class="slides">
	<li class="slide">
		<div class="featured-review">
			<div class="product-img">
				<img src="img/home/babymonitor.png" />
			</div>
			<div class="product-details">
				<p class="post-info">
					<span class="user-name">Dave Smith</span> | <span class="post-date">April 2013</span>
				</p>
				<p class="user-review">"The Whithings Smart Baby Monitor gives me peace of mind lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed"</p>
				<span class="carrot"></span>
				<h2 class="product-title">Withings Smart Baby Monitor</h2>
				<ul id="review-block" class="inline-list">
				<li><div class="ratings"></div></li>
					<li class="reviews"><a href="#" class="review-link" title="See reviews for this item.">(47)</a></li>
			</ul>


			<a href="#" class="button promo-cta"><span>view product</span></a>
			</div>
		</div>
	</li>
	<li class="slide">
		<div class="featured-review">
			<div class="product-img">
				<img src="img/home/babymonitor.png" />
			</div>
			<div class="product-details">
				<span class="carrot"></span>
				<h2 class="product-title">Withings Smart Baby Monitor</h2>
				<ul id="review-block" class="inline-list">
				<li><div class="ratings"></div></li>
					<li class="reviews"><a href="#" class="review-link" title="See reviews for this item.">(47)</a></li>
			</ul>
			<p class="user-review">"The Whithings Smart Baby Monitor gives me peace of mind lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed"</p>
			<p class="post-info">
				<span class="user-name">Dave Smith</span> | <span class="post-date">April 2013</span>
			</p>
			<a href="#" class="button promo-cta"><span>see details</span></a>
			</div>
		</div>
	</li>
	<li class="slide">
		<div class="featured-review">
			<div class="product-img">
				<img src="img/home/babymonitor.png" />
			</div>
			<div class="product-details">
				<span class="carrot"></span>
				<h2 class="product-title">Withings Smart Baby Monitor</h2>
				<ul id="review-block" class="inline-list">
				<li><div class="ratings"></div></li>
					<li class="reviews"><a href="#" class="review-link" title="See reviews for this item.">(47)</a></li>
			</ul>
			<p class="user-review">"The Whithings Smart Baby Monitor gives me peace of mind lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed"</p>
			<p class="post-info">
				<span class="user-name">Dave Smith</span> | <span class="post-date">April 2013</span>
			</p>
			<a href="#" class="button promo-cta"><span>see details</span></a>
			</div>
		</div>
	</li>
	<li class="slide">
		<div class="featured-review">
			<div class="product-img">
				<img src="img/home/babymonitor.png" />
			</div>
			<div class="product-details">
				<span class="carrot"></span>
				<h2 class="product-title">Withings Smart Baby Monitor</h2>
				<ul id="review-block" class="inline-list">
				<li><div class="ratings"></div></li>
					<li class="reviews"><a href="#" class="review-link" title="See reviews for this item.">(47)</a></li>
			</ul>
			<p class="user-review">"The Whithings Smart Baby Monitor gives me peace of mind lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed"</p>
			<p class="post-info">
				<span class="user-name">Dave Smith</span> | <span class="post-date">April 2013</span>
			</p>
			<a href="#" class="button promo-cta"><span>see details</span></a>
			</div>
		</div>
	</li>
</ul>
</div>
</section>
