<!-- guides module -->
<article id="guides-module" class="guides-module category-section hide-for-small hide-for-mobile">
  <header class="content-header">
    <h1 class="title"><strong>Guides</strong> Lorem Ipsum<a href="#see-all" title="See All">see all</a></h1>
    <div class="slide-nav"></div>
  </header>
  <ul class="guides-slider content-grid guide-grid slides">
    <li class="first content-item guide-slide">
      <div class="wrapper slide-1">
        <p class="guide-copy">5 Things to know about 7.1</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon1.png">
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper slide-2">
        <p class="guide-copy">Quality audio that's waterproof</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon2.png">
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper slide-3">
        <p class="guide-copy">Best heapdhones for working</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon3.png">
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper slide-4">
        <p class="guide-copy">what's hot now in audio</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon4.png">
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper slide-1">
        <p class="guide-copy">5 Things to know about 7.1</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon1.png">
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper slide-2">
        <p class="guide-copy">Quality audio that's waterproof</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon2.png">
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper slide-3">
        <p class="guide-copy">Best heapdhones for working</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon3.png">
      </div>
    </li>
    <li class="last content-item guide-slide">
      <div class="wrapper slide-4">
        <p class="guide-copy">what's hot now in audio</p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon4.png">
      </div>
    </li>
  </ul>
</article>
<!-- end guides module -->
