<!-- begin Highlights module -->
<div class="highlight-module">
    <ul class="tabs">
        <li data-tabname="one" class="active">
            <span class="image"><img src="../img/product-detail-page/pdp-plus/hilight-app-icon.png" alt="" /></span>
            <span class="title">APP ENABLED</span>
            <span class="marker"></span>
        </li>
        <li data-tabname="two">
            <span class="image"><img src="../img/product-detail-page/pdp-plus/hilight-data-icon.png" alt="" /></span>
            <span class="title">DATA PLAN NEEDED</span>
            <span class="marker"></span>
        </li>
        <li data-tabname="three">
            <span class="image"><img src="../img/product-detail-page/pdp-plus/hilight-wifi-icon.png" alt="" /></span>
            <span class="title">WIFI ENABLED</span>
            <span class="marker"></span>
        </li>
        <li data-tabname="four">
            <span class="image"><img src="../img/product-detail-page/pdp-plus/hilight-smart-icon.png" alt="" /></span>
            <span class="title">SMART ACCESSORY</span>
            <span class="marker"></span>
        </li>
    </ul>

    <ul class="content">
        <li data-tabname="one">
            <span class="title">Apps for this Product</span>
            <ul>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-facebook.png" alt="" />
                    <p>
                        <span class="title">Facebook</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-yelp.png" alt="" />
                    <p>
                        <span class="title">Yelp</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-foursquare.png" alt="" />
                    <p>
                        <span class="title">Foursquare</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
            </ul>
        </li>
        <li data-tabname="two">
            <ul>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-facebook.png" alt="" />
                    <p>
                        <span class="title">Facebook</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-yelp.png" alt="" />
                    <p>
                        <span class="title">Yelp</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-foursquare.png" alt="" />
                    <p>
                        <span class="title">Foursquare</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
            </ul>
        </li>
        <li data-tabname="three">
            <ul>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-facebook.png" alt="" />
                    <p>
                        <span class="title">Facebook</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-yelp.png" alt="" />
                    <p>
                        <span class="title">Yelp</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-foursquare.png" alt="" />
                    <p>
                        <span class="title">Foursquare</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
            </ul>
        </li>
        <li data-tabname="four">
            <ul>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-facebook.png" alt="" />
                    <p>
                        <span class="title">Facebook</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-yelp.png" alt="" />
                    <p>
                        <span class="title">Yelp</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
                <li>
                    <img src="../img/product-detail-page/pdp-plus/features-foursquare.png" alt="" />
                    <p>
                        <span class="title">Foursquare</span>
                        <span class="copy">Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.</span>
                        <a href="" title="learn more...">LEARN MORE</a>
                    </p>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="summary">
        <li>
            <div class="graphic">
                <img src="../img/product-detail-page/pdp-plus/battery.jpg" alt="" />
                <span>BATTERY</span>
            </div>
            <div class="figure">
                <span class="digit">9</span>
                <span class="measure">hrs</span>
            </div>
        </li>
        <li>
            <div class="graphic">
                <img src="../img/product-detail-page/pdp-plus/standby.jpg" alt="" />
                <span>STANDBY</span>
            </div>
            <div class="figure">
                <span class="digit">100</span>
                <span class="measure">hrs</span>
            </div>
        </li>
        <li>
            <div class="graphic">
                <img src="../img/product-detail-page/pdp-plus/bluetooth.jpg" alt="" />
                <span>CONNECTIVITY</span>
            </div>
            <div class="figure">
                <span class="digit">36</span>
                <span class="measure">ft</span>
            </div>
        </li>
        <li>
            <div class="graphic">
                <img src="../img/product-detail-page/pdp-plus/weight.jpg" alt="" />
                <span>WEIGHT</span>
            </div>
            <div class="figure">
                <span class="digit">.21</span>
                <span class="measure">kg</span>
            </div>
        </li>
    </ul>
</div>
<!-- end Highlights module -->