      <section id="lifestyles" class="lifestyles category-section hide-for-medium hide-for-small">
        <div class="section-wrap">
          <header class="content-header">
            <h1 class="title"><strong>Lifestyles</strong></h1>
          </header>
        </div>
        <div class="lifestyles-wrapper">

        <div class="tabbed-wrapper">
              <div class="tab-block">
              <div class="tab-scroll">
                    <dl id="lifestyles-tabs" class="tabs">
                      <dd class="alpha-tab active" >
                          <a href="#lifestyles-alpha" title="Similar items" ><h2>Alpha Lifestyle</h2></a>
                          <div class="pointer"></div>
                      </dd>


                      <dd class="beta-tab" >
                        <a href="#lifestyles-beta" title="Others also bought" ><h2>Beta Lifestyle</h2></a>
                        <div class="pointer"></div>
                      </dd>

                      <dd class="gamma-tab" >
                        <a href="#lifestyles-gamma" title="Works with" ><h2>Gamma Lifestyle</h2></a>
                        <div class="pointer"></div>
                      </dd>

                    </dl>
              </div><!-- end tab scroll -->


                  <ul class="tabs-content">

                    <li id="lifestyles-alphaTab" class="active"><!------- ALPHA STORY TAB ------>
                      <div class="tab-wrapper">

                          <div id="lifestyles-alpha-slider" class="vzn-slide">
                      <ul class="slides">
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
            
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->  
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        
                      </ul>
                    </div><!-- end slider -->
                      </div><!-- tab-wrapper -->
                    </li><!-- end alpha stories -->


                    <li id="lifestyles-betaTab"><!------- BETA HIGHLIGHT TAB ------->
                      <div class="tab-wrapper">
                          <div id="lifestyles-beta-slider" class="vzn-slide">
                      <ul class="slides">
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Beta Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Beta suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
    
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Beta Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Beta suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                      <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Beta Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Beta suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->                            
                      </ul>
                    </div><!-- end slider -->
                      </div><!-- end tab-wrapper -->
                    </li><!-- end beta stories -->

                    <li id="lifestyles-gammaTab"><!------- GAMMA HIGHLIGHT TAB ------->
                      <div class="tab-wrapper">
                          <div id="lifestyles-gamma-slider" class="vzn-slide">
                      <ul class="slides">
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                         <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="large-story">
                          <div class="related-stories-large">
                          
                            <div class="large-story-info-box">
                              <h5 class="large-story-cat">Audiophile</h5>
                              <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                              <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                              <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                            </div>

                            <div class="product-reveal"></div>
                            
                            <div class="related-product">
                                <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                <a href="#" title="view this item" class="product-link">
                                  <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                  <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                              </a>
                            </div>
                      
                          </div><!-- end related stories large -->
                        </li>
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                          <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                        
                        <li class="small-story">
                          <div class="related-stories-small">
                        <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                        
                        </div>
                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>              
                          </div>
                        </li> <!-- end related stories small -->
                      </ul>
                    </div><!-- end slider -->
                      </div><!-- end tab-wrapper -->
                    </li><!-- end gamma stories -->


                     </ul><!-- end tabs content ul -->
                 </div><!-- end tabbed block -->
            </div><!-- end tabbed wrapper -->

          </div><!-- related stories wrapper -->
        </div><!-- end section-wrap -->
      </section>