<section id="product-details" class="pdp-720-plus">
    <div class="tabbed-wrapper">
        <div class="tab-block">
            <div class="tab-scroll">
                <ul class="detail-tabs">
                    <li data-tabname="overview" class="active overview"><span>Overview</span></li>
                    <li data-tabname="features" class="features"><span>Features</span></li>
                    <li data-tabname="reviews" class="reviews"><span>Reviews <em class="count">(47)</em></span></li>
                    <li data-tabname="compatibility" class="compatibility"><span>Compatibility</span></li>
                    <li data-tabname="tech" class="tech"><span>Tech Specs</span></li>
                    <li data-tabname="questions" class="questions"><span>Question &amp; Answers</span></li>
                </ul>
                <ul class="detail-tabs-accordion">
                    <li data-tabname="overview" class="overview active">
                        <span>Overview<em><span class="more">+</span><span class="less">-</span></em></span>
                        <div class="pdp-overview-content tab-wrapper">
                            <div class="more-less-block">
                                <div class="two-thirds left">
                                    <p>Get the BELKIN AC Charger with Swivel Plug  for NOKIA, a home stereo speaker station that showcases legendary JBL® acoustics within a minimalistic, yet bold NOKIA design that  houses “invisible until needed” technology like Qi wireless battery charging and NFC pairing. Get great sound, great design along with Bluetooth® and Qi wireless freedom for your smartphone. Simplified Bluetooth® pairing using your NFC enabled smartphone lets you just tap-to-pair and you're ready to send music from your phone to the JBL® PowerUp Wireless Charging Speaker for NOKIA and charging starts using your NFC enabled smartphone lets you just tap-to-pair and you're ready to send music from your phone to the JBL® PowerUp Wireless Charging Speaker for NOKIA and charging starts. Get great sound, great design along with Bluetooth® and Qi wireless freedom for your smartphone.</p>
                                </div>
                                <div id="overview-bv-include" class="third right">
                                    <img src="img/product-detail-page/pdp-backgrounds/pdp-overview-bv-temp.jpg " alt="Bazaar Voice snippet">
                                </div>
                            </div>
                            <div class="pdp-bundle-block">
                                <h3>Save on Bundles with this Item</h3>
                                <ul class="bundle-items">
                                    <li class="item">
                                        <div class="item-wrapper">
                                            <div class="product-image"><img src="img/product-detail-page/plp-spcl/plp-bundle-item-2.png" alt="Lorem Brand Ispum Bundle Dolor"></div>
                                            <div class="product-info">
                                                <h5 class="product-title">Lorem Brand Ispum Bundle Dolor</h5>
                                                <div class="price">$29.99</div>
                                                <div class="secondary-cta"><input class="secondary-add-cart" type="submit" value="Add to Cart"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-wrapper">
                                            <div class="product-image"><img src="img/product-detail-page/plp-spcl/plp-bundle-item-1.png" alt="Lorem Brand Ispum Bundle Dolor"></div>
                                            <div class="product-info">
                                                <h5 class="product-title">Lorem Brand Ispum Bundle Dolor</h5>
                                                <div class="price">$39.99</div>
                                                <div class="secondary-cta"><input class="secondary-add-cart" type="submit" value="Add to Cart"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-tabname="features" class="features">
                        <span>Features<em><span class="more">+</span><span class="less">-</span></em></span>
                        <div class="pdp-features-content tab-wrapper">
                            <div class="more-less-block">
                                <ul class="details-list">
                                    <li>Wireless charging speaker</li>
                                    <li>Wireless charging speaker</li>
                                    <li>Legendary JBL® sound and complete wireless freedom</li>
                                    <li>Legendary JBL® sound and complete wireless freedom</li>
                                    <li>Wirelessly charge compatible device on top of the speaker</li>
                                    <li>Wirelessly charge compatible device on top of the speaker</li>
                                    <li>High-quality Bluetooth streaming easy tap-to-play with NFC</li>
                                    <li>High-quality Bluetooth streaming easy tap-to-play with NFC</li>
                                    <li>Wireless charging speaker</li>
                                    <li>Legendary JBL® sound and complete wireless freedom</li>
                                    <li>Wirelessly charge compatible device</li>
                                </ul>
                                <span class="more-less-link" title="show more">
                                <span class="more">see more</span>
                                <span class="less">see less</span>
                                </span>
                            </div>
                            <div class="pdp-features-tab-box">
                                <div class="tab-block">
                                    <dl id="pdp-feature-tabs" class="tabs">
                                        <dd data-lifestyle="1" class="active">
                                        <span class="image-wrap">
                                        <img src="img/product-detail-page/tab-lifestyle1-icon.png" class="pdp-feature-tabs-icon " alt="Lifestyle #1">
                                        </span>
                                        <div class="tab-pointer"></div>
                                        </dd>
                                        <dd data-lifestyle="2">
                                        <span class="image-wrap">
                                        <img src="img/product-detail-page/tab-lifestyle2-icon.png" class="pdp-feature-tabs-icon" alt="Lifestyle #2">
                                        </span>
                                        <div class="tab-pointer"></div>
                                        </dd>
                                        <dd data-lifestyle="3">
                                        <span class="image-wrap">
                                        <img src="img/product-detail-page/tab-lifestyle3-icon.png" class="pdp-feature-tabs-icon" alt="Lifestyle #3">
                                        </span>
                                        <div class="tab-pointer"></div>
                                        </dd>
                                    </dl>
                                    <ul class="tabs-content">
                                        <li data-lifestyle="1" class="pdp-feature-tabs-content active">
                                            <h3>Good for Audio/ Video</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi</p>
                                        </li>
                                        <li data-lifestyle="2" class="pdp-feature-tabs-content">
                                            <h3>Great for the Second Lifestyle 2</h3>
                                            <p>Sed diam consequitur somethingy, lorem ipsum dolor sit amet.  Et les moreofsame, with no reference.</p>
                                        </li>
                                        <li data-lifestyle="3" class="pdp-feature-tabs-content">
                                            <h3>Great for the Third Lifestyle 3</h3>
                                            <p>Et les moreofsame, with no reference. Lorem ipsum dolor sit amet, sed diam consequitur somethingy. </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-tabname="reviews" class="reviews">
                        <span>Reviews<span class="count">(46)</span><em><span class="more">+</span><span class="less">-</span></em></span>
                        <div class="pdp-reviews-content tab-wrapper">
                            <div class="tab-wrapper">
                                <div class="tab-inner">
                                    <img class="temp-image" src="img/product-detail-page/temp-reviews.jpg" alt="Consumer Reviews">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-tabname="compatibility" class="compatibility">
                        <span>Compatibility<em><span class="more">+</span><span class="less">-</span></em></span>
                        <div class="pdp-compat-content tab-wrapper">
                            <form action="sample-compatibility.json" method="POST" id="compatibilityForm" name="compatibilityForm">
                                <div class="compat-sort">
                                    <div class="my-devices signed-in">
                                        <h4>My Devices</h4>
                                        <ul>
                                            <li class="each">
                                                <a href="#" title="view this item" class="product-link">
                                                <div class="item-details">
                                                    <div class="product-image">
                                                        <img src="img/product-detail-page/pdp-products/non-compat.jpg" alt="Denon Globe Cruiser On-Ear Headphones" />
                                                    </div>
                                                    <div class="product-info">
                                                        <span class="not-compatible">NOT COMPATIBLE</span>
                                                        <h5 class="product-title">Denon Globe Cruiser On-Ear Headphones</h5>
                                                    </div>
                                                </div>
                                                </a>
                                            </li>
                                            <li class="each">
                                                <a href="#" title="view this item" class="product-link">
                                                <div class="item-details">
                                                    <div class="product-image">
                                                        <img src="img/product-detail-page/pdp-products/compat-product-2.jpg" alt="Denon Globe Cruiser On-Ear Headphones" />
                                                    </div>
                                                    <div class="product-info">
                                                        <span class="compatible">COMPATIBLE!</span>
                                                        <h5 class="product-title">Denon Globe Cruiser On-Ear Headphones</h5>
                                                    </div>
                                                </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-inner">
                                        <ul class="sorting-elements">
                                            <li class="summary">
                                                <div id="total-items">
                                                    <span>54</span> Compatible Devices
                                                </div>
                                            </li>
                                            <li class="device">
                                                <select id="detail-device-select" data-type="device">
                                                    <option value="">device</option>
                                                    <option value="Tablet">Tablet</option>
                                                    <option value="Smartphone">Smartphone</option>
                                                    <option value="E-reader">E-reader</option>
                                                </select>
                                            </li>
                                            <li class="brand">
                                                <select id="detail-brand-select" data-type="brand">
                                                    <option value="">brand</option>
                                                    <option value="Apple">Apple</option>
                                                    <option value="Samsung">Samsung</option>
                                                    <option value="Nokia">Nokia</option>
                                                    <option value="Beats by Dre">Beats by Dre</option>
                                                </select>
                                            </li>
                                            <li class="search">
                                                <input type="search" id="detail-search-box" data-actionpage="sample-compatibility-type-ahead.json" placeholder="search devices">
                                                <div class="type-ahead">
                                                <ul></ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div class="compat-results">
                            <div class="tab-inner">
                                <div class="device-scroll">
                                    <div class="scrollbar">
                                        <div class="track">
                                            <div class="thumb">
                                                <div class="container">
                                                    <div class="end"></div>
                                                    <div class="bottom"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="viewport">
                                        <div class="overview">
                                            <script>
                                            includeFragment("inc/fragments/returned-compat-items.html");
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="read-more" title="show more">
                            <span class="more">see more</span>
                            <span class="less">see less</span>
                        </div>
                    </div>
                </li>
                <li data-tabname="tech" class="tech">
                    <span>Tech Specs<em><span class="more">+</span><span class="less">-</span></em></span>
                    <div class="pdp-specs-content tab-wrapper">
                        <div class="column">
                            <h3>Specifications</h3>
                            <ul class="specs-list">
                                <li>
                                    <div class="specs-label">Weight</div>
                                    <div class="specs-data">0.31 kg</div>
                                </li>
                                <li>
                                    <div class="specs-label">Height</div>
                                    <div class="specs-data">45.72 mm</div>
                                </li>
                                <li>
                                    <div class="specs-label">Length</div>
                                    <div class="specs-data">190.50 mm</div>
                                </li>
                                <li>
                                    <div class="specs-label">Cable Length</div>
                                    <div class="specs-data">45.72 mm</div>
                                </li>                                
                                <li>
                                    <div class="specs-label">Power Source</div>
                                    <div class="specs-data">AC Wireless</div>
                                </li>
                                <li>
                                    <div class="specs-label">Lorem</div>
                                    <div class="specs-data">iPhone, Android</div>
                                </li>                                
                                <li>
                                    <div class="specs-label">Charging</div>
                                    <div class="specs-data">Lorem Ipsum</div>
                                </li>                                
                                <li>
                                    <div class="specs-label">Power Source</div>
                                    <div class="specs-data">45.72 mm</div>
                                </li>                                
                            </ul>
                        </div>
                        <div class="column">
                            <h3>In the Box</h3>
                            <ul class="details-list">
                                <li>Beats by Dre Pill Portable Speaker</li>
                                <li>4.9' 3.5mm-to-3.5mm audio cable</li>
                                <li>USB 2.0 cable</li>
                                <li>AC power adpater</li>
                                <li>Carrying case with carabiner</li>
                                <li>Owner's manual</li>
                            </ul>
                        </div>
                        <div class="column download">
                            <a href="#" id="manual-click" class="manual-click" title="Get the manual for this item.">
                            <img src="img/product-detail-page/pdp-backgrounds/tech-download-icon.png" alt="Get the manual for this item.">
                            <span class="manual-info downloadable"> <!--Use class 'outside-click' for external links and 'downloadable' for others-->
                            <em class="digital-manual"><span class="manual-download">Download&nbsp;</span>Digital User Manual</em>
                            <em class ="manual-title">AC Charger with Swivel Plug<span class="manual-download">.PDF [&nbsp;<span id="download-size">566 KB</span>&nbsp;]</span><span class="manual-link"></span></em>
                            </span>
                            </a>
                        </div>
                    </div>
                </li>
                <li data-tabname="questions" class="questions">
                    <span>Question &amp; Answers<em><span class="more">+</span><span class="less">-</span></em></span>
                    <div class="questions tab-wrapper">
                        <div class="tab-inner"> 
                            <img class="temp-image" src="img/product-detail-page/temp-questions.jpg" alt="Questions & Comments">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>