<div id="quick-view-overlay" class="quick-view-overlay">
    <a id="close-quick-view" href="#close-quick-view">close</a>
    <ul class="quick-view-offers">
        <li class="first offer">free shipping</li>
        <!-- if more than one offer..
        <li class="offer"></li>
        <li class="last offer"></li> -->
    </ul>
    <section class="quick-view-item">
        <!-- main carousel slider -->
        <div id="quick-view-slider" class="slider">
            <ul class="slides">
                <li class="first slide" data-thumb="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                </li>
                <li class="slide" data-thumb="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                </li>
                <li class="slide" data-thumb="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                </li>
                <li class="last slide" data-thumb="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                </li>
            </ul>
        </div>
        <!-- end main carousel slider -->
    </section>
    <section class="quick-view-details">
        <header class="product-header">
            <!-- product header -->
            <hgroup class="product-header">
                <h1 class="product-brand">jawbone</h1>
                <h3 class="product-name">up wristband</h3>
            </hgroup> 
            <!-- end product header -->
            <!-- product rating inside this block -->
            <div class="product-rating"></div>
            <!-- end product rating -->
        </header> <!-- end quick view header-->
        <div class="product-color"> <!-- color selector -->
            <span class="color-label">Selected color:</span><span class="color-option">White</span>
            <ul id="product-colors" class="inline-list">
                <li class="color black ">
                    <a href="#select-color" class="action"></a>
                </li>
                <li class="color grey ">
                    <a href="#select-color" class="action"></a>
                </li>
                <li class="color white selected">
                    <a href="#select-color" class="action"></a>
                </li>
                <li class="color blue">
                    <a href="#select-color" class="action"></a>
                </li>
            </ul>
        </div> <!-- end color selector -->
        <div class="product-pricing">
            <div class="sale">Reg.$<span>299.99</span></div>
            <div class="price">$<span>249<sup>99</sup></span></div>
        </div>
        <div class="product-actions">
            <button class="product-add-cart" type="submit" title="Add to Cart"><span>Add to Cart</span></button>
            <a class="product-details" href="#" title="See Details"><span>See Details</span></a>
        </div>
    </section>
</div>