<section id="related" class="pdp-720-plus">
    <article id="pdp-related-stories-module" class="shop-products-module category-section hide-for-small hide-for-mobile">
        <header class="content-header">
            <h1 class="title"><strong>Related</strong> Stories &amp; Guides</h1>
            <div id="nav-alpha" class="slide-nav"></div>
            <div id="nav-beta" class="slide-nav"></div>
            <div id="nav-gamma" class="slide-nav"></div>
         </header>

    </article>
</section>


<div class="related-wrapper">
    <div class="tabbed-wrapper">
            <div class="tab-block">
            <div class="tab-scroll">
                <dl id="lifestyles-tabs" class="tabs">
                    <dd class="alpha-tab active" >
                      <a href="#lifestyles-alpha" id="lifestyles-tab-alpha" title="Alpha Lifestyle" >
                        <div class="lifestyle-image-box">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-alpha-icon.png" id="lifestyle-alpha" class="lifestyle-icon" title="Alpha Lifestyle">
                        </div>
                        <h2>Alpha Lifestyle</h2>
                      </a>
                      <div class="pointer"></div>
                    </dd>
                    <dd class="beta-tab" >
                        <a href="#lifestyles-beta" id="lifestyles-tab-beta" title="Beta Lifestyle" >
                            <div class="lifestyle-image-box">
                                <img src="img/product-detail-page/pdp-plus/lifestyles-beta-icon.png" id="lifestyle-beta" class="lifestyle-icon" title="Alpha Lifestyle">
                            </div>
                            <h2>Beta Lifestyle</h2>
                        </a>
                        <div class="pointer"></div>
                    </dd>
                    <dd class="gamma-tab" >
                        <a href="#lifestyles-gamma" id="lifestyles-tab-gamma" title="Gamma Lifestyle" >
                            <div class="lifestyle-image-box">
                                <img src="img/product-detail-page/pdp-plus/lifestyles-gamma-icon.png" id="lifestyle-gamma" class="lifestyle-icon" title="Alpha Lifestyle">
                            </div>
                            <h2>Gamma Lifestyle</h2>
                        </a>
                        <div class="pointer"></div>
                    </dd>
                </dl>
            </div>

            <ul class="tabs-content">
                <li id="lifestyles-alphaTab" class="active">
                    <div class="tab-wrapper">
                        <div id="lifestyles-alpha-slider" class="vzn-slide">
                            <ul class="slides">
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <div class="close-related"></div>
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Alpha Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li id="lifestyles-betaTab">
                    <div class="tab-wrapper">
                        <div id="lifestyles-beta-slider" class="vzn-slide">
                            <ul class="slides">
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Beta Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Beta suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Beta Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Beta suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Beta Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Beta suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Beta ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li id="lifestyles-gammaTab">
                    <div class="tab-wrapper">
                        <div id="lifestyles-gamma-slider" class="vzn-slide">
                            <ul class="slides">
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                 <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="large-story">
                                    <div class="related-stories-large">
                                        <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image" class="large-story-img">
                                        <div class="large-story-info-box">
                                            <h5 class="large-story-cat">Audiophile</h5>
                                            <h3 class="large-story-title">Gamma Ipsum Dolor Sit</h3>
                                            <p class="large-story-text">Gamma suspendisse consequat lacinia sapien a placerat. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                                            <div class="large-story-link"><a href="#" title="Related Lifestyle Story">Read Story</a></div>
                                        </div>
                                        <div class="product-reveal"></div>
                                        <div class="related-product">
                                            <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                                            <a href="#" title="view this item" class="product-link">
                                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                                <li class="small-story">
                                    <div class="related-stories-small">
                                        <div class="image">
                                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                                        </div>
                                        <div class="teaser">Gamma ipsum dolor sit amet, consectrtur adipisicing ...</div>
                                        <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

         </div>
    </div>
</div>
