<ul id="returned-items">
  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
          <img src="img/product-detail-page/pdp-products/compat-product-1.png" alt="Samsung Galaxy" />
        </div>
        <div class="product-info">
            <h5 class="product-title">Samsung Galaxy</h5>
              <div class="ratings"></div>
              <div class="price"></div>
              <div class="cta"></div>
          </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
            <img src="img/product-detail-page/pdp-products/compat-product.png" alt="Samsung Galaxy Note&reg; II in Titanium" />
        </div>
        <div class="product-info">
            <h5 class="product-title">Samsung Galaxy Note&reg; II in Titanium</h5>
            <div class="ratings"></div>
            <div class="price"></div>
            <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-5.png" alt="Samsung Galaxy S III 32GB in Blue" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Samsung Galaxy S III 32GB in Blue</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-2.png" alt="Nokia Lumia 822" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Nokia Lumia 822</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-3.png" alt="ThunderBolt&trade; by HTC" />
        </div>
        <div class="product-info">
         <h5 class="product-title">ThunderBolt&trade; by HTC</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-4.png" alt="Lucid&trade; by LG" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Lucid&trade; by LG</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
          <img src="img/product-detail-page/pdp-products/compat-product-1.png" alt="Samsung Galaxy" />
        </div>
        <div class="product-info">
            <h5 class="product-title">Samsung Galaxy</h5>
              <div class="ratings"></div>
              <div class="price"></div>
              <div class="cta"></div>
          </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
            <img src="img/product-detail-page/pdp-products/compat-product.png" alt="Samsung Galaxy Note&reg; II in Titanium" />
        </div>
        <div class="product-info">
            <h5 class="product-title">Samsung Galaxy Note&reg; II in Titanium</h5>
            <div class="ratings"></div>
            <div class="price"></div>
            <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-5.png" alt="Samsung Galaxy S III 32GB in Blue" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Samsung Galaxy S III 32GB in Blue</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-2.png" alt="Nokia Lumia 822" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Nokia Lumia 822</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-3.png" alt="ThunderBolt&trade; by HTC" />
        </div>
        <div class="product-info">
         <h5 class="product-title">ThunderBolt&trade; by HTC</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-4.png" alt="Lucid&trade; by LG" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Lucid&trade; by LG</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

    <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
          <img src="img/product-detail-page/pdp-products/compat-product-1.png" alt="Samsung Galaxy" />
        </div>
        <div class="product-info">
            <h5 class="product-title">Samsung Galaxy</h5>
              <div class="ratings"></div>
              <div class="price"></div>
              <div class="cta"></div>
          </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
            <img src="img/product-detail-page/pdp-products/compat-product.png" alt="Samsung Galaxy Note&reg; II in Titanium" />
        </div>
        <div class="product-info">
            <h5 class="product-title">Samsung Galaxy Note&reg; II in Titanium</h5>
            <div class="ratings"></div>
            <div class="price"></div>
            <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-5.png" alt="Samsung Galaxy S III 32GB in Blue" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Samsung Galaxy S III 32GB in Blue</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-2.png" alt="Nokia Lumia 822" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Nokia Lumia 822</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-3.png" alt="ThunderBolt&trade; by HTC" />
        </div>
        <div class="product-info">
         <h5 class="product-title">ThunderBolt&trade; by HTC</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>

  <li class="each">
    <a href="#" title="view this item" class="product-link">
      <div class="item-details">
        <div class="product-image">
         <img src="img/product-detail-page/pdp-products/compat-product-4.png" alt="Lucid&trade; by LG" />
        </div>
        <div class="product-info">
         <h5 class="product-title">Lucid&trade; by LG</h5>
          <div class="ratings"></div>
          <div class="price"></div>
          <div class="cta"></div>
        </div>
      </div>
    </a>
  </li>
</ul>