<section id="similar-products" class="pdp-720-plus">
    <article id="pdp-similar-products-module" class="shop-products-module similar-products-module category-section pdp-similar-content">
        <header class="content-header">
            <h2 class="title"><strong>Similar</strong> Products<em><span class="more">+</span><span class="less">-</span></em></h2>
            <div class="slide-nav"></div>
        </header>
        <ul class="slides">
            <li>
                <a href="#" title="view this item1" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/fitbit.png" alt="Fitbit Activity Tracker">
                        </div>
                        <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Fitbit</span> Activity Tracker</span></h3>
                        <div class="simple-price">
                            $79.99
                        </div>
                        <div class="rating stars five">(21)</div>
                    </div>

                </a>
            </li>

            <li>
                <a href="#" title="view this item2" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/jawbone.png" alt="Jawbone Up Wristband">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Jawbone Up Wristband</h3>
                        <div class="simple-price">
                            $159.99
                        </div>
                        <div class="rating stars four">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item3" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/boomerang.png" alt="iSound Boomerang Speaker">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">iSound Boomerang Speaker</span></h3>
                        <div class="simple-price">
                            $79.99
                        </div>
                        <div class="rating stars three-half">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item4" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" alt="Denon Globe Cruiser On-Ear Headphones">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Denon Globe Cruiser On-Ear Headphones</span></h3>
                        <div class="simple-price">
                            $499.99
                        </div>
                        <div class="rating stars one-half">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item5" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" alt="Awesome In-Ear Headphones">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Awesome In-Ear Headphones</span></h3>
                        <div class="simple-price">
                            $139.99
                        </div>
                        <div class="rating stars two-half">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item6" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/fitbit.png" alt="Fitbit Activity Tracker">
                        </div>
                        <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Fitbit</span> Activity Tracker</span></h3>
                        <div class="simple-price">
                            $79.99
                        </div>
                        <div class="rating stars five">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item7" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/jawbone.png" alt="Jawbone Up Wristband">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Jawbone Up Wristband</h3>
                        <div class="simple-price">
                            $159.99
                        </div>
                        <div class="rating stars three-half">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/boomerang.png" alt="iSound Boomerang Speaker">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">iSound Boomerang Speaker</span></h3>
                        <div class="simple-price">
                            $79.99
                        </div>
                        <div class="rating stars four-half">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" alt="Denon Globe Cruiser On-Ear Headphones">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Denon Globe Cruiser On-Ear Headphones</span></h3>
                        <div class="simple-price">
                            $499.99
                        </div>
                        <div class="rating stars one">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" alt="Awesome In-Ear Headphones">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Awesome In-Ear Headphones</span></h3>
                        <div class="simple-price">
                            $139.99
                        </div>
                        <div class="rating stars five">(21)</div>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image"><img src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" alt="Denon Globe Cruiser On-Ear Headphones"></div>
                        <h3 class="product-title"><span class="product-seller-title">Denon Globe Cruiser On-Ear Headphones</span></h3>
                        <div class="simple-price">$499.99</div>
                        <div class="rating stars four">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/jawbone.png" alt="Jawbone Up Wristband">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Jawbone Up Wristband</h3>
                        <div class="simple-price">
                            $159.99
                        </div>
                        <div class="rating stars one">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/boomerang.png" alt="iSound Boomerang Speaker">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">iSound Boomerang Speaker</span></h3>
                        <div class="simple-price">
                            $79.99
                        </div>
                        <div class="rating stars four">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/fitbit.png" alt="Fitbit Activity Tracker">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Fitbit Activity Tracker</span></h3>
                        <div class="simple-price">
                            $79.99
                        </div>
                        <div class="rating stars two-half">(21)</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" title="view this item" class="product-link">
                    <div class="simple-slider-item">
                        <div class="simple-image">
                            <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" alt="Awesome In-Ear Headphones">
                        </div>
                        <h3 class="product-title"><span class="product-seller-title">Awesome In-Ear Headphones</span></h3>
                        <div class="simple-price">
                            $139.99
                        </div>
                        <div class="rating stars three">(21)</div>
                    </div>
                </a>
            </li>
        </ul>
    </article>
</section>