<article id="special-offers" class="special-offers category-section">
    <header class="content-header">
        <h1 class="title"><strong>Special</strong> Offers</h1>
        <div class="slide-nav"></div>
    </header>

    <ul class="slides">
        <li class="percentage">
            <div class="wrapper">
                <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                <div class="sale-details">
                    <div class="splash">
                        <span class="digits">20</span>
                        <span class="unit">%</span>
                        <span class="words">OFF</span>
                    </div>
                    <div class="details">
                        all audio,<br/> this week only
                    </div>
                </div>
                <div class="sale-link">
                    <a href="#" title="Shop Offers">SHOP OFFERS</a>
                </div>
            </div>
        </li>
        <li class="percentage">
            <div class="wrapper">
                <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                <div class="sale-details">
                    <div class="splash">
                        <span class="digits">20</span>
                        <span class="unit">%</span>
                        <span class="words">OFF</span>
                    </div>
                    <div class="details">
                        all audio,<br/> this week only
                    </div>
                </div>
                <div class="sale-link">
                    <a href="#" title="Shop Offers">SHOP OFFERS</a>
                </div>
            </div>
        </li>
        <li class="image-above">
            <div class="wrapper">
                <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                <div class="sale-details">
                    <p>What's hot now in audio</p>
                    <p>Lorem ipsum neque porro quisquam</p>
                </div>
                <div class="sale-link">
                    <a href="#" title="Shop Offers">SHOP OFFERS</a>
                </div>
            </div>
        </li>
        <li class="percentage">
            <div class="wrapper">
                <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                <div class="sale-details">
                    <div class="splash">
                        <span class="digits">20</span>
                        <span class="unit">%</span>
                        <span class="words">OFF</span>
                    </div>
                    <div class="details">
                        all audio,<br/> this week only
                    </div>
                </div>
                <div class="sale-link">
                    <a href="#" title="Shop Offers">SHOP OFFERS</a>
                </div>
            </div>
        </li>
        <li class="percentage">
            <div class="wrapper">
                <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                <div class="sale-details">
                    <div class="splash">
                        <span class="digits">20</span>
                        <span class="unit">%</span>
                        <span class="words">OFF</span>
                    </div>
                    <div class="details">
                        all audio,<br/> this week only
                    </div>
                </div>
                <div class="sale-link">
                    <a href="#" title="Shop Offers">SHOP OFFERS</a>
                </div>
            </div>
        </li>
        <li class="image-above">
            <div class="wrapper">
                <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                <div class="sale-details">
                    <p>What's hot now in audio</p>
                    <p>Lorem ipsum neque porro quisquam</p>
                </div>
                <div class="sale-link">
                    <a href="#" title="Shop Offers">SHOP OFFERS</a>
                </div>
            </div>
        </li>
    </ul>
</article>
