<div id="special-offers" class="special-offers category-section">
    <header class="content-header">
        <h1 class="title"><strong>Special</strong> Offers</h1>
        <div class="slide-nav"></div>
    </header>
    <ul class="slides">
        <li class="percentage">
            <ul>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="percentage">
            <ul>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="percentage">
            <ul>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="percentage">
            <ul>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="percentage">
            <ul>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
