<article id="special-offers" class="special-offers category-section">
    <header class="content-header">
        <h1 class="title"><strong>Special</strong> Offers</h1>
        <div class="slide-nav"></div>
    </header>
    <ul class="special-offers-slider slides">
        <li class="special-offers-slide">
            <ul class="content-grid special-offers-slider">
                <li class="content-item offer-sale">
                    <div class="wrapper slide-1">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="content-item offer-sale hide-for-mobile">
                    <div class="wrapper slide-2">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="content-item offer-sale hide-for-mobile hide-for-small-grid-down">
                    <div class="wrapper slide-3">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="content-item offer-sale hide-for-small-grid-down">
                    <div class="wrapper slide-1">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="special-offers-slide ">
            <ul class="content-grid special-offers-slider">
                <li class="content-item offer-sale">
                    <div class="wrapper slide-1">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="content-item offer-sale hide-for-mobile">
                    <div class="wrapper slide-2">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="content-item offer-sale hide-for-mobile hide-for-small-grid-down">
                    <div class="wrapper slide-3">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="content-item offer-sale hide-for-small-grid-down">
                    <div class="wrapper slide-1">
                        <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                        <div class="sale-details">
                            <div class="splash">
                                <span class="digits">10</span>
                                <span class="unit">%</span>
                                <span class="words">off</span>
                            </div>
                            <div class="details">
                                All headphones, this week only.
                            </div>
                        </div>
                        <div class="sale-link">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</article>
