<section class="trending-products category-section ">
        <div class="section-wrap">
          <header class="content-header">
            <h1 class="title"><strong>Trending</strong> Products</h1>
          </header>

          <div class="product-hero">
            <img src="../img/home/product-hero.jpg"/>
            <a class"hotspot"></a>
            <div class="product-details"></div>
          </div>
          <div class="tabbed-wrapper">
            <div class="tab-scroll">
              <dl id="detail-tabs" class="tabs">

                <dd class="customer-favorites active">
                  <a href="#customer-favorites" title=""><h2>CUSTOMER FAVORITES</h2></a>
                  <div class="vzn-active"></div>
                </dd>
                <dd class="newest">
                  <a href="#newest" title="See item features."><h2>NEWEST</h2></a>
                  <div class="vzn-active"></div>
                </dd>
                <dd class="highest-rated">
                  <a href="#highest-rated" title=""><h2>HIGHEST RATED</h2></a>
                  <div class="vzn-active"></div>
                </dd>
                <dd class="best-selling">
                  <a href="#best-selling" title=""><h2>BEST SELLING</h2></a>
                  <div class="vzn-active"></div>
                </dd>
              </dl>
            </div>

            <ul class="tabs-content">

                <li id="customer-favorites" class="active">
                    <div class="tab-wrapper">
                        <ul class="content-grid">

                        <!-- grid items -->
                        <!-- some items in this grid will be hidden for various screen sizes
                        please take note of classes starting with "hide-for-large, hide-for-small," etc... -->
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <li class="content-item ">
                          <a class="content-link" href="#" title="content title">
                            <figure class="content-fig">
                              <img alt="img/product-category-listing/pcl-beats.jpg" src="img/product-category-listing/pcl-beats.jpg"/>
                            </figure>
                            <section class="content-detail">
                              <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
                              <div class="price">$189.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
                              <div class="rating"><img src="img/stars-gray.png" /></div>
                            </section>
                          </a>
                          <div class="content-hover">
                            <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
                            <div class="color-picker">
                              <ul class="colors">
                                <li class="color"><a href="#pick-color" title="black">
                                  <img src="img/product-category-listing/pick-blk.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="gray">
                                  <img src="img/product-category-listing/pick-gry.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="white">
                                  <img src="img/product-category-listing/pick-wht.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="orange">
                                  <img src="img/product-category-listing/pick-org.png"/>
                                </a></li>
                                <li class="color"><a href="#pick-color" title="yellow">
                                  <img src="img/product-category-listing/pick-ylw.png"/>
                                </a></li>
                              </ul>
                            </div>
                            <div class="quick-view"><a href="#quick-view" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta" type="submit" title="Add to Cart" value="add to cart"></div>
                          </div>
                        </li>
                        <!-- end grid items -->
                      </ul>
                    </div>
                </li>

                <li id="newest" class="">
                    <div class="tab-wrapper">
                    </div>
                </li>

                <li id="highest-rated" class="">
                    <div class="tab-wrapper">
                    </div>
                </li>

                <li id="best-selling" class="">
                    <div class="tab-wrapper">
                    </div>
                </li>

                            



                            


            </ul>
          </div>
        </div>


      </section>