
/* Colors */
$colorTxtGray: #333;
$colorBdrGray: #ccc;

html {
    background-color: $colorVzwNavBrd;
    #fourofour {
        background-color: $colorVzwNavBrd;
        #breadcrumb-container {
            margin: 15px 25px 15px 25px;
            #breadcrumb {
                width: 100%;
                #back {
                    padding: 10px 0 0 0;
                    text-transform: uppercase;
                    font: bold 10px $fontArial;
                    color: $colorCategoryCTA;
                }
            }
        }
        #main-column {
            display: block;
            margin: 0 auto 0 auto;
            width: 83.333%;
            padding: 0 0 150px 0;
            #message-module {
            	width: 100%;
                margin-bottom: 110px;
            	padding: 0;
            	.message {
            		text-align: left;
            		color: $colorTxtGray;
            		font: normal 56px $fontVzwLight;
            	}
            }
            #best-sellers-section {
                .similar-products-module.category-section {
                    width: 100%;
                }
            }
         }
    }
}

@media only screen and (min-width: $screenLarge - 50) {
    html {
        #fourofour {
            #main-column {
               max-width: 1076px;  //5 panels
               min-width:1076px;
            }
        }
    }
}

@media only screen and (max-width: $screenLarge - 51) {
    html {
        #fourofour {
            #main-column {
                max-width: 861px; // 4 panels
                min-width:861px;
            }
        }
    }
}

@media only screen and (max-width: 960px ) {
    html {
        #fourofour {
            #main-column {
                max-width: 649px; // 3 panels
                min-width:649px;
            }
        }
    }


}



@media only screen and (max-width: $screenSmall) {
    html {
        #fourofour {
            #breadcrumb-container {
                margin: 15px 15px 15px 25px;
               #breadcrumb {
                    width: 100%;
                    #back {
                        padding: 10px 0 0 0;
                        text-transform: uppercase;
                        font: bold 10px $fontArial;
                        color: $colorCategoryCTA;
                    }
                }
            }
            #main-column {

                padding: 0 0 100px 0px;
            	#message-module {
            		margin-bottom: 40px;
            		.message {
            			font: normal 32px $fontVzwBook;
            		}
            	}
            }
        }
    }
}

/* Similar Products | ToDo: Move to global stylesheet */
.content-items {
    form {
        margin: 0;
    }
}

.category-section {
    .content-grid {
        border: 0;
        .content-item {
            border: 0;
            padding: 0;
            margin: 0;
        }
    }
}

.similar-products-module.category-section {
    ul.slides {
        li {
            .simple-slider-item {
                padding: 10%;
            }
        }
    }
}

@media only screen and (max-width: $screenSmall) {
    .category-section {
        .content-header {
            padding: 25px 2px 10px 2px;
            height: auto;
            .title {
                font-size: 18px;
                letter-spacing: -1px;
                margin-bottom: 5px;
            }
        }
    }
}
