.brand-landing-page {
    .header-info { display: none; }
    .category-list-header {
        position: relative;
        height: 320px;
        background-color: $colorPromoBg;
        .category-image {
            position: absolute;
            top: -110px;
            left: 100px;
            z-index: 1;
        }
    }
    .category-header-promo {
        position: relative;
        height: 100%;
        .promo-header {
            @include clearfix();
            display: block;
            position: relative;
            &:before,
            &:after {
                content: none;
                display: block;
            }
            height: 150px;
            z-index: 2;
            text-align: right;
        }
        .promo-info {
            position: relative;
            z-index: 2;
            border-top: 1px solid $colorPromoFont;
            .promo-copy {
                color: $colorPromoFont;
                font: {
                    family: $fontVzwBook;
                    size: 24px;
                    style: italic;
                }

                &:before
                {
                    content: "-";
                    position: absolute;
                    left: -40px;
                    top: 20px;
                    width: 24px;
                    height: 10px;
                    overflow: hidden;
                    background: #6D6E71;
                }
            }
        }
    }
    .content-grid-header {
        background-color: white;
        .wrapper {
            padding: 20px 30px;
        }
        .content-grid-category { display: none; }
        .content-grid-heading .content-filter-count {
            margin: 0;
        }
        .sort-options {
            // reset position absolute and bottom/right in _product-listing.scss - lines 276 to 278
            position: relative;
            bottom: auto;
            right: auto;
            // end reset block
            float: right;
        }
    }
}

@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    @import "_brand-landing_max1023min768";
}

@media only screen and (max-width: $screenSmall - 1) {
    @import "_brand-landing_min767";
}

@media only screen and (max-width: $screenMobileLarge) and (min-width: $screenMobileSmall) {
    @import "_brand-landing_max640min320";
}
