    .brand-landing-page {
        .category-header-promo {
            .promo-header {
                height: 60px;
                img {
                    width: 33%;
                }
            }
            .promo-info {
                display: none;
            }
        }
    }