/* Shopping Cart SCSS */



	/* resets */	
	
		/*input[type="button"],
		button { padding:0px !important; border:0px !important; background: none; }
		*/
		input[type="search"],
		input[type="list"],
		input[type="number"] { font-family: $fontArial; }


	/* mixins from other pages - TEMP */
		$highlightBg: #29a0cd;
		$pdpAmber: #ffba62;
		$techinfoBg : #119a70;
		$cartGreySelect: #adadad;
		
		@mixin checkoutContent {
			color: $cartGreyMd;
			font-family: $fontArial;
			font-size: 12px;
			line-height:15px;
			font-weight: normal;
			text-transform: none;
			}
		@mixin checkoutLabel {
			color: $cartGreyDk;
			font-family: $fontArial;
			font-size: 10px;
			line-height: 10px;
			font-weight: bold;
			text-transform: uppercase;
			}

	/* new colors, mixins, etc */
 		$cartGreyAltWht: #edefef;
 		$cartGreyFocus: #d9d9d9;
 		$saleBannerBG: #36a99e;
		$successGreen: #54b87d;
		
						
		@mixin cartHilight { 
		-webkit-box-shadow: inset 0px 5px 4px 1px rgba(255, 255, 255, 0.5),
			inset 0 -1px 1px 1px rgba(60, 60, 60, .1) ;
		-moz-box-shadow: inset 0px 5px 4px 1px rgba(255, 255, 255, 0.5),
			inset 0 -1px 1px 1px rgba(60, 60, 60, .1) ;
        box-shadow: inset 0px 5px 4px 1px rgba(255, 255, 255, 0.5),
			inset 0 -1px 1px 1px rgba(60, 60, 60, .1) ;
		}

		@mixin cartButtonUp { 
			@include cartRounded;
			@include boxBrdrA;
			@include cartHilight;
			background: #edf1f2;
			font-size:14px;  
			 padding:0 10px 0 10px;
			text-transform: lowercase;
			font-family: $fontVzwBook;
			cursor:pointer;
			
			span { color: #acacac;
				text-shadow: 0px 1px 1px #fff; 
				}
				
			span.checkout {
				display: inline-block;
				font-size: 14px;
				line-height: 14px; 
				text-transform: lowercase;
				color: $cartGreySelect;
				font-family: $fontArial;
				font-weight: bold; 
				padding: 14px 0 0 0px;
				}
			}
			
		@mixin secondaryAddCartGrey {
			height:24px;
			border: 0;
			background: rgb(226, 230, 230) url(../img/sprites/cart/red-cart-secondary-add.png) 0 0px no-repeat;
			text-transform:uppercase;
			color: $colorVzwRed;
			font-family : $fontArial;
			font-size:11px; 
			padding-left:20px;
			font-weight: bold; 
			cursor:pointer; 
			text-align: left;
			}
			
		@mixin secondaryAddCart {
			height:24px;
			border: 0;
			background: transparent url(../img/sprites/cart/red-cart-secondary-add.png) 0 0px no-repeat;
			text-transform:uppercase;
			color: $colorVzwRed;
			font-family : $fontArial;
			font-size:11px; 
			padding-left:20px;
			font-weight: bold; 
			cursor:pointer; 
			}
			
		@mixin cartButtonShadow {
			height:100%;
			overflow-y: hidden;
			-webkit-box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.25); 
            -moz-box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.25); 
            box-shadow: 0px -2px 4px 1px rgba(0, 0, 0, 0.25); 
            padding: 0 9px 0 9px; 
			}
		
		@mixin cartEditPanel {
			@include cartRounded;
			@include boxBrdrA;
			background: #fff;
			-webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
            -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
            box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
			position: absolute;
			z-index:10; top:-120px; 
			padding:20px; 
			}	

		@mixin greyCartButton {
			@include cartRounded;
			@include boxBrdrA;
			width: 100%; height: 100%;
			background: #f2f2f2;
			color:$cartGreyMd;
			font-family: $fontVzwMedium;
			text-transform: lowercase;
			-webkit-box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
			}

		@mixin cartLabel {
				display: inline-block;
				font-size:13px;
				line-height:13px;
				text-transform: uppercase;
				color:$cartGreyMd;
				font-family: $fontVzwBold;
				padding-left:25px;
				font-weight: normal;
				margin: 0 0 10px 0;
				}
	
/* Shopping Cart Styles */
  
#shopping-cart {

/* general classes */
	
	.section-wrap { 
		@include clearfix();
		width:100%;
		max-width:1024px;
		}

	.temp-cart-header { /* ............. TEMP page header........ */
		width:100%;
		height:155px; overflow:hidden;
		background: url(../img/cart/three-row-nav-bg.png) repeat-x; 
		position:relative;
		z-index:5;
		
		#site-header { margin-top:106px; }
		}
		
	#cart-header { /* .............................. cart header ............... */
		width:100%;
		/* @include boxBrdrT; in comp, changed to anchorDrop for consistency now */
		@include boxBrdrB;
		padding:6px 0 8px 0;
		
		.cart-title{
			padding-left:30px;
			font-family: $fontVzwBold;
			font-size:33px;
			color:#222;
			font-weight: normal;
			letter-spacing: -1px;
			
			span {
				font-family: $fontVzwBook;
				color: $cartGreyDk;
				}/* end span */
				
			.summary {
				display: inline-block;
				margin-left:10px;
				width: auto;
				font-family: $fontVzwBook;
				color: $cartGreyDk;
				font-size: 18px; 
			
				}
				
			}
		}/* end header */  
		
	/* end general classes */
	
	#cart-data{ /* .................................... cart data ................. */
		@include heroBG;
		form { padding: 0; margin: 0; }
		
		/* ........................ general cart classes first .............. */
			.desc-block { 
				@include clearfix;
				width: 78.5%;
				float:left;
				}
				
			.sub-block {
				width: 21.5%;
				height:100%;
				float:right;
				@include boxBrdrB;
				}
			h5.cart-label { @include cartLabel; }
	
	
	
		.cart-table { /* ..................table specific ................. */
			@include clearfix();
			display:inline-block;
			float:left;
			width:75%; 
			@include boxBrdrL;
			@include boxBrdrB;
			@include boxBrdrR;
			
			.table-header {
				@include clearfix();
				@include boxBrdrB;
				padding-top: 30px;
				background: #fff;
				
				.cart-product-image { width: 25%; }
				.cart-product-info { width: 45%; }
				.cart-order-details { 
					width:20%;
					
					}
				
				
				.sub-block { border:0; }
				}
			
			
			.table-row {
				@include clearfix();
				background: #fff;
				
				.desc-block { 
					
					height:168px;
					@include boxBrdrB;
					@include boxBrdrR;
				
				
					.cart-product-image { 
						padding-left:10px;
						margin-top:16px;
						display:inline-block;
						width:22%;
						height:125px;
						float: left;
						
						img { 
							width: 100%;
							height:100%;
							border:0px;
							}
						 
						}
					
					.cart-product-info {
						height:157px;
						position:relative;
						display:inline-block;
						width:49.5%;
						float: left; 
						padding:16px 20px 16px 10px;
						
						h2 { 
							font-family: $fontVzwBook;
							font-weight:normal;
							font-size:20px;
							line-height: 24px;
							margin: 0px 0 5px 0px; 
							color: $cartGreyDk;
							letter-spacing: -1px;
							}
						
						.unit-price {
							font-family: $fontArial;
							
							.original-price { 
								color: $cartGreyMd;
								text-decoration: line-through;
								}
							.actual-price { font-weight: bold; }
							.discount { 
								color:$colorVzwRed; 
								font-weight:bold;
								}
							}/* end unit price */
							
						.new-details {
						
							ul { 
								display: block;
								width: 100%;
								@include clearfix();
								margin: 36px 0 0 0;
								
								.block {
									@include clearfix();
									display: inline-block;
									width: auto;
									margin: 0 3px 0 0;
									line-height: 15px;
									height: 18px; 
									
									.label, .data {
										background: transparent;
										@include checkoutContent;
										display: inline-block;
										width: auto;
										margin: 0; padding: 0;
										bottom: 0;
										}
									}/* end li */
								}
							} /* end new details */
							
						} /* end product-info */
					
				  	
					.cart-qty-block { 
						padding: 20px;
						@include boxBrdrL;
						height:100%;
						position: relative;
						display:inline-block;
						width:28.5%;
						float: left;
						font-family: $fontArial;
						
						.detail-box {
							display: block;
							width: 100%;
							@include clearfix();
							position: relative;
						 
						 	.cart-label { 
						 		display: inline-block;
						 		float: left;
						 		padding: 15px 0 0 0;
						 		margin-right: 20px;
						 		color: $cartGreyMd; 
						 		}
						 
							.selector {
								display: inline-block;
								float: left;
								@include cartButtonUp;
								width: 75px !important;
								height: 36px; 
								padding: 0;
	
								span { 
									display: inline-block;
									font-size: 14px;
									line-height: 14px; 
									text-transform: lowercase;
									color: $cartGreyDk;
									font-family: $fontArial;
									font-weight: bold; 
									width: 100%;
									padding: 14px 0 0 10px;
									background: url(../img/sprites/pdp/grey-more.png) 50px 19px no-repeat;
				 					}
		
								select { 
									-webkit-appearance: none; 
									width: 100%;
			 						height: 36px; 
			 						position:relative;
			 						top: -24px; left:10px;
			 						z-index: 10;
			 						cursor: pointer;
			 						}
								} /* end selector */
						
							.update-msg { 
								display: none;
								@include checkoutLabel;
								color: $successGreen;
								position: absolute;
								bottom: -20px; right: 10px;
								}
						
						
						
							} /* end detail box */
						
						.remove {
							position:absolute;
							left:20px;
							bottom:30px;
							
							a { 
								display: block;
								width:72px;
								@include actionLink;
								font-size:11px;
								text-transform:uppercase;
								background: url(../img/sprites/cart/blue-close-x.png) 55px -1px no-repeat; 
								}
							}/* end remove */
						}/* end order details */
					 }/*end row desc block */
			
				.sub-block { 
					height: 168px;
					border:0;
					@include boxBrdrB;
					
					.subtotal { 
						padding:5px 0 0 20px;
						font-size:20px;
						line-height: 24px;
						color: $cartGreyMd;
						font-family: $fontVzwBook;
						font-weight: normal;
						
						.cents { 
							font-size:12px;
							position:relative;
							top:-6px;
							}
						}	
					} /* end sub block */
				} /* end table row */
				
			.table-row.empty-cart { 
				display:none;
				height: 157px;
				padding: 90px 0 0 20px;
				font-size: 30px;
				color: $cartGreyLt;
				font-family: $fontVzwBoldItalic;
				font-weight: normal; 
				letter-spacing: -1px;
				}
				
			.table-row:odd { background: $cartGreyAltWht; }
			.table-row:first-child { background: #fff; }
			.table-row:last-child { border-bottom:0; 
				.desc-block, .sub-block { border-bottom:0px; }
				}
			.table-row.this-row { background : $cartGreyFocus !important; }	
			} /* end cart-table */
	
	
		.cart-sidebar { /* ..................sidebar specific ................. */
			@include heroBG;
			display:inline-block;
			float:right;
			width:25%; 
			
			.special-offer-block { 
				width:100%;
				height:80px;
				padding:18px; 
				border-top: 1px solid #fff;
				
				.cart-offer-text {
					position: relative;
					display: inline-block;
					width: 67%;
					font-family: $fontVzwBookItalic;
					font-size:18px; 
					line-height:20px;
					font-weight:normal; 
					color:#fff;
					margin:0 0 0 65px;    
					background: url(../img/sprites/pdp/wht-more.png) 108px 30px no-repeat;
					cursor: pointer;
					
					span {
						font-family: $fontVzwBoldItalic;
						font-weight:normal;
						}

					.cart-dropdown-panel {
						display: none;
						@include cartEditPanel;
						position: absolute;
						padding: 15px;
						width: 180px;
						top: 54px; 
				
						p { margin: 0;
							font-family: $fontArial;
							color: $cartGreyMd;
							font-size: 11px;
							line-height: 15px;
							font-weight: normal;
							}
				
						.cart-pointer {
							width: 24px;
							height: 24px;
							@include cart-sprite(req-pointer-bg);
							position: absolute; 
							top: -24px;
							left: 50%;
							margin-left: -12px;
							z-index: 5;
							}
						} /* end cart dropdown panel */
					} /* end p.offer-text */
				} /* end special-block common styles */
			
			.special-offer-block:first-child { border-top: 0px; }
			
			.shipping {
				background: $saleBannerBG url(../img/cart/minicart-truck-icon.png) 18px 20px no-repeat; 
				
				.cart-offer-text {
					background: url(../img/sprites/pdp/wht-more.png) 96px 32px no-repeat;
					
					.cart-dropdown-panel { left: 10px; }
					}
				}
			
			.returns {
				background: $saleBannerBG url(../img/cart/large-boxes-icon.png) 18px 20px no-repeat; 
				
				.cart-offer-text {
					background: url(../img/sprites/pdp/wht-more.png) 67px 32px no-repeat;
					
					.cart-dropdown-panel { left: -18px; }
					}
				}
			
			
			
			.proceed-block { 
				padding:20px; 
			
				.tax-calc { 
					position: relative;
					margin-bottom:20px;
				
					h6 {
						@include cartLabel; 
						margin: 0 0 10px 0;
						padding: 0;
						}
						 
					.calc-boxes {
						@include clearfix();
						.input-zip { 
							width: 47.5%; 
							float: left;
							height: 36px;
							
							input[type="text"] {
								@include cartLabel;
								@include cartRounded; 
								width: 100%;
								height: 100%;
								padding-top:15px;
								
								}
							}
						.calc-button { 
							width: 47.5%; 
							float: right;
							height: 36px; 
							
							.button {
								@include cartButtonUp;
								width: 100%;
								height: 100%;
								
							
								span {
									display: block;
									width: 100%;
									height: 100%;
									line-height:45px;
									font-family: $fontArial;
									font-weight: bold;
									color: $cartGreySelect;
							
									input { 
										-webkit-appearance: none;
										width: 120%;
										height: 100%;
										opacity:0;
										cursor: pointer;
										position: relative;
										top: -50px; left: -10px;
										}
									} /* end span */
								} /* end button class */
							}   
						}/* end boxes */
						
					.calc-msg { 
						@include checkoutLabel;
						color: $successGreen;
						position: absolute;
						top: 3px;
						right: 5px;
						display: none; }
					} /* end tax-calc */
					
				.totals { 
				
					ul { 
						padding: 0; 
						margin: 0;
				
						li {
							@include clearfix();
							display: block;
							width: 100%;
							margin: 0 0 15px 0;
							
							.label {
								@include checkoutLabel;
								background: transparent;
								width: 30%;
								float: left;
								color: $cartGreyMd; 
								text-align: left;
								}
				
							.data {
								@include checkoutLabel;
								width: 50%;
								float: right;
								text-align:right; 
								color: $cartGreyDk;
								font-size: 12px; 
								}
							}
							
						li.offer { display: none; }
							
						.cart-total {
							.label, .data {
								font-family: $fontVzwBook;
								font-size: 16px;
								color: $cartGreyDk;
								text-transform: none;
								letter-spacing: -1px;
								}	
							}
						}
					}
				
				.checkout-box {  
					margin:10px 0 10px 0; 
			
					.button{
						@include ctaButton;
						width:100%; height: 78px;
						position:relative;
						font-size:18px;
						
                        span {
                        	font-family: $fontVzwMedium;
                        	text-transform:lowercase;
                            display: block;
                            position:absolute;
                            vertical-align: bottom;
                            bottom: 10px; left: 10px;
                            position:relative; width:100%;
                            height:78px; top:50px;
                            		
                            input#checkout-button {
                            	font-family: $fontVzwMedium;
                            	-webkit-appearance: none; 
								display:inline-block;
								width:100%; height:100%;
								font-size:36px;
								padding:30px 30px 0 0 ;
								position:relative; 
								top:-67px; left:-10px;
								opacity:0;
								cursor:pointer; 
								
                            	}/* end checkout button */
                        	} /* end span */	
						} /* end uniform button */	
					} /* end checkout box */	
					
				.keep-shopping-box { 
					@include cartButtonUp; 
					width:100%;
					height: 45px;
					
					a { 
						display: block;
						width: 100%;
						height: 100%;
						font-size: 14px; 
						line-height:54px;
						font-family: $fontArial;
						font-weight: bold;
						color: $cartGreySelect;
						}

					}/* end keep shopping box */
					
				} /* end proceed */
			} /* end sidebar */	
		}/* end cart data */
		
	#cart-also-bought {
		@include heroBG;
		
		#also-bought-block {
			width: 100%;
			float:left;
			margin: 0px 0 0 0;
			
			.header {
				@include boxBrdrB;
				padding:30px 0 0px 0px;
					
				h3.title { @include cartLabel; }
				}/* end also bought header */
			
			ul { 
				@include clearfix();
				
				.also-bought-product {
					display:inline-block;
					width:25%;
					float: left;
					@include clearfix();
					@include boxBrdrB;
					@include boxBrdrL;
					padding:15px 0 5px 10px;
				
					.product-image {
						width:33.333%;
						float:left;
						
						.also-img { width:100%; }
						}
				
					.product-info { 
						@include clearfix();
						width: 66.666%;
						float:right;
						padding:0 5px 0px 10px; 
						
						.title { 
							font-family: $fontArial; 
							color: $cartGreyMd;
							font-weight:normal;
							font-size:12px;
							margin: 0;
							padding-bottom:10px;
							}
						
						.price { 
							font-family: $fontArial; 
							color: $cartGreyDk;
							font-weight:bold;
							font-size:12px; 
							}
						
						.add-also-bought {
							float: left;
							width: 70%;
							height: 30px;
							
							.button {
								height: 30px;
								
								span {
									@include secondaryAddCart;
								
									.add-secondary-to-cart {
										-webkit-appearance: none;
										opacity: 0;
										position: relative; 
										top:-24px; 
										height:30px; width: 100%;	
										z-index: 10;
										cursor: pointer;
										} /* end actual input styles */
									}/* end span */
								}/* end button */
							} /* end add also bought */	
						} /* end product info */
					} /* end also bought li */
					
				.also-bought-product:last-child { @include boxBrdrR; }
					
				}/* end ul */
			}/* end also-bought block */	
		}/* end also bought section */
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	}/* end shoppingcart */
	


#site-header { /*............................... minicart wrappper : 1024 base ............*/
	z-index:20;
	
	nav#mls-nav.mls-nav {
		
		.nav-tabs .nav-item.last.active:not(.nav-actions) {
			background: #e5eaea url(../img/sprites/nav/minicart-cart-icon-hover.png) 18px 15px no-repeat;	
			}
		}

	#mls-nav-content {
		
		z-index:21;
		
		li { 
			position:relative;
			z-index:20; 
			}
		
		#nav-tab4 {
			width:58%;
			height: auto;
			background: #e5eaea;
			position: absolute;
			top: 0; right: 0;
			
			/* see bottom of this doc for universal minicart styles */
			
			}/* end nav tab4 */
		
		}/* end mls-nav-contnt ul */
	}/* end minicart 1024 */
	
	
/* RESPONSIVE */	
	
/* --------------------------------- BASE DESKTOP LAYOUT 960 + ---------------------*/

@media only screen and ( min-width:  960px  ),
screen and (width: 1024px ) and (orientation: landscape) {






}/* end 960 media query


/* ----------------------------- TABLET  LAYOUTS 768 - 959 ---------------------*/

@media only screen and (min-width: $screenSmall )
and ( max-width: 959px ),
screen and (width: $screenSmall ) and ( orientation: portrait) {





}/* end tablet query */





/*----------------------------- NO MAN's LAND LAYOUT  815 - 959  ------------------*/
@media only screen and (min-width: 815px) and (max-width: 959px ) {



}/* end no man's query */







/*----------------------------- BEGIN SMALL DEVICE LAYOUT  767 -   ------------------*/

@media only screen and (max-width: 767px ) {



} /* end small device query */



/* --------------------------------- BEGIN FIRST WIDESCREEN ADJUSTMENTS 1024+ -----------------*/

@media only screen and (min-width: 1024px ) {

#site-header { 
	#mls-nav-content {
		#nav-tab4 {
			#minicart-box {
				#minicart-cart,
				.minicart-summary {
					width:55%;
					}
				}
			}
		}
	}
}/* ---------------------------------END FIRST WIDESCREEN ADJUSTMENTS 1024+ ------------------- */




/* --------------------------------- BEGIN SECOND WIDESCREEN ADJUSTMENTS 1095+ -----------------*/

@media only screen and (min-width: 1095px ) {

#site-header { 
	#mls-nav-content {
		#nav-tab4 {
			#minicart-box {
				#minicart-cart,
				.minicart-summary {
					width:58%;
					}
				}
			}
		}
	}
}/* ---------------------------------END SECOND WIDESCREEN ADJUSTMENTS 1095+ ------------------- */










/* --------------------------------- BEGIN THIRD WIDESCREEN ADJUSTMENTS 1280+ -----------------*/

@media only screen and (min-width: $screenLarge ) {

#site-header { 
	#mls-nav-content {		
		#nav-tab4 {
			#minicart-box {
				#minicart-cart,
				.minicart-summary {
					width:62%;
					}
				}
			}
		}
	}


}/* ---------------------------- END THIRD WIDESCREEN 1280+  -------------------------------*/



#minicart-box { /* .................. universal minicart styles ...........................*/
	position:relative;
	width:100%;
	height: auto;
	padding:10px;
	@include clearfix();
	@include boxBrdrL;
	@include boxBrdrR;
	@include boxBrdrB;
	@include box-shadow(rgba(119, 119, 119, 0.7) 0px 2px 3px 2px);
				
	#minicart-banner-box {
		float:left;
		width: 247px;
					
		.minicart-banner {
			width:100%;
			height:112px;
			padding: 20px 20px 20px 80px;
					
			.minicart-h3 { 
				font-family: $fontVzwLight;
				font-size:18px;
				line-height:23px;
				font-style: italic;
				color:#fff;
				padding: 0;
				margin: 0 0 2px 0;
				letter-spacing: -1px;
							
				.minicart-bold {
					font-family:$fontVzwMedium;
					} /* end bold */
				}/* end  h3 */

			.minicart-cta {
				font-family: $fontArial;
				font-size:11px;
				text-transform: uppercase;
				font-weight: bold;
				color: #fff;
				width: auto;
				padding-right:20px;
				background: url(../img/sprites/pdp/wht-right.png) 78px 2px no-repeat;
				}/* end cta */

			}/* end banner */
						
		.ship { background: $highlightBg url(../img/cart/minicart-truck-icon.png) 10px 35px no-repeat; }
				
		.brand { background: $pdpAmber url(../img/cart/minicart-brand-bg.png) no-repeat; }
					
		.lifestyle { background: $techinfoBg url(../img/cart/minicart-lifestyle-bg.png) 10px 30px no-repeat; }
						
		} /* end banner-box */
					
		#minicart-cart {
			float:right;
			width:50%;
			height: auto;       
			margin-left:10px;
			position: relative;
					
			#minicart-item-list {
				width:100%;
					
				.minicart-item {
					@include boxBrdrB;
					@include clearfix();
					position:relative;
					height:78px;
					width: 100%;
					 
					.item-image-block {
					 	width: 25%;
					 	max-width:82px;
					 	position: absolute;
					 	left:0px;
					 			
					 	.minicart-item-image {
					 		width:75%;
					 		margin: 10px auto 10px 5px;
					 		}
					 	}
					 			
					 .item-info-block {
					 	width: 75%;
					 	position: absolute;
					 	right: 0px;
					 	padding:14px 10px 10px 0;
					 			
					 	li { 
					 		@include clearfix();
					 		display: block;
					 		font-family: $fontArial;
					 		background: transparent;
					 		font-size: 12px;
					 		line-height:16px;
					 		}
					 		
					 	.minicart-item-title {
					 		overflow:hidden;
					 				
					 		a { 
					 			@include actionLink;
					 			white-space: nowrap;
					 			font-size: 12px;
					 			line-height:16px;
					 			font-weight: normal;
					 			}
					 		
					 		}/* end title */
					 				
					 	.item-details {
					 		@include clearfix();
					 			
					 		.minicart-item-price { 
					 			width:25%;
					 			float:left;
					 			margin-right:2.5%;
					 			}
					 				
					 		.minicart-item-price,
					 		.minicart-item-price .price {
					 			display:inline-block;
					 			color: $cartGreyDk;
					 			font-weight: bold;
					 			font-family: $fontArial;
					 			font-size:12px;
					 			line-height:16px;
					 			}
					 					
					 		.color-size {
					 			display: inline-block;
					 			width:60%;
					 			float:left;
					 			@include clearfix();
					 					
					 			.minicart-item-color,
					 			.minicart-item-size { 
					 				font-size:12px;
					 				line-height:16px;
					 				color: $cartGreyLt;
					 				width:auto;
					 				display:inline-block; 
					 				}
					 			}/* end color-size */		
					 		}/* end item details */
					 				
					 	.item-qty {
					 		font-size:12px;
					 		line-height:16px;
					 		color: $cartGreyLt;
					 					
					 		.minicart-item-qty {
					 			color: $cartGreyDk;
					 			font-weight: bold;
					 			}
					 		}/* end item-qty */
					 			
					 	.remove-msg {
					 		font-family: $fontArial;
					 		color: $cartGreyDk;
					 		font-size:12px;
					 		font-family: 16px;
					 		position: absolute;
					 		top: 0; left: 0;
							background: #d6d9d9;
					 		width: 100%; height: 100%;
					 		padding:15px 20px 0 0 ;
					 		z-index: 20; 
					 		}
					 	}/* end info block */
						
					.minicart-edit {
						@include clearfix();
						position:absolute;
						bottom: 16px;
						right: 20px;
						width:96px;
						font-size: 10px;
						line-height:10px;
						z-index: 25; 
								
						.edit {
							@include boxBrdrR;
							width: auto;
							padding-right:15px;
							float:left;
							font-size: 10px;
							line-height:10px;
							}
									
						.remove {
							padding-left: 10px;
							width: auto;
							float:right;
							font-size: 10px;
							line-height:10px;
							}
									
						.edit a, .remove a {
							@include actionLink;
							text-transform: uppercase;
							font-size:10px;
							line-height:10px;
							}
						.remove a.yes-remove {
							@include actionLink;
							color: $colorVzwRed;
							text-transform: uppercase;
							font-size:10px;
							line-height:10px;
							} 
						}/* end minicart-edit */
					}/* end item */
				}/* end item-list */
			}/* end minicart-cart */
				
		.minicart-border-block {
			position: absolute;
			top:-5px; right: 0px;
			width: 81px; height:5px;
			background: #e5eaea;
			z-index:25;
			}
				
		.minicart-summary {
			width: 50%;
			height: 90px; 
			position: absolute;
			bottom: 10px; right: 0px;
					
			.minicart-total {
				width: 100%;
				height:40px;
				padding-right: 20px; 
						
				.label { 
					width: 50px;
					float: left;
					font-family: $fontArial;
					color:$cartGreyMd;
					font-size: 12px;
					line-height:45px;
					background: transparent;
					font-weight: normal;
					}
							
				.actual-sub {
					width: auto;
					float:right;
					font-size:20px;
					color:$cartGreyDk;
					font-weight: bold;
							
					#minicart-subtotal {
						font-size:20px;
						color:$cartGreyDk;
						font-weight: bold;
						}
					} /* end actual sub */
							
				.minicart-sale { 
					width: auto; 
					font-size:12px;
					line-height:14px;
					height:14px; 
					margin-top:15px;
					float:right;
					margin-right: 15px; 
					@include clearfix();
							
					span { 
						display: inline-block;
						font-size:12px;
						line-height:14px;
						height:14px; 
						}
					.label { 
						float: left;
						margin-right:3px;
						font-size:12px;
						line-height:14px;
						height:14px; 
						text-transform: uppercase;
						color: $colorVzwRed;
						font-weight: bold; 
						}
					.original-price {
						display: inline-block;
						width: auto;
						float: right;
						font-size:12px;
						line-height:14px;
						height:14px;
						font-family: $fontArial;
						color: $cartGreyLt;
						letter-spacing: -1px;
								
						#minicart-original-price { text-decoration: line-through; }
						} /* end original -price */		
					}/* end sale block */
				}/* end minicart total block */	
						
			.minicart-buttons {
				display:block;
				width: 100%;
				height: 50px;
				position: relative;
				@include clearfix();
						
				.view-cart,
				.checkout { 
					position: absolute;
					width:45%;
					height:100%;
					}
					
				.view-cart { 
					left:0px;
							
					.minicart-view-cart {
						display: block;
						@include greyCartButton;
						padding: 20px 0 0 10px;
								
						.qty-items-in-cart { 
							font-size:12px;
							font-family: $fontVzwMedium; 
							}
						}
					}/* end view cart */
							 
				.checkout { 
					right: 20px;
							
					.button {
						width: 100%;
						height: 100%;
					
						span {
							@include ctaButton;
							display:inline-block;
							width:100%; height: 100%;
							position:relative;
							font-size:14px;
							font-family: $fontVzwMedium;
							text-transform: lowercase; 
							padding: 20px 0 0 10px;
							
							input.add-cart-cta {
								width:105%; height:50px;
								position:relative;
								top:-50px; left:-9px;
								-webkit-appearance: none;
								opacity:0;
								cursor: pointer;
                    			} /* end add-cart-cta */
                    		} /* end span */
                    	} /* end button */
                    } /* end checkout div */
				} /* end minicart buttons */
			} /* end minicart-summary */
		}/* end minicart-box */








