/* Checkout SCSS (built from Cart SCSS) */



	/* resets */	
	
		/*input[type="button"],
		button { padding:0px !important; border:0px !important; background: none; }
		*/
		input[type="search"],
		input[type="list"],
		input[type="number"] { font-family: $fontArial; }


	/* mixins, colors, etc from other pages - TEMP */
		$highlightBg: #29a0cd;
		$pdpAmber: #ffba62;
		$techinfoBg : #119a70;
		
		$cartGreyLt: #727272; 
 		$cartGreyMd: #666666;
 		$cartGreyDk: #3d4146;
 		$controlTxt: #c5c7c7;

		$colorVzwRed: #D00505;
 		$actLinkBlue: #0066cc;

		$specialOfferBlue: #009eb6;
		
		@mixin actionLink { font-family: Arial, 'Helvetica Neue', Helvetcia, sans-serif;
						font-size:12px;
						font-weight:bold;
						text-transform:capitalize;
						color: $actLinkBlue; }


	/* new colors, mixins, etc */
 		$cartGreyAltWht: #edefef;
 		$cartGreyFocus: #d9d9d9;
						
		@mixin cartHilight { 
			-webkit-box-shadow: inset 0px 5px 12px 1px rgba(255, 255, 255, 0.7);
			-moz-box-shadow: inset 0px 5px 12px 1px rgba(255, 255, 255, 0.7);
        	box-shadow: inset 0px 5px 12px 1px rgba(255, 255, 255, 0.7);
			}

		@mixin cartButtonUp { 
			@include cartRounded;
			@include boxBrdrA;
			@include cartHilight;
			background: #edf1f2;
			font-size:14px;  
			 padding:0 10px 0 10px;
			text-transform: lowercase;
			font-family: $fontVzwBook;
			cursor:pointer;
			
			span { color: #acacac;
				text-shadow: 0px 1px 1px #fff; 
				}
			}
			
		@mixin secondaryAddCartGrey {
			height:24px;
			border: 0;
			background: rgb(226, 230, 230) url(../img/sprites/cart/red-cart-secondary-add.png) 0 4px no-repeat;
			text-transform:uppercase;
			color: $colorVzwRed;
			font-family : $fontArial;
			font-size:11px; 
			padding-left:20px;
			font-weight: bold; 
			cursor:pointer; 
			text-align: left;
			}
			
		@mixin secondaryAddCart {
			height:24px;
			border: 0;
			background: transparent url(../img/sprites/cart/red-cart-secondary-add.png) 0 4px no-repeat;
			text-transform:uppercase;
			color: $colorVzwRed;
			font-family : $fontArial;
			font-size:11px; 
			padding-left:20px;
			font-weight: bold; 
			cursor:pointer; 
			}
			
		@mixin cartButtonShadow {
			height:100%;
			overflow-y: hidden;
			-webkit-box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.25); 
            -moz-box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.25); 
            box-shadow: 0px -2px 4px 1px rgba(0, 0, 0, 0.25); 
            padding: 0 9px 0 9px; 
			}
		
		@mixin cartEditPanel {
			@include cartRounded;
			@include boxBrdrA;
			background: #fff;
			-webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
            -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
            box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
			position: absolute;
			z-index:10; top:-120px; 
			padding:20px; 
			}	

		@mixin greyCartButton {
			@include cartRounded;
			@include boxBrdrA;
			width: 100%; height: 100%;
			background: #f2f2f2;
			color:$cartGreyMd;
			font-family: $fontVzwMedium;
			text-transform: lowercase;
			-webkit-box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
            			-moz-box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
            			box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
			}

		@mixin checkoutCtaBtn {
			@include cartRounded;
			border: 1px solid  #222;
			width: 100%; height: 100%;
			color:#fff;
			font-family: $fontVzwMedium;
			text-transform: lowercase;
			background-image: -ms-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* IE10 Consumer Preview */ 
			background-image: -moz-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* Mozilla Firefox */
			background-image: -o-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* Opera */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6B6B6B), color-stop(1, #292929)); /* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* Webkit (Chrome 11+) */ 
			}
	
	
	
/* Checkout Styles */
  
#checkout-page {
	

	/* General & Temp Classes ............................................................... */
		
		#checkout-page-wrap { 
			position: relative;
			max-width:1024px;
			margin: 0 auto 0 auto;
			}
		
		.section-wrap { 
			@include clearfix();
			width:100%;
			max-width:1024px;
			position:relative;
			}

		.temp-cart-header { /* ............. TEMP page header........ */
			width:100%;
			height:155px; overflow:hidden;
			background: url(../img/cart/three-row-nav-bg.png) repeat-x; 
			position:relative;
			z-index:5;
		
			#site-header { margin-top:106px; }
		
			}/* end temp header */
		
		 
	/* input styles */	
	 
		 .form-input-wrap { 
		 	position: relative;
		 	margin-bottom:30px; 
		 	}
		 
		 input.error { 
		 	background:#fff;
		 	border-color: $colorVzwRed;
		 	}	
		 	
		 label.error { 
		 	width: 100%;
		 	font-family: $fontArial;
		 	text-transform: uppercase;
		 	font-size: 10px;
		 	line-height:10px;
		 	color: $colorVzwRed;
		 	font-weight: bold;
		 	position: absolute;
		 	bottom: 0; left: 0;
		 	}
		 
		.bold {
			font-family: $fontVzwBold;
			font-weight: normal;
			
			.sep { 
				font-weight:normal;
				font-family: $fontVzwLight;
				}
			}
	
		.step-number {
			.bold {
				display:inline-block;
				padding:0 2px 0 2px;
				}
			}
	
		.hide-complete, .hide-input { display:none; }
		
		.forgot, .privacy-link { 
			@include actionLink;
			font-size: 12px; 
			font-weight: normal;
			}
			
		.checker { /* uniform wrapper */
			width:20px;
			height:20px;
			float: left;
			-webkit-border-radius: 2px;
			border: 1px solid #aaa;
					
			span { /* uniform wrapper */
					
				input[type="checkbox"] { 
					width:20px; 
					height: 20px; 
					opacity: 0;
					}
				} /* span */
							
			span.checked {
				background: url(../img/sprites/cart/checkout-checkbox-checked.png) 3px 0px no-repeat;
				}
			}/* end checker (uniform wrapper) */
			
		.checkbox-label { 
			width: 120px;
			float: left;
			font-family: $fontArial;
			font-size: 12px;
			line-height:20px;
			color: $cartGreyMd;
			padding-left:10px; 
			}				
			
		input[type="text"], input[type="password"], input[type="tel"] {
			color: $cartGreyDk;
			font-family: $fontVzwBook;
			font-weight: normal;
			background: #fff;
			margin: 3px 0 5px 0; 
			padding: 8px;
			font-size:18px;
			}
		
		input[type="text"].hasPlaceholder,
		input[type="password"].hasPlaceholder,
		input[type="tel"].hasPlaceholder { 
			color: #bbb;
			font-family: $fontVzwLight;
			font-weight: normal; 
			}
			
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="tel"]:focus {
			color: $cartGreyDk;
			font-family: $fontVzwBook;
			font-weight: normal; 
			}
			
		
	/* Begin Checkout Grid .................................................................. */
		
		#checkout-nav-overlay {
			position: absolute;
			top:104px; 
			z-index:21; 
			width:100%;
			background: #fff; 
		
			.section-wrap { height: 45px; max-height:45px; }
			
			.title {
				display: inline-block;
				width: auto;
				
				.nav-title {
					font-size: 16px;
					line-height:20px;
					font-family: $fontVzwBold;
					color: $cartGreyDk;
					font-weight: normal;
					letter-spacing: -1px;
					}
				} /* end title */
			
			.checkout-links { 
				position:absolute;
				top:12px;
				right: 98px;     
				display:inline-block;
				width: auto;
				z-index:30;
				
				ul {
					li { 
						display: inline-block;
						width: auto; 
						padding:0 8px 0 8px;
						
						.help-link {
							font-family: $fontArial;
							font-weight: bold;
							color: $colorVzwRed;
							font-size:14px;
							line-height:18px; 
							}
						.nav-contact-link { 
							font-family: $fontVzwMedium;
							font-weight: normal;
							color: $cartGreyMd;
							font-size:14px;
							line-height:18px;
							text-transform: uppercase;
							}
						} /* end li */
						
					.chat { @include boxBrdrR; }
						
					}/* end ul */	
        		} /* end checkout-links */
        		
        	.checkout-minicart-block {
        			width: 100%;
        			height: auto;
					position: absolute;
					top:0;
					right: 0;
					z-index: 25;
			
					#checkout-minicart-tab {
						position:absolute;
						right: 0px;
						width: 83px;
						height: 45px;
            			padding: 15px 15px 0 15px;
            			cursor: pointer;
            			border: 1px solid #fff;
            			
            			font: {
                			family: $fontArial;
                			size: 12px;
                			weight: bold;
            				}
            			a, .count { 
                			float: left; 
                			color: $colorCountRed;
            				}
            			a {
                			@include nav-sprite(nav-ico-cart);
                			color: transparent;
                			height:30px;
            				}
        				}/* end minicart-tab */
        				
        			#checkout-minicart-tab.hover { 
        				@include boxBrdrA;
        				background: #e5eaea;
        				a { @include nav-sprite(minicart-cart-icon-hover) }
        				}
        				
        			#checkout-minicart { 
        				display: none; 
        				position: absolute;
        				top:45px;
        				right: 0;
        				width:58%;
						height: auto;
						background: #e5eaea;
			
						/* universal minicart styles in cart.scss */

        				} /* end checkout-minicart */	
        			}/* end minicart block */		
			} /* end nav overlay */
		
		
		#checkout-header { 
			.section-wrap {
				padding: 45px 0 0 90px;
				}
	
		.checkout-title { 
			font-family: $fontVzwLight;
			font-size:72px;
			font-weight: normal;
			color: $cartGreyDk;
			}
		    
		.cart-link {
			position:absolute;
			top: 15px; left: 36px;
	
			a {
				@include actionLink;
				text-transform:uppercase;
				font-size:11px;
				padding: 0 0 0 10px;
				background:url(../img/sprites/pdp/blue-left.png) 0px 2px no-repeat;
				}
			}/* end cart-link */
	
		}/* end checkout header */
	
		#begin-checkout { 
			position:absolute;
			z-index:10;
			top:0; left: 0%;
			width: 100%;
			height:100%;
			background:#ffffff;
			
			
			.section-wrap {
				@include clearfix();
				height:520px;
				}
		
			.sign-in, .guest-checkout {
				display: inline-block;
				width:50%;
				height:100%;
				@include boxBrdrT;
				@include boxBrdrB;
			
				.form-box {
					width:65%;
					height:auto;
					margin:30px auto 30px auto;
				
					.form-title {
						font-size:25px;
						font-family: $fontVzwBook;
						font-weight: normal;
						color: $cartGreyDk;
						letter-spacing: -1px;
				
						.bold {
							font-family: $fontVzwBold;
							}
						}/* end title */
				
					.form-instructions {
						font-family: $fontArial;
						font-size:12px;
						line-height: 16px;
						color: $cartGreyMd;
						padding: 0;
						margin:10px 0 25px 0px;
					
						span { font-weight: bold; }
						}/* end instructions */
				
				
					.form-item-title { 
						font-size:10px;
						font-family: $fontArial;
						color: $cartGreyMd;
						text-transform: uppercase;
						padding: 0;
						margin: 15px 0 5px 0;
					
						.pass-req {
							display:inline-block;
							@include actionLink;
							font-weight: normal;
							font-size: 11px; 
							width:100px; 
							margin-left:10px;
							background: url(../img/sprites/pdp/blue-more.png) 80px 4px no-repeat;
							cursor: pointer;
							}
					
						.pass-req:before { content:"( "; color: $cartGreyMd; }
						.pass-req:after { content:" )"; color: $cartGreyMd;  }
						} /* end form title */
				
			
					.create-login { 
						@include clearfix();
						padding: 0;
						margin: 0px 0 25px 0; 
				
						.form-input-wrap {
							margin-top: 15px;
							.form-item-title { margin-top:0px; }
							}
						}/* end create login box */	
					
					.button {
						width: 170px;
						height: 50px;
						padding: 0;
						margin: 20px 0 0 0;
				
						span {
							@include checkoutCtaBtn;
							display: block;
							width: 100%;
							height: 100%;
							font-size: 18px;
							padding: 22px 0 0 10px;
					
							input.begin-checkout-submit {
								-webkit-appearance: none;  
								display: block;
								width: 170px;
								height: 50px;
								cursor: pointer;
								opacity: 0;
								position:relative;
								top:-40px; left: -10px;
							
								} /* end input */
							} /* end span */
						} /* end button */	
						
					label.error { bottom: -5px; left: 0; padding:3px 0 3px 0;}
					label.warning { background-color: #222; }
						
							
					}/* end form box */
				} /* end sign-in & guest common styles */
			
			.sign-in {   
				float:left;
				@include cartBG;
				@include boxBrdrR;
				@include boxBrdrL;
				
				label.error { @include cartBG; }
				
				}
		
		 
			.guest-checkout { 
				float: right;
				@include boxBrdrR; 
			
				.create-login-fields {
					display: none; 
					position:relative;
				
					#password-requirements {
						display: none;
						position: absolute; 
						left: 42px; top: 101px; 
						@include plusPopBox;
						padding:9px 12px 12px 12px;
						width:220px;
					
						.req-pointer {
							width: 24px; height:24px;
							position:absolute; 
							top: -24px; left: 50%;
							margin-left: -12px;
							background: url(../img/cart/req-pointer-bg.png) no-repeat;
							}
					
						p { 
							font-size:12px;
							line-height:16px;
							padding: 0; margin: 0;
							color: $cartGreyMd;
							}
					
						} /* end password requirements */
					} /* end create login box */
					
				label.error { @include cartBG; }
					
				} /* end guest checkout box */
			}/* end 'begin checkout' */


		#checkout {
			.section-wrap {
				min-height:900px;
				}
			
			form { margin: 0; }

			#checkout-sequence {
				display: inline-block;
				width: 75%;
				float: left;
				@include boxBrdrL;
				@include boxBrdrR;
				@include boxBrdrB;
				
				
				.checkout-step {
					width: 100%;
					height: auto;
					
					.step-title-block {
						width: 100%;
						height: 90px;
						@include boxBrdrT;
						@include heroBG;
						position:relative;
					
						.step-title {
							font-family: $fontVzwBook;
							font-weight: normal;
							font-size: 24px;
							line-height: 98px;
							padding-left: 9%;
							letter-spacing: -1px;
							color:$cartGreyDk;
						
							
							} /* end title */
							
						.step-number {
							font-family: $fontVzwBook;
							font-weight: normal;
							font-size: 14px;
							text-transform: lowercase;
							position: absolute;
							right: 9%;
							bottom: -3px;
							letter-spacing: -1px;
							color:$cartGreyDk;
						
							}/* end step number */	
						}/* end title block */
					
					
					.step-info-block, .hide-input {
						@include boxBrdrT; 
						}
						
					.step-info-block {
						@include clearfix();
						padding: 30px 72px 30px 72px;
						
						
						.pointer { 
							width:36px;
							height:30px;
							position: relative; 
							left: 0px; top: -31px;   
							background: url(../img/sprites/cart/checkout-step-pointer.png) no-repeat; 
							}
					
						.instructions { 
							font-size: 18px;
							color: $cartGreyMd;
							}
							
						.form-input-wrap {
							width: 60%; 
							float: left;
							@include clearfix();
							
							.form-item-title {
								color: $cartGreyDk;
								font-family: $fontArial;
								font-size: 10px;
								font-weight: bold;
								text-transform: uppercase;
								padding: 0; margin: 0 0 8px 0;
								}
								
							input[type="text"], input[type="tel"], input[type="email"] { 
								background: #fff;
								margin: 0 0 15px 0; 
								padding: 8px;
								font-size:18px;
								}
							}
					
					
					
					
					
					
					
					
					
						}
					
				
					} /* end common checkout-step */
			
				#shipping-info { 
					.hide-complete { display: block; }
					}
					
				#shipping-method {
				
					#no-shipping-selected { display:none; }
				
					}
					
				#billing-info {
				
					}
					
				#confirm-order {
				
					}
		
				}/* end checkout sequence */
			
			
			#checkout-sidebar { /* ........................ checkout sidebar ............. */
				display: inline-block;
				width: 25%;
				height: auto;
				padding: 0; margin: 0;
				float: right;
				@include boxBrdrR;
				@include boxBrdrL;
				@include boxBrdrB;
				@include cartBG;
				position:absolute;
				top:0;
				right: 1px; 
		
				.special-offer-block { 
					width:100%;
					height:auto;
					background: $specialOfferBlue url(../img/sprites/pdp/shipping-boxes-icon.png) 15px 20px no-repeat;
					padding:20px; 
					@include anchorDrop;
				
					.cart-offer-text {
						font-family: $fontArial;
						font-size:12px; 
						font-weight:bold; 
						color:#fff;
						margin:0 0 0 40px;
						}
					} /* end special block */
					
				.checkout-cart-summary {	
					
					.item-brief { 
						width: 100%;
						height:81px;
						@include boxBrdrB;
						background: #fff;
					
						p { 
							font-size:20px;
							line-height: 20px;
							color: $cartGreyMd;
							letter-spacing: -1px;
							padding: 45px 0 0 20px;
						
							#item-total { }
							}
						
						} /* end item-brief */
					
					
					.item-details { 
						@include cartBG;
						@include boxBrdrB;
					
						.item-list {
							display: block;
							width: 100%;
							padding: 0; margin: 0;
					
							.item {
							display: block;
							width: 100%;
							height: 81px;
							@include clearfix();
							
								.item-image { 
									width: 25%;
									float: left;
									padding:15px 0 15px 0;
								
									img { 
										width: 90%;
										margin: 0 auto 0 5px;
										}
									
									} /* end item image */
									
									
								.item-info {
									width: 75%;
									float: right;
									
									padding: 15px 0 15px 0;
									
									ul {
										display: block;
										width: 90%;
										margin: 0 auto 0 auto;
										overflow: hidden;
									
										li {
											display: block;
											width: 100%;
											 @include clearfix();
											 margin: 0 0 5px 0;
											 
									
											.item-title {
												font-family: $fontArial;
												color: $cartGreyMd;
												font-weight: normal;
												font-size: 12px;
												line-height:14px;
												white-space: nowrap;
												}
											
											.price { 
												display: inline-block;
												float:left;
												font-family: $fontArial;
												color: $cartGreyDk;
												font-weight: bold;
												font-size: 12px;
												line-height:14px;
											
												.item-price { }
												}
											
											.qty { 
												display: inline-block;
												float:left;
												margin-left: 10px;
												font-family: $fontArial;
												color: $cartGreyLt;
												font-weight: normal;
												font-size: 12px;
												line-height:14px;
											
												.item-qty { 
													color: $cartGreyMd;
													font-weight: bold; 
													}
												}
											
											.item-color, .item-size {
												display: inline-block;
												float:left;
												font-family: $fontArial;
												color: $cartGreyLt;
												font-weight: normal;
												font-size: 12px;
												line-height:14px; }
											
											.item-size:before { content: ", "; }
									
											} /* end info li */
										} /* end info ul */
									} /* end item info */
								} /* end item */
							} /* end item list */
						} /* end item details */
					
					
					.totals { 
						@include cartBG;
					
						ul {
							display:block;
							width:100%;
							padding: 10px 0 20px 0;
						
							li { 
								width:100%;
								display: block;
								@include clearfix();
								margin-bottom:10px;
								height: 30px;
								position:relative;
								padding: 10px 0 0 0;
							
								.label { 
									font-family: $fontArial;
									font-size: 10px;
									line-height: 18px;
									text-transform: uppercase;
									color: $cartGreyMd;
									width: 60%;
									text-align: left;
									background: transparent;
									position: absolute;
									left: 10px; bottom: -3px; 
									}
								
								.data { 
									width: 35%;
									text-align: right;
									float: right;
									font-family: $fontArial;
									font-size: 14px;
									line-height: 20px;
									color: $cartGreyDk;
									padding: 0 10px 0 0;
								
									#subtotal { }
									
									#tax { }
									
									#shipping  { }
									
									#total { }
									}
								
								}
							
							#checkout-cart-subtotal { }
							
							#checkout-cart-tax { }
							
							#checkout-cart-ship {
							
								.offer { 
									color: $colorVzwRed;
									font-weight: bold;
									}
								}
							
							#checkout-cart-total { 
							
								.label { 
									font-family: $fontVzwBook;
									font-weight: normal;
									line-height:24px;
									font-size: 18px;
									text-transform: none; 
									bottom:-8px;
									}
									
								.data { 
									font-family: $fontVzwMedium;
									font-weight: normal;
									line-height: 24px;
									font-size: 18px;
									text-transform: none; 
									}
							
								} /* end checkout-cart-total */
							} /* end totals ul */
						} /* end totals */
					} /* end cart summary */
					
				.sidebar-finish {
					/* display:none; */
					
					.checkout-final { }
	
					}
					
				}/* end checkout-sidebar */
				
			#checkout-sidebar.fixed {
				position:fixed;
				top: 20px; 
				left: inherit;
				z-index:5;
				}	
			}/* end checkout */
			
			
/* RESPONSIVE */	
	
/* --------------------------------- BASE DESKTOP LAYOUT 960 + ---------------------*/

@media only screen and ( min-width:  960px  ),
screen and (width: 1024px ) and (orientation: landscape) {

	body { min-width: 960px; }






}/* end 960 media query


/* ----------------------------- TABLET  LAYOUTS 768 - 959 ---------------------*/

@media only screen and (min-width: $screenSmall )
and ( max-width: 959px ),
screen and (width: $screenSmall ) and ( orientation: portrait) {





}/* end tablet query */





/*----------------------------- NO MAN's LAND LAYOUT  815 - 959  ------------------*/
@media only screen and (min-width: 815px) and (max-width: 959px ) {



}/* end no man's query */







/*----------------------------- BEGIN SMALL DEVICE LAYOUT  767 -   ------------------*/

@media only screen and (max-width: 767px ) {



} /* end small device query */



/* --------------------------------- BEGIN FIRST WIDESCREEN ADJUSTMENTS 1024+ -----------------*/

@media only screen and (min-width: 1024px ) {


}/* END FIRST WIDESCREEN ADJUSTMENTS 1024+ */




/* --------------------------------- BEGIN SECOND WIDESCREEN ADJUSTMENTS 1095+ -----------------*/

@media only screen and (min-width: 1095px ) {


}/* END SECOND WIDESCREEN ADJUSTMENTS 1095+ */










/* --------------------------------- BEGIN THIRD WIDESCREEN ADJUSTMENTS 1280+ -----------------*/

@media only screen and (min-width: $screenLarge ) {



}/* ---------------------------- END THIRD WIDESCREEN 1280+  -------------------------------*/





}/* end checkout-page */


















	
