/* Checkout SCSS (built from Cart SCSS) */



	/* resets */	
	
		/*input[type="button"],
		button { padding:0px !important; border:0px !important; background: none; }
		*/
		input[type="search"],
		input[type="list"],
		input[type="number"] { font-family: $fontArial; }


	/* mixins, colors, etc from other pages - TEMP */
		$highlightBg: #29a0cd;
		$pdpAmber: #ffba62;
		$techinfoBg : #119a70;
		
		$cartGreyLt: #b0b0b0; 
 		$cartGreyMd: #666666;
 		$cartGreyDk: #3d4146;
 		
 		$controlTxt: #c5c7c7;

		$colorVzwRed: #D00505;
 		$actLinkBlue: #0066cc;

		$specialOfferBlue: #009eb6;
		
		@mixin actionLink { font-family: Arial, 'Helvetica Neue', Helvetcia, sans-serif;
						font-size:12px;
						font-weight:bold;
						text-transform:capitalize;
						color: $actLinkBlue; }


	
 		$cartGreyAltWht: #edefef;
 		$cartGreyFocus: #d9d9d9;
						
		@mixin cartHilight { 
			-webkit-box-shadow: inset 0px 5px 12px 1px rgba(255, 255, 255, 0.7);
			-moz-box-shadow: inset 0px 5px 12px 1px rgba(255, 255, 255, 0.7);
        	box-shadow: inset 0px 5px 12px 1px rgba(255, 255, 255, 0.7);
			}

		@mixin cartButtonUp { 
			@include cartRounded;
			@include boxBrdrA;
			@include cartHilight;
			background: #edf1f2;
			font-size:14px;  
			 padding:0 10px 0 10px;
			text-transform: lowercase;
			font-family: $fontVzwBook;
			cursor:pointer;
			
			span { color: #acacac;
				text-shadow: 0px 1px 1px #fff; 
				}
				
			span.checkout {
				display: inline-block;
				font-size: 14px;
				line-height: 14px; 
				text-transform: lowercase;
				color: $cartGreySelect;
				font-family: $fontArial;
				font-weight: bold; 
				padding: 14px 0 0 0px;
				}
				
				
			}
			
		@mixin secondaryAddCartGrey {
			height:24px;
			border: 0;
			background: rgb(226, 230, 230) url(../img/sprites/cart/red-cart-secondary-add.png) 0 4px no-repeat;
			text-transform:uppercase;
			color: $colorVzwRed;
			font-family : $fontArial;
			font-size:11px; 
			padding-left:20px;
			font-weight: bold; 
			cursor:pointer; 
			text-align: left;
			}
			
		@mixin secondaryAddCart {
			height:24px;
			border: 0;
			background: transparent url(../img/sprites/cart/red-cart-secondary-add.png) 0 4px no-repeat;
			text-transform:uppercase;
			color: $colorVzwRed;
			font-family : $fontArial;
			font-size:11px; 
			padding-left:20px;
			font-weight: bold; 
			cursor:pointer; 
			}
			
		@mixin cartButtonShadow {
			height:100%;
			overflow-y: hidden;
			-webkit-box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.25); 
            -moz-box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.25); 
            box-shadow: 0px -2px 4px 1px rgba(0, 0, 0, 0.25); 
            padding: 0 9px 0 9px; 
			}
		
		@mixin cartEditPanel {
			@include cartRounded;
			@include boxBrdrA;
			background: #fff;
			-webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
            -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
            box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2); 
			position: absolute;
			z-index:10; top:-120px; 
			padding:20px; 
			}	

		@mixin greyCartButton {
			@include cartRounded;
			@include boxBrdrA;
			width: 100%; height: 100%;
			background: #f2f2f2;
			color:$cartGreyMd;
			font-family: $fontVzwMedium;
			text-transform: lowercase;
			-webkit-box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
            			-moz-box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
            			box-shadow: inset 0 2px 3px 1px rgba(255, 255, 255, 0.55), inset 0 -1px 2px 1px rgba(0, 0, 0, 0.15);
			}
			
			
/* Checkout : new colors, mixins, etc */
	
		$cartGreySelect: #adadad;

		@mixin checkoutCtaBtn {
			@include cartRounded;
			border: 1px solid  #222;
			width: 100%; height: 100%;
			color:#fff;
			font-family: $fontVzwMedium;
			text-transform: lowercase;
			background-image: -ms-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* IE10 Consumer Preview */ 
			background-image: -moz-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* Mozilla Firefox */
			background-image: -o-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* Opera */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6B6B6B), color-stop(1, #292929)); /* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-linear-gradient(top, #6B6B6B 20%, #292929 100%); /* Webkit (Chrome 11+) */ 
			}
	
		@mixin checkoutLabel {
			color: $cartGreyDk;
			font-family: $fontArial;
			font-size: 10px;
			line-height: 10px;
			font-weight: bold;
			text-transform: uppercase;
			}
	
		@mixin checkoutContent {
			color: $cartGreyMd;
			font-family: $fontArial;
			font-size: 12px;
			line-height:15px;
			font-weight: normal;
			text-transform: none;
			}
			
	
	
	
	
	
	
	
/* Checkout Styles */
  
#checkout-page {
	

	/* Temp Classes ............................. TEMP .................................. */
		
		.temp-cart-header { /* ............. TEMP page header........ */
			width:100%;
			height:155px; overflow:hidden;
			background: url(../img/cart/three-row-nav-bg.png) repeat-x; 
			position:relative;
			z-index:5;
		
			#site-header { margin-top:106px; }
		
			}/* end temp header */
			
			
			
			
	/* General/common classes .............................................................*/
		
		#checkout-page-wrap { 
			position: relative;
			max-width:1024px;
			margin: 0 auto 0 auto;
			}
		
		.section-wrap { 
			@include clearfix();
			width:100%;
			max-width:1024px;
			position:relative;
			}
	
		.bold {
			font-family: $fontVzwBold;
			font-weight: normal;
			
			.sep { 
				font-weight:normal;
				font-family: $fontVzwLight;
				}
			}
	
		.step-number {
			.bold {
				display:inline-block;
				padding:0 2px 0 2px;
				}
			}
	
		
		.hide-complete.hidden, .hide-input.hidden { display: none !important; }
		
		.step-info-summary {
			position: relative;
			padding: 30px 0 20px 0;
		
			h5 { 
				@include checkoutLabel;
				margin: 0 0 10px 0;
				}
				
			ul { margin: 0; }
						
			li { 
				width: 100%;
				@include checkoutContent;
							
				div {
					@include checkoutContent;
					}
				} /* end common li */
				
			.edit-checkout-step { 
				@include cartButtonUp;
				display: inline-block;
				width: 90px;
				height : 36px; 
				position: absolute;
				top: 50%; margin-top: -18px;
				right: 9%; 
				}
				
			}/* end common info summary styles */
		
		 
	/* common input styles ........................................... */	
	 
		 .form-input-wrap { 
		 	position: relative;
		 	margin-bottom:30px; 
		 	}
		 
		 input.error { 
		 	background:#fff;
		 	border: 2px solid $colorVzwRed;
		 	}	
		 	
		 label.error { 
		 	@include checkoutLabel;
		 	width: 100%;
		 	color: $colorVzwRed;
		 	position: absolute;
		 	bottom: 0; left: 0;
		 	}
		 	
		.forgot, .privacy-link { 
			@include actionLink;
			font-size: 12px; 
			line-height:15px;
			font-weight: normal;
			}
			
		.checker { /* uniform wrapper */
			width:20px;
			height:20px;
			float: left;
			-webkit-border-radius: 2px;
			border: 1px solid #aaa;
					
			span { /* uniform wrapper */
					
				input[type="checkbox"] { 
					width:20px; 
					height: 20px; 
					opacity: 0;
					}
				} /* span */
							
			span.checked {
				background: url(../img/sprites/cart/checkout-checkbox-checked.png) 3px 0px no-repeat;
				}
			}/* end checker (uniform wrapper) */
			
		.checkbox-label { 
			width: 120px;
			float: left;
			font-family: $fontArial;
			font-size: 12px;
			line-height:20px;
			color: $cartGreyMd;
			padding-left:10px; 
			}				
			
		input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
			color: $cartGreyDk;
			font-family: $fontVzwBook;
			font-weight: normal;
			background: #fff;
			margin: 3px 0 5px 0; 
			padding: 8px;
			font-size:18px;
			height: 36px;
			@include cartRounded;
			}
		
		input[type="text"].hasPlaceholder,
		input[type="password"].hasPlaceholder,
		input[type="tel"].hasPlaceholder,
		input[type="email"].hasPlaceholder { 
			color: #bbb;
			font-family: $fontVzwLight;
			font-weight: normal; 
			}
			
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="tel"]:focus,
		input[type="email"]:focus,
		input[type="text"].hasPlaceholder.vaild,
		input[type="password"].hasPlaceholder.valid,
		input[type="tel"].hasPlaceholder.valid,
		input[type="email"].hasPlaceholder.valid {
			color: $cartGreyDk;
			font-family: $fontVzwBook;
			font-weight: normal; 
			}
			
		.checkout-dropdown {
			display: inline-block;
			width: auto;
			@include checkoutContent; 
			color: $cartGreyDk;
			position: relative;
			
			.checkout-dropdown-link {
				@include actionLink;
				display: inline-block;
				font-weight: normal;
				font-size: 12px;
				line-height: 15px;
				text-transform: none;
				position: relative;
				z-index: 10;
				}
				
			.checkout-dropdown-panel {
				display: none;
				@include cartEditPanel;
				position: absolute;
				padding: 15px;
				top: 0;
				width: 250px;
				
				
				p { margin: 0;
					font-family: $fontArial;
					color: $cartGreyMd;
					font-size: 11px;
					line-height: 15px;
					font-weight: bold;
					
					.privacy-link {
						font-size: 11px;
						line-height: 15px;
						font-weight: bold;
						}
					}
				
				.dropdown-pointer {
					width: 24px;
					height: 24px;
					@include cart-sprite(req-pointer-bg);
					position: absolute; 
					top: -24px;
					left: 50%;
					margin-left: -12px;
					z-index: 5;
				
					}
				}
			} /* end checkout dropdown */
			
		.selector {
			@include cartButtonUp;
			width: auto;
			height: 36px; 
			padding: 0;
	
			span { 
				display: inline-block;
				font-size: 14px;
				line-height: 14px; 
				text-transform: lowercase;
				color: $cartGreySelect;
				font-family: $fontArial;
				font-weight: bold; 
				width: 100%;
				padding: 14px 0 0 10px;
				background: url(../img/sprites/pdp/grey-more.png) 140px 19px no-repeat;
				 }
		
			.checkout-select-input { 
				-webkit-appearance: none; 
				width: 100%;
			 	height: 36px; 
			 	position:relative;
			 	top: -24px; left:10px;
			 	z-index: 10;
			 	}
		
			}	
			
			.optional { 
				@include checkoutLabel;
				position: absolute;
				left: 396px; top: 32px;
				color: $cartGreySelect;
				padding: 0 0 0 12px;
				@include pdp-sprite(grey-left);
			
				}
			
			.radio-offer {
				text-transform: uppercase;
				color: $colorVzwRed;
				font-weight: bold; 
								
				.ship-price {
					color: $cartGreyMd;
					text-transform: none; 
					}
					
				.checkout-dropdown {
					padding-left: 3px;
									
					.checkout-dropdown-link {
						padding-right: 20px;
						background: url(../img/sprites/pdp/blue-more.png) 108px 4px no-repeat;
						}
									
					.checkout-dropdown-panel {
						top: 30px; left: -10px;
									 	
						p { text-transform: none; }
										}
						}	
					}/* end radio offer */
		
	
	
	
	/* Begin Checkout Grid .................................................................. */
		
		#checkout-nav-overlay {
			position: absolute;
			top:104px; 
			z-index:21; 
			width:100%;
			background: #fff; 
		
			.section-wrap { height: 45px; max-height:45px; }
			
			.title {
				display: inline-block;
				width: auto;
				
				.nav-title {
					font-size: 16px;
					line-height:20px;
					font-family: $fontVzwBold;
					color: $cartGreyDk;
					font-weight: normal;
					letter-spacing: -1px;
					}
				} /* end title */
			
			.checkout-links { 
				position:absolute;
				top:12px;
				right: 98px;     
				display:inline-block;
				width: auto;
				z-index:30;
				
				ul {
					li { 
						display: inline-block;
						width: auto; 
						padding:0 8px 0 8px;
						
						.help-link {
							font-family: $fontArial;
							font-weight: bold;
							color: $colorVzwRed;
							font-size:14px;
							line-height:18px; 
							}
						.nav-contact-link { 
							font-family: $fontVzwMedium;
							font-weight: normal;
							color: $cartGreyMd;
							font-size:14px;
							line-height:18px;
							text-transform: uppercase;
							}
						} /* end li */
						
					.chat { @include boxBrdrR; }
						
					}/* end ul */	
        		} /* end checkout-links */
        		
        	.checkout-minicart-block {
        			width: 100%;
        			height: auto;
					position: absolute;
					top:0;
					right: 0;
					z-index: 25;
			
					#checkout-minicart-tab {
						position:absolute;
						right: 0px;
						width: 83px;
						height: 45px;
            			padding: 15px 15px 0 15px;
            			cursor: pointer;
            			border: 1px solid #fff;
            			
            			font: {
                			family: $fontArial;
                			size: 12px;
                			weight: bold;
            				}
            			a, .count { 
                			float: left; 
                			color: $colorCountRed;
            				}
            			a {
                			@include nav-sprite(nav-ico-cart);
                			color: transparent;
                			height:30px;
            				}
        				}/* end minicart-tab */
        				
        			#checkout-minicart-tab.hover { 
        				@include boxBrdrA;
        				background: #e5eaea;
        				a { @include nav-sprite(minicart-cart-icon-hover) }
        				}
        				
        			#checkout-minicart { 
        				display: none; 
        				position: absolute;
        				top:45px;
        				right: 0;
        				width:58%;
						height: auto;
						background: #e5eaea;
			
						/* universal minicart styles in cart.scss */

        				} /* end checkout-minicart */	
        			}/* end minicart block */		
			} /* end nav overlay */
		
		
		#checkout-header { 
			.section-wrap {
				padding: 45px 0 0 90px;
				}
	
		.checkout-title { 
			font-family: $fontVzwLight;
			font-size:72px;
			font-weight: normal;
			color: $cartGreyDk;
			}
		    
		.cart-link {
			position:absolute;
			top: 15px; left: 36px;
	
			a {
				@include actionLink;
				text-transform:uppercase;
				font-size:11px;
				padding: 0 0 0 10px;
				background:url(../img/sprites/pdp/blue-left.png) 0px 2px no-repeat;
				}
			}/* end cart-link */
	
		}/* end checkout header */
	
		#begin-checkout { 
			position:absolute;
			z-index:10;
			top:0; left: 0%;
			width: 100%;
			height:570px;
			padding-bottom: 50px;
			background:#ffffff;   
			
			
			.section-wrap {
				@include clearfix();
				height:520px;
				}
		
			.sign-in, .guest-checkout {
				display: inline-block;
				width:50%;
				height:100%;
				position: relative;
				@include boxBrdrT;
				@include boxBrdrB;
			
				.form-box {
					width:65%;
					height:450px;
					margin:30px auto 30px auto;
					position: relative;
				
					.form-title {
						font-size:25px;
						font-family: $fontVzwBook;
						font-weight: normal;
						color: $cartGreyDk;
						letter-spacing: -1px;
				
						.bold {
							font-family: $fontVzwBold;
							}
						}/* end title */
				
					.form-instructions {
						@include checkoutContent;
						padding: 0;
						margin:10px 0 25px 0px;
					
						span { font-weight: bold; }
						}/* end instructions */
				
				
					.form-item-title { 
						@include checkoutLabel;
						color: $cartGreyMd;
						padding: 0;
						margin: 15px 0 5px 0;
					
						.pass-req {
							display:inline-block;
							@include actionLink;
							font-weight: normal;
							font-size: 11px; 
							width:100px; 
							margin-left:10px;
							background: url(../img/sprites/pdp/blue-more.png) 80px 4px no-repeat;
							cursor: pointer;
							}
					
						.pass-req:before { content:"( "; color: $cartGreyMd; }
						.pass-req:after { content:" )"; color: $cartGreyMd;  }
						} /* end form title */
				
			
					.create-login { 
						@include clearfix();
						padding: 0;
						margin: 0px 0 25px 0; 
				
						.form-input-wrap {
							margin-top: 15px;
							.form-item-title { margin-top:0px; }
							}
						}/* end create login box */	
					
					.button {
						width: auto;
						min-width: 200px;
						height: 50px;
						padding: 0;
						margin: 20px 0 0 0;
						position: absolute;
						bottom: 0; left: 0;
				
						span {
							@include checkoutCtaBtn;
							display: block;
							width: auto;
							min-width: 200px;
							height: 100%;
							font-size: 18px;
							padding: 22px 0 0 10px;
					
							input.begin-checkout-submit {
								-webkit-appearance: none;  
								display: block;
								width: auto;
								min-width: 200px;
								height: 50px;
								cursor: pointer;
								opacity: 0;
								position:relative;
								top:-40px; left: -10px;
							
								} /* end input */
							} /* end span */
						} /* end button */	
						
					label.error { bottom: -5px; left: 0; padding:3px 0 3px 0;}
					label.warning { background-color: #222; }
						
							
					}/* end form box */
				} /* end sign-in & guest common styles */
			
			.sign-in {   
				float:left;
				@include cartBG;
				@include boxBrdrR;
				@include boxBrdrL;
				
				label.error { @include cartBG; }
				
				.remember-me {
					@include clearfix();
					
					.checkbox-label { width: 90%; }
					
					}
				}
		
		 
			.guest-checkout { 
				float: right;
				@include boxBrdrR; 
				
				.create-login {
					.form-item-title { margin-top: 0; }
					}
			
				.create-login-fields {
					display: none; 
					position:relative;
					
					.form-input-wrap { margin-bottom: 25px; }
				
					#password-requirements {
						display: none;
						position: absolute; 
						left: 42px; top: 101px; 
						@include plusPopBox;
						padding:9px 12px 12px 12px;
						width:220px;
					
						.req-pointer {
							width: 24px; height:24px;
							position:absolute; 
							top: -24px; left: 50%;
							margin-left: -12px;
							background: url(../img/cart/req-pointer-bg.png) no-repeat;
							}
					
						p { 
							@include checkoutContent;
							padding: 0; margin: 0;
							}
					
						} /* end password requirements */
					} /* end create login box */
					
				label.error { @include cartBG; }
					
				} /* end guest checkout box */
			}/* end 'begin checkout' */


		#checkout {
			display: none;
			
			.section-wrap {
				min-height:900px;
				}
			
			form { margin: 0; }

			#checkout-sequence {
				display: inline-block;
				width: 75%;
				float: left;
				@include boxBrdrL;
				@include boxBrdrR;
				@include boxBrdrB;
				
				.checkout-step {
					width: 100%;
					height: auto;
			
					.step-title-block {
						width: 100%;
						height: 90px;
						@include boxBrdrT;
						@include heroBG;
						position:relative;
					
						.step-title {
							font-family: $fontVzwBook;
							font-weight: normal;
							font-size: 24px;
							line-height: 98px;
							padding-left: 9%;
							letter-spacing: -1px;
							color:$cartGreyDk;
						
							
							} /* end title */
							
						.step-number {
							font-family: $fontVzwBook;
							font-weight: normal;
							font-size: 14px;
							text-transform: lowercase;
							position: absolute;
							right: 9%;
							bottom: -3px;
							letter-spacing: -1px;
							color:$cartGreyDk;
						
							}/* end step number */	
						}/* end title block */
					
					
					.step-info-block, .hide-input {
						@include boxBrdrT; 
						}
						
					.step-info-block {
						@include clearfix();
						padding: 36px 72px 0px 72px;
						position: relative;
						
						
						.pointer { 
							width:36px;
							height:30px;
							position: absolute; 
							left: 72px; top: -1px;   
							background: url(../img/sprites/cart/checkout-step-pointer.png) no-repeat; 
							}
					
						.instructions { 
							font-size: 18px;
							color: $cartGreyMd;
							margin: 10px 0 36px 0;
							}
							
						.form-input-wrap {
							width: 100%; 
							float: left;
							margin-bottom: 20px; 
							@include clearfix();
							
							.form-item-title {
								@include checkoutLabel;
								padding: 0; margin: 0 0 8px 0;
								
								.grey { color: $cartGreyLt; }
								}/* end form title  */
								
							input[type="text"], input[type="tel"], input[type="email"] { 
								width: 60%;
								background: #fff;
								margin: 0 0 15px 0; 
								padding: 8px;
								font-size:18px;
								}
							} /* end input wrap */
						} /* end info block */
					
					

					.checkout-next {
						@include checkoutCtaBtn;
						display:block;
						width: 170px;
						height: 50px; 
						padding: 20px 0 0 10px;
						font-size: 18px;
						font-family: $fontVzwMedium;
						margin: 10px 0 36px 72px;
						}
						
					
						
					} /* end common checkout-step */
			
				#shipping-info { 
					.hide-complete { display: block; }
					
					.instructions { margin-bottom: 27px; }
										
					.where-to { 
						width: 163px;
						display: block; 
						float: none;
						margin-bottom: 36px;
						
						span { width: 163px; }
						}
					
					.residence-fields, .business-fields { padding: 0; margin: 0; }
					
					.residence-fields.not,
					.business-fields.not { display: none; }
					
					.newsletter-signup {
						position: relative; 
						top: -16px; 
						width: 80%; 
						float: left;
						@include clearfix();
							
						h5 { 
							@include checkoutContent;
							width: 90%;
							float: left;
							padding: 0; 
							margin: 2px 0 0 10px;
							
							.checkout-dropdown-link { 
								padding: 0 20px 0px 10px;
								background: url(../img/sprites/pdp/blue-more.png) 124px 4px no-repeat;
								}
							.checkout-dropdown-panel {
								top: 30px;
								left: 3px;
								}
							}
						} /* end newsletter-signup */
						
					.form-input-wrap.state {
						width: 120px;
						display: block;
						float: left;
						
						#uniform-shipping-info-state.selector {
							width: 90px !important;
								
							span { 
								font-size: 18px;
								font-family: $fontVzwBook;
								color: $cartGreyDk; 
								margin-right:45px;
								text-transform: uppercase;
								width: 90px !important;
								background-position: 63px 19px;
								padding-top:10px;
								}
							}/* end selector */
						} /* end form wrap state */ 
						
					.form-input-wrap.zip {
						width: 60%;
						display: inline-block;
						float: left;
						
						input { width: 254px; }		
						}
						
					.step-info-summary {
						@include clearfix();
						
						.ship-contact, .ship-address {
							display:inline-block;
							width: 25%;
							margin-left: 72px;
						 	}
						 	
						.ship-address {
							float: left;
							 }
							 	
						#sum-destination { display: none; }
						
						#ship-name-block, #copy-ship-name-block {
							@include clearfix();
							
							.sum-first-name, .sum-last-name {
								display: inline-block;
								width: auto;
								margin-right:3px;
								float: left;
								}
							} /* end name blocks */
							
						.ship-city-state {
							@include clearfix();
						
							div {
								display: inline-block;
								width: auto;
								margin-right: 3px; 
								}
							} /* end city-state block */	
						}/* end info summary */	
					} /* end shipping info specifics */
					
				#shipping-method.checkout-step {
					.step-info-block {
				
						#no-shipping-selected { display:none; }
					
						.instructions.shipping-method {
							.checkout-dropdown {
								.checkout-dropdown-link {
									padding-right: 20px; 
									background: url(../img/sprites/pdp/blue-more.png) 196px 4px no-repeat;
									}
								.checkout-dropdown-panel {
									top: 30px; left:75px; 
									}
								}
							}/* end instructions */
						
						.form-input-wrap {
							@include clearfix();
							
							.checkout-radio-input { 
								width: 18px; 
								height: 18px;
								margin: 0; 
								float: left;
								}
							
							.form-item-title {
								text-transform: none;
								font-weight: normal;
								font-size: 13px;
								line-height: 16px;
								display: inline-block;
								width: auto;
								float: left; 
								padding: 2px 0 0 10px;
								color: $cartGreyMd;
							
								.ship-price { font-weight: bold; }
								}	
							}/* end input wrap */
						} /* end info block */
						
					.step-info-summary {
						#sum-shipping { 
							font-family: $fontArial;
							font-size: 13px;
							line-height:16px;
							padding:20px 0 20px 0;
							margin: 0 0 0 72px;
							color: $cartGreyMd;
							}
						
						}/* end summary */
						
					} /* end shipping method */
					
				#billing-info {
				
					.billing-card { /* use in both info-block & summary-block */
						@include clearfix();
						.card-image {
							display: inline-block;
							float: left;
							width: 60px; height: 36px; 
							padding: 0; margin: 0 10px 0 0;
							}
						.visa { @include cart-sprite(visa-bw); }
						.mastercard { @include cart-sprite(mastercard-bw); }
						.amex { @include cart-sprite(amex-bw); }
						.discover { @include cart-sprite(discover-bw); }
						
						.card-info {
							display: inline-block;
							width: auto;
													
							li { 
								@include checkoutContent;
								}
													
													
							}/* end card-info ul */
						}/* end billing card block */
				
					.step-info-block {
				
						.billing-info-block {
							@include clearfix();
							width: 100%;
							
				
							.billing-select-block { /* tabs */
								@include clearfix();
								display: inline-block;
								float: left;
								width: 70%;
								padding: 0; margin: 0;
								@include boxBrdrL;
								@include boxBrdrR;
								
								.billing-option {
									@include cartBG;
									@include boxBrdrB;
									@include boxBrdrT;
									padding: 17px 15px 15px 15px;
									
									.billing-select-label {
										display: inline-block;
										width: auto;
										float: left;
										margin: 5px 0 0 10px;
										text-transform: uppercase;
										font-family: $fontVzwMedium;
										font-weight: normal;
										color: $cartGreyDk;
										font-size: 11px;
										}
									} /* end common billing option styles*/   
									
								.bill-account {
									width: 47%;
									float: left; 
									@include boxBrdrR;
									}
				
								.bill-card {
									width: 53%;
									float: right;
									@include boxBrdrL;  
									}
									
								.billing-option.checked { 
									@include heroBG;
									border-top: 3px solid $colorVzwRed;
									border-bottom: 1px solid #ebeeee; /* same color as heroBG mixin */
									border-left: 0px;
									border-right: 0px; 
									padding-top:15px;
									
									.checker { background: #fff; }
									
									.billing-select-label {
										color: $colorVzwRed;
										}
									}
									
								} /* end billing select block */
								
							
							
							.billing-details-block { /* tab content */
				 				@include clearfix();
				 				@include heroBG;
				 				@include boxBrdrL;
								@include boxBrdrR;
								@include boxBrdrB;
				 				display: inline-block;
				 				float: left;
								width: 70%;
								min-height:200px;
								height: auto;
								padding: 15px; 
								margin: 0;
								position: relative;
								
							
								.billing-detail-content {
									width: 100%;
				 					height: auto;
				 					position: relative;
				 					top: 0; left: 0;
				 					
				 					.instructions { 
				 						background: transparent;
				 						margin: 0;
				 						padding: 10px 0 10px 0;
				 						}
									} /* end billing-detail-content  common styles */
							
				 				.details-account {
				 				
				 					.account-disclaimer {
				 						@include checkoutContent;
				 						margin: 0 0 20px 0;
				 						}
				 						
				 					.account-billing-address {
				 					
				 						h5 { @include checkoutLabel; }
				 						
				 						li { 
				 							@include clearfix();
				 							@include checkoutContent;
				 							
				 							div { 
				 								@include checkoutContent;
				 								display: inline-block;
				 								float: left;
				 								margin: 0 3px 0 0;
				 								}
				 							}
				 						}/* end account address */ 
				 					} /* end details-account */
							
								.details-card {
								
									.card-choice-block {
										@include clearfix();
								
										.form-input-wrap {
											@include clearfix();
										
											.checkout-radio-input { float: left; }
										
											.form-item-title { 
												display: inline-block;
												width: 90%;
												float: left;
												margin: 7px 0 0 20px;
												}
												
											.card-choice-detail-block {
												@include clearfix();
												width: 90%;
												margin: 25px 0 0 36px;
											
												.billing-card { /* for saved card info */
													width: 75%;
													
													.card-image { margin-top:3px; }
													.visa { @include cart-sprite(visa-color); }
													.mastercard { @include cart-sprite(mastercard-color); }
													.amex { @include cart-sprite(amex-color); }
													.discover { @include cart-sprite(discover-color); }
													
													}
											
											
											
											
											
												}/* end card choice detail block */
												
											.card-choice-detail-block.hidden { display: none; }	
											
											}
										
										.edit-saved-card {
											@include cartButtonUp;
											position: absolute;
											top: 45px; right: 10px;
											width: 90px;
											height: 36px;
											}
										.edit-saved-card.hidden { display: none; }
											
										} /* end card-choice-block */
								
								 	}/* end details-card */
							
								.details-account.hidden, .details-card.hidden { display: none; }
				
								} /* end billing- details block */
							
				 		
				 			.billing-boilerplate {   
				 				width: 20%;
				 				float: right;
				 				}
				 				
				 			} /* end billing info block */
						
						}/* end step info block */
							
				
				
					} /* end billing-info - checkout step 3 */
					
				#confirm-order {
				
					} /* end confirm-order - checkout step 4 */
					
					
				label.error { 
					width: auto; left: auto;
					left: 396px; top: 32px;  
					}
					
				.zip {
					label.error { width: 100%; left:276px; }
					}
				
				}/* end checkout sequence */
			
			
			#checkout-sidebar { /* ........................ checkout sidebar ............. */
				display: inline-block;
				width: 25%;
				height: auto;
				padding: 0; margin: 0;
				float: left;
				@include boxBrdrR;
				@include boxBrdrB;
				@include cartBG;
				position:absolute;
				top:0; 
		
				.special-offer-block { 
					width:100%;
					height:auto;
					background: $specialOfferBlue url(../img/sprites/pdp/shipping-boxes-icon.png) 15px 20px no-repeat;
					padding:20px; 
					@include anchorDrop;
				
					.cart-offer-text {
						font-family: $fontArial;
						font-size:12px; 
						font-weight:bold; 
						color:#fff;
						margin:0 0 0 40px;
						}
					} /* end special block */
					
				.checkout-cart-summary {	
					
					.item-brief { 
						width: 100%;
						height:81px;
						@include boxBrdrB;
						background: #fff;
					
						p { 
							font-size:20px;
							line-height: 20px;
							color: $cartGreyMd;
							letter-spacing: -1px;
							padding: 45px 0 0 20px;
						
							#item-total { }
							}
						
						} /* end item-brief */
					
					
					.item-details { 
						@include cartBG;
						@include boxBrdrB;
					
						.item-list {
							display: block;
							width: 100%;
							padding: 0; margin: 0;
					
							.item {
							display: block;
							width: 100%;
							height: 81px;
							@include clearfix();
							
								.item-image { 
									width: 25%;
									float: left;
									padding:15px 0 15px 0;
								
									img { 
										width: 90%;
										margin: 0 auto 0 5px;
										}
									
									} /* end item image */
									
									
								.item-info {
									width: 75%;
									float: right;
									
									padding: 15px 0 15px 0;
									
									ul {
										display: block;
										width: 90%;
										margin: 0 auto 0 auto;
										overflow: hidden;
									
										li {
											display: block;
											width: 100%;
											 @include clearfix();
											 margin: 0 0 5px 0;
											 
									
											.item-title {
												font-family: $fontArial;
												color: $cartGreyMd;
												font-weight: normal;
												font-size: 12px;
												line-height:14px;
												white-space: nowrap;
												}
											
											.price { 
												display: inline-block;
												float:left;
												font-family: $fontArial;
												color: $cartGreyDk;
												font-weight: bold;
												font-size: 12px;
												line-height:14px;
											
												.item-price { }
												}
											
											.qty { 
												display: inline-block;
												float:left;
												margin-left: 10px;
												font-family: $fontArial;
												color: $cartGreyLt;
												font-weight: normal;
												font-size: 12px;
												line-height:14px;
											
												.item-qty { 
													color: $cartGreyMd;
													font-weight: bold; 
													}
												}
											
											.item-color, .item-size {
												display: inline-block;
												float:left;
												font-family: $fontArial;
												color: $cartGreyLt;
												font-weight: normal;
												font-size: 12px;
												line-height:14px; }
											
											.item-size:before { content: ", "; }
									
											} /* end info li */
										} /* end info ul */
									} /* end item info */
								} /* end item */
							} /* end item list */
						} /* end item details */
					
					
					.totals { 
						@include cartBG;
					
						ul {
							display:block;
							width:100%;
							padding: 10px 0 20px 0;
						
							li { 
								width:100%;
								display: block;
								@include clearfix();
								margin-bottom:10px;
								height: 30px;
								position:relative;
								padding: 10px 0 0 0;
							
								.label { 
									font-family: $fontArial;
									font-size: 10px;
									line-height: 18px;
									text-transform: uppercase;
									color: $cartGreyMd;
									width: 60%;
									text-align: left;
									background: transparent;
									position: absolute;
									left: 10px; bottom: -3px; 
									}
								
								.data { 
									width: 35%;
									text-align: right;
									float: right;
									font-family: $fontArial;
									font-size: 14px;
									line-height: 20px;
									color: $cartGreyDk;
									padding: 0 10px 0 0;
								
									#subtotal { }
									
									#tax { }
									
									#shipping  { }
									
									#total { }
									}
								
								}
							
							#checkout-cart-subtotal { }
							
							#checkout-cart-tax { }
							
							#checkout-cart-ship {
							
								.offer { 
									color: $colorVzwRed;
									font-weight: bold;
									}
								}
							
							#checkout-cart-total { 
							
								.label { 
									font-family: $fontVzwBook;
									font-weight: normal;
									line-height:24px;
									font-size: 18px;
									text-transform: none; 
									bottom:-8px;
									}
									
								.data { 
									font-family: $fontVzwMedium;
									font-weight: normal;
									line-height: 24px;
									font-size: 18px;
									text-transform: none; 
									}
							
								} /* end checkout-cart-total */
							} /* end totals ul */
						} /* end totals */
					} /* end cart summary */
					
				.sidebar-finish {
					/* display:none; */
					
					.checkout-final { }
	
					}
					
				}/* end checkout-sidebar */
				
			#checkout-sidebar.fixed {
				position:fixed;
				top: 20px; 
				left: inherit;
				z-index:5;
				}	
			}/* end checkout */
		
		#checkout.visible { display: block; }
		
			
			
/* RESPONSIVE */	
	
/* --------------------------------- BASE DESKTOP LAYOUT 960 + ---------------------*/

@media only screen and ( min-width:  960px  ),
screen and (width: 1024px ) and (orientation: landscape) {

	body { min-width: 960px; }






}/* end 960 media query


/* ----------------------------- TABLET  LAYOUTS 768 - 959 ---------------------*/

@media only screen and (min-width: $screenSmall )
and ( max-width: 959px ),
screen and (width: $screenSmall ) and ( orientation: portrait) {





}/* end tablet query */





/*----------------------------- NO MAN's LAND LAYOUT  815 - 959  ------------------*/
@media only screen and (min-width: 815px) and (max-width: 959px ) {



}/* end no man's query */







/*----------------------------- BEGIN SMALL DEVICE LAYOUT  767 -   ------------------*/

@media only screen and (max-width: 767px ) {



} /* end small device query */



/* --------------------------------- BEGIN FIRST WIDESCREEN ADJUSTMENTS 1024+ -----------------*/

@media only screen and (min-width: 1024px ) {


}/* END FIRST WIDESCREEN ADJUSTMENTS 1024+ */




/* --------------------------------- BEGIN SECOND WIDESCREEN ADJUSTMENTS 1095+ -----------------*/

@media only screen and (min-width: 1095px ) {


}/* END SECOND WIDESCREEN ADJUSTMENTS 1095+ */










/* --------------------------------- BEGIN THIRD WIDESCREEN ADJUSTMENTS 1280+ -----------------*/

@media only screen and (min-width: $screenLarge ) {



}/* ---------------------------- END THIRD WIDESCREEN 1280+  -------------------------------*/





}/* end checkout-page */


















	
