$colorPromoBg: #EEEEEE;
$colorPromoFont: #6D6E71;
$cartGreyLt: #727272; 
$cartGreyMd: #666666;
$cartGreyDk: #3d4146;
$controlTxt: #c5c7c7;

$colorVzwRed: #D00505;
$actLinkBlue: #0066cc;

$specialOfferBlue: #009eb6;

$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontVzw: "Verizon Apex";
$fontVzwBook: "Verizon Apex Book";
$fontVzwBookItalic: "Verizon Apex Book Italic";
$fontVzwBold: "Verizon Apex Bold";
$fontVzwBoldItalic: "Verizon Apex Bold Italic";
$fontVzwLight: "Verizon Apex Light";
$fontVzwMedium: "Verizon Apex Medium";


/* colors */

$cartGreyLt: #727272; 
$cartGreyMd: #666666;
$cartGreyDk: #3d4146;
$controlTxt: #c5c7c7;

$colorVzwRed: #D00505;
$actLinkBlue: #0066cc;

$specialOfferBlue: #009eb6;

$availColorBlk: #2e2e2e;
$availColorWht: #ffffff;
$availColorGrey: #b1b0b0;
$availColorBlue: #51b0d8;

$pdpGreyMd: #d6dcdc;
$featuredBg : #27a0cc;
$techinfoBG : #119a70;
$pdpGreyMd: #d6dcdc;
$featuredBg : #27a0cc;
$techinfoBg : #119a70;
$btfHiliteBg : #2a2d32;

@mixin heroBG { background: #ebeeee; }
@mixin cartBG { background: #e2e6e6; }
@mixin boxBrdrT { border-top: 1px solid #ccc; }
@mixin boxBrdrR { border-right: 1px solid #ccc; }
@mixin boxBrdrB { border-bottom: 1px solid #ccc; }
@mixin boxBrdrL { border-left: 1px solid #ccc; }
@mixin boxBrdrA { border: 1px solid #ccc; }

@mixin actionLink { font-family: Arial, 'Helvetica Neue', Helvetcia, sans-serif;
                        font-size:12px;
                        font-weight:bold;
                        text-transform:capitalize;
                        color: $actLinkBlue; }

@mixin accordion {  -webkit-transition: height 300ms ease-out;
                    -moz-transition: height 300ms ease-out;
                    -o-transition: height 300ms ease-out;
                    -ms-transition: height 300ms ease-out;
                    transition: height 300ms ease-out; }

@mixin slideFast {  -webkit-transition: 300ms ease-in-out;
                    -moz-transition: 300ms ease-in-out;
                    -o-transition: 300ms ease-in-out;
                    -ms-transition: 300ms ease-in-out;
                    transition: 300ms ease-in-out; }

@mixin slideMedium {-webkit-transition: 450ms ease-in-out;
                    -moz-transition: 450ms ease-in-out;
                    -o-transition: 450ms ease-in-out;
                    -ms-transition: 450ms ease-in-out;
                    transition: 450ms ease-in-out; }

@mixin slideSlow1 { -webkit-transition: 600ms ease-in-out;
                    -moz-transition: 600ms ease-in-out;
                    -o-transition: 600ms ease-in-out;
                    -ms-transition: 600ms ease-in-out;
                    transition: 600ms ease-in-out; }

@mixin slideSlow2 { -webkit-transition: 750ms ease-in-out;
                    -moz-transition: 750ms ease-in-out;
                    -o-transition: 750ms ease-in-out;
                    -ms-transition: 750ms ease-in-out;
                    transition: 750ms ease-in-out; }

@mixin zoomBlockTop {-webkit-transition: left 750ms ease-in-out, top 0s ease 0.5s;
                    -moz-transition: left 750ms ease-in-out, top 0s ease 0.5s;
                    -o-transition: left 750ms ease-in-out, top 0s ease 0.5s;
                    -ms-transition: left 750ms ease-in-out, top 0s ease 0.5s;
                    transition: left 750ms ease-in-out, top 0s ease 0.5s; }

@mixin simpleSwipeFrame { width:100%; overflow:auto;}
@mixin simpleSwipeList {    width:auto;
                    float:left;
                    margin-right: -999em;
                        white-space:nowrap; }

.home-page {

    .content-grid .content-item {
            width:25%;
            .content-fig img{
                max-width:115px;
            }
    }

    .tabbed-wrapper {
        @include clearfix();
        width:100%;



        dd {
            height: 27px;
            display: inline-block;
            margin-right: 20px;
            position: relative;

            h2 {
                display:block;
                width:auto;
                height: auto;
                font-family: $fontVzwMedium;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;
                margin: 0px;
                font-weight:normal;
                padding-bottom: 3px;
                } /* end h2 */

            a { color: $cartGreyDk;
                height:auto;
                width:auto; }
            a:hover { color: $colorVzwRed; }

            .vzn-active {
                @include slideFast;
                display:block;
                width:0px; height:0px;
                background: $colorVzwRed;
                border-bottom: 2px solid $colorVzwRed;
                position:absolute;
                bottom:3px;
                } /* end active div */
            }/* end dd */

            dd.active a h2,
            dd a h2:hover { color: $colorVzwRed;} /* end active tab */
        
        .tabs-content {

            .show { display:block !important; }

            .active { display:block !important; }   
            }       
                    
        } /* end tabbed-wrapper */




    /* ----------- end universal tab styles ------------------ */


    .home-hero {
        max-height: 400px;
        max-width: 1400px;
        overflow: hidden;
        #home-hero-slider{
            .promo-cta {
                clear: both;
                cursor: pointer;
                @include border-radius(3px);
                @include background-image(linear-gradient(rgba(84, 90, 98, 1.0), rgba(59, 63, 69, 1.0))); // this needs fallback to image for ie8;
                border: 1px solid #3B3F45;
                display: table;
                margin: 20px 0;
                width: 130px;
                // height: 55px;
                height:43px;
                color: #FFF;
                // font-size: 18px;
                font-size: 14px;
                span {
                    display: table-cell;
                    vertical-align: bottom;
                    // padding: 10px 15px;
                    padding: 3px 5px;
                    line-height: 40px;
                }
            }
            .slides{ 
                margin:0;
                li{
                    display:none;
                    max-height: 319px;
                    &.alt{
                        .hero-info{
                            width:530px;
                            padding: 40px 20px 0 0;
                            padding-right:20px;
                            padding-top:40px;

                            background:transparent;
                            h1{
                                color:#fff;
                                font: {
                                    family: $fontVzwBoldItalic;
                                    size: 90px;
                                }
                            }
                            
                            .hero-sub{
                                float:right;
                                width:260px;
                                .hero-copy{
                                    color:#fff;
                                    font: {
                                        family: $fontVzwBookItalic;
                                        size:18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product-hero{
                position: absolute;
                top: 0;
                left: 0;
                width: 66%;
                height: 100%;
                padding: 50px 0 0 90px;
                img{
                    display: inline-block;
                    float: left;
                    height: 80%;
                }
                h1{
                    color: #fff;
                    font-size: 80px;
                    display: inline-block;
                    float: left;
                    text-align: left;
                    font-family: "Verizon Apex Extra Bold Italic";
                    width: 60%;
                    line-height: 70px;
                    padding-left: 30px;
                    padding-top: 30px;
                }
            }
            .hero-info {
                position: absolute;
                right: 0;
                height: 100%;
                width: 34%;
                background: #2a2d32;
                top: 0;
                max-height: 500px;
                padding: 40px 18px 18px 18px;
                .carrot{
                    position: absolute;
                    left: -24px;
                    top: 45%;
                    background: url(../img/home/carrot.png);
                    display: block;
                    height: 46px;
                    width: 24px;
                }
                a.button{
                    display:inline-block;
                    margin-right: 10px;
                }
                h3{
                        color:#fff;
                        family: $fontVzwBook;
                        font-size: 18px;
                    }
                h1.price{
                        color:#fff;
                        sup{
                            position: relative;
                            top: 3px;
                        }
                    }
                .hero-copy {
                    color: #fff;
                    p.hero-copy{
                        font-size: 14px;
                        font-family: $fontArial;
                    }
                    
                }
            }
        }
    }
    .category-section{
        .content-header{
            padding:0 0 15px 0;
        }
    }

    .madlib{
        .madlib-header{

            height:80px;background:#d9dfdf;margin-top:10px;text-align:center;
            h2{
                font-size: 29px; padding-top: 24px; font-family: "Verizon Apex Bold"; color: #3d4146;
                input{
                    color:#bdc2c3;
                    width: 173px;
                    height: 37px;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 29px;
                    line-height: 37px;
                    border-bottom: 1px solid #515459;
                    padding-bottom: 7px;
                }
                #uniform-madlib-select{
                    display:inline;
                }
            } 
        }
        .section-wrap{max-width: 855px;}
        .content-grid{border-top:none;}
        .content-grid .content-item {
            width:25%;
            .content-fig img{
                max-width:115px;
            }
        }
    }

    .mobile-community,.lifestyles,.featured-reviews,.trending-products,.trending-categories{
        .section-wrap{max-width:855px;}
    }

    .mobile-community{
        ul.tiles{
            max-width:1024px;
            margin:10px auto;
            li{
                float: left; height: 255px; width: 255px; margin-top: 1px; margin-right: 1px;position: relative;
                .icon{position: absolute;bottom:10px;right:10px;}
                &.twitter{
                    background:#692145;
                    p{
                        font-family: "Verizon Apex Book Italic";
                        font-size: 20px;
                        color: #fff;
                        line-height: 1.2em;
                        font-weight: 600;
                        padding: 30px;
                    }
                    .icon{
                        width: 26px;
                        height:19px;
                        background: url(../img/home/twitter.png);}
                }
                &.twitter-alt{
                    background:#29a0cd;
                    p{
                        font-family: "Verizon Apex Book Italic";
                        font-size: 20px;
                        color: #fff;
                        line-height: 1.2em;
                        font-weight: 600;
                        padding: 30px;
                    }                    
                    .icon{
                        width: 26px;
                        height:19px;
                        background: url(../img/home/twitter.png);}
                }
                &.facebook{
                    .icon{
                        width:13px;
                        height:23px;
                        background: url(../img/home/facebook.png);}
                }
                &.pinterest{
                    .icon{
                        width:20px;
                        height: 24px;
                        background: url(../img/home/pinterest.png);}
                }
                &.instagram{
                    .icon{
                        width:24px;
                        height:25px;
                        background: url(../img/home/instagram.png);}
                }
                &.youtube{
                    .icon{
                        width:22px;
                        height: 28px;
                        background: url(../img/home/youtube.png);}
                }
            }
        }
    }
    .featured-reviews{
        max-width: 1024px;
        max-height:515px;
        height:515px;
        margin: 0 auto;
        .slides{
            .slide{
                //width: 995px !important;
                height: 100%;
                max-height: 515px;
                display: inline;
            }
        }
        .featured-review{
            display:inline;
            height:515px;
            width:995px;
            .product-img{
                width:50%;
                display:block;
                float:left;
                text-align:center;
                img{
                    height:80%;
                }
                &.green{background:#57ae7b;}
                &.blue{background:#29a0cd;}
                &.yellow{background:#fcbd5c;}
                &.purple{background:#692145;}
                &.red{background:#b31400;}
                &.charcoal{background:#2a2d32;}
            }
            .product-details{
                padding: 30px 50px 25px 50px;
                width:50%;
                float:left;
                display:block;
                border:1px solid #f8f8f8;
                height: 446px;
                position: relative;
                .carrot{

                }
                .product-title{
                    font-size: 18px;
                    font-family: "Verizon Apex Book";
                    color: #3d4146;
                }
                .review-block{

                }
                .user-review{
                    font-family:$fontVzwBookItalic;
                    font-size:32px;
                    color:#3d4146;
                    line-height: 1.2em;
                }
            }
        }
    }
    .trending-products{
        .product-hero{
            margin: 15px 0px 30px 0px;
        }
        ul.content-grid{
            margin:0;
        }
            .tabbed-wrapper {
            
            .tab-scroll {

                dd {
                    h2 { font-size: 12px; }
                    } /* end dd */
                } /* end tab-scroll */

            .tabs-content {
                &>li{
                    display:none;
                }
            
                #consumer-reviewsTab,
                #questions-commentsTab { display:none; }


                }

            } /* end tabbed-wrapper */
    }
        #lifestyles { /* ........................ lifestyles section ................*/
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: 1024px;
        width: 100%;
        
        .section-wrap { 
            width:100%;
            max-width:1024px; }
        .section-header { 
            width:861px; 
            display:block;
            margin:0 auto 0 auto;
            }
        
        .lifestyles-wrapper {
            @include boxBrdrT;
            @include boxBrdrR;
            @include boxBrdrL;
            position:relative;
            padding-left:172px; 
            
            .tabbed-wrapper { @include clearfix(); }
            
            .tab-block { @include clearfix(); }
        
            .tab-scroll {
                width:172px;
                position:absolute;
                left:0; top:0;
            
                dd { 
                    display:block;
                    width:100%;
                    height:172px;
                    color: $cartGreyDk;
                    @include cartBG;
                    @include boxBrdrB;
                    
                    a { 
                        position:relative;
                        display:block;
                        width:100%;
                        height:100%;
                        padding: 115px 0 0 0;
                        
                        h2 {
                            color: $cartGreyMd;
                            font-size:12px;
                            letter-spacing: -0.5px;
                            text-align:center;
                            
                            }
                        h2:hover { color:$btfHiliteBg; }
                        
                        }
                    .pointer { 
                        width: 1px; height:1px;
                        border-left:15px solid $btfHiliteBg;
                        border-top:15px solid transparent;
                        border-bottom:15px solid transparent;
                        position:absolute;
                        left:99%; top:50%;
                        margin-top:-15px;
                        display: none;
                        z-index:10;
                        }
                
                    } /* end dd tab each */
                dd.active {
                    a h2, a h2:hover { color:#ffffff; }
                    }
                .alpha-tab { background: $pdpGreyMd url(../img/product-detail-page/pdp-plus/lifestyles-alpha-icon.png) 51px 30px no-repeat; }   
                .alpha-tab.active{ background: $btfHiliteBg url(../img/product-detail-page/pdp-plus/lifestyles-alpha-icon.png) 51px -103px no-repeat; 
                    .pointer { display:block; }
                    }
                .beta-tab { background: $pdpGreyMd url(../img/product-detail-page/pdp-plus/lifestyles-beta-icon.png) 51px 35px no-repeat; } 
                .beta-tab.active{ background: $btfHiliteBg url(../img/product-detail-page/pdp-plus/lifestyles-beta-icon.png) 51px -108px no-repeat; 
                    .pointer { display:block; }
                    }
                .gamma-tab { background: $pdpGreyMd url(../img/product-detail-page/pdp-plus/lifestyles-gamma-icon.png) 51px 30px no-repeat; }   
                .gamma-tab.active{ background: $btfHiliteBg url(../img/product-detail-page/pdp-plus/lifestyles-gamma-icon.png) 51px -105px no-repeat; 
                    .pointer { display:block; }
                    }
                } /* end tab scroll */
        
            .tabs-content {
                width:auto;
                float:left;
                margin-bottom:0; 
                
                #lifestyles-alphaTab,
                #lifestyles-betaTab,
                #lifestyles-gammaTab { 
                    display:none; }
                    
                .active { display:block; }
                
                .tab-wrapper { position:relative; }
                
                .vzn-slide { 
                    @include clearfix();
                    width:850px; 
                    height: 516px;
                    
                    .slides {
                        position:absolute;
                        height:516px; 
                    
                        .large-story {
                            height:516px;
                            width:516px;
                            padding:0;
                            font-size:0; line-height:0;
                            
                            position:absolute;
                            /* @include boxBrdrL; */
                            @include boxBrdrB;
                            
                            .related-stories-large {
                                display:block;
                                width: 94.186%; height:94.186%;
                                margin:0; padding:0;
                                background: url(../img/product-detail-page/pdp-plus/lifestyles-large-1.png) no-repeat;
                                -webkit-background-size: cover !important;
                                -moz-background-size: cover !important;
                                background-size: cover !important;
                                position:absolute; top:3%; left:3%;
                                overflow:hidden;
                            
                                .large-story-info-box {
                                    width: 50%; height: 50%;
                                    background: #fff;
                                    position:absolute;
                                    bottom:-1px; left: 0;
                                    padding:10px 15px;
                                        
                                    .large-story-cat {
                                        font-size:10px; 
                                        font-family: $fontArial;
                                        text-transform: uppercase;
                                        color: $cartGreyMd;
                                        margin-bottom:20px;
                                        }
                                        
                                    .large-story-title {
                                        font-size:17px;
                                        line-height: 23px;
                                        width:80%;
                                        white-space: normal;
                                        letter-spacing: -1px;
                                        margin-bottom:15px;
                                        color: $cartGreyDk;
                                        font-family: $fontVzwBook;
                                        font-weight:normal;
                                        }
                                        
                                    .large-story-text {
                                        font-size: 12px;
                                        line-height: 18px;
                                        font-family: $fontArial;
                                        margin:0;
                                        white-space: normal;
                                        color: $cartGreyDk;
                                        width:90%;
                                        }
                                            
                                    .large-story-link {
                                        width:100px;
                                        height:24px;
                                        background: url(../img/sprites/pdp/blue-right.png) 75px no-repeat;                                      
                                        position:absolute;
                                        bottom:0px; left: 15px;
                                            
                                        a { display:block;
                                            width: 100%; height: 100%;
                                            @include actionLink; 
                                            line-height:24px;
                                            font-size:10px;
                                            text-transform:uppercase;
                                            }
                                        }
                                    } /* end info box */
                                    
                                .product-reveal { position:absolute;
                                        bottom:-1px; right : 0;
                                        width:45px; height: 45px;
                                        background: url(../img/product-detail-page/pdp-plus/lifestyles-large-reveal-arrow.jpg) no-repeat;
                                        cursor:pointer; }   
                                
                                .related-product { 
                                    position:absolute; 
                                    top:100%;
                                    left:100%;
                                    height:102%;
                                    width:102%;
                                    
                                    background: #fff url(../img/product-detail-page/pdp-plus/lifestyles-large-related-product-background.jpg) no-repeat;
                                    @include slideMedium;   
                                    @include clearfix();
                                    cursor:pointer;
                                    
                                    .related-product-title { 
                                        display:block;
                                        float:right;
                                        width:70%;
                                        text-align:left; 
                                        padding:0 20px 0 0;
                                        margin:12.5% 0px 30px 0;
                                        letter-spacing:-1px;
                                        font-size:18px; 
                                        line-height:23px;
                                        white-space: normal;
                                        font-family: $fontVzwBook;
                                        font-weight:normal;
                                        }
                                    
                                    a { display:block;
                                        float:right;
                                        width:75%; height: auto;
                                        padding:0 0px 60px 0;
                                        position:relative;
                                        cursor:pointer;
                                        z-index:10;
                                        
                                        img { 
                                            display:block !important;
                                            width:75%; height:auto;
                                            height:auto;
                                            margin:0 auto 0 auto; 
                                            }
                                    
                                        .related-product-cta {
                                            @include actionLink;
                                            text-transform: uppercase;
                                            font-size: 10px;
                                            height:24px;
                                            width: 100%;
                                            line-height:24px;
                                            position: absolute;
                                            bottom:0;
                                            left: 25px;
                                            background:url(../img/sprites/pdp/blue-right.png) 270px 8px no-repeat;
                                            }
                                        } /* end enclosing a */
                                    }/* end related product */
                                } /* end related story */
                            } /* end large-story container */
                            
                        .large-story:nth-of-type(1) { border-left:0px; }
                    
                        .small-story { 
                            width: 258px;
                            height:258px;
                            padding:15px; 
                        
                            position:absolute;
                            @include boxBrdrR;
                            @include boxBrdrL;
                            @include boxBrdrB; 
                            
                            .related-stories-small {
                            
                                .image { 
                                    display:block;
                                    width:226px;
                                    height:auto; 
                                    padding:0; margin:0; 
                                    }
                                .teaser { 
                                    font-size:17px;
                                    line-height:23px;
                                    white-space:normal;
                                    letter-spacing: -1px;
                                    }
                                .read-story {
                                    width: 100%;
                                    position: absolute;
                                    bottom:15px;
                                    background: url(../img/sprites/pdp/blue-right.png) 72px 10px no-repeat; 
                                    height: 24px; 
                                    a {
                                        @include actionLink;
                                        text-transform: uppercase;
                                        font-size:10px;
                                        }
                                    }           
                                } /* end related story */
                            } /* end small container */                         
                        } /* end slides */      
                    } /* end vzn slide */
        
                .vzn-slide-prev { top: -30px; right:99px; left: auto; }
                .vzn-slide-next { top: -30px; right: 54px; }

                } /* end tabs content ul */
            } /* end lifestyles wrapper */
        } /* end lifestyles stories */
    .trending-categories{
        ol.flex-control-paging{display:none;}
        .slides{
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            overflow: hidden;
            li{

                position: relative;
                width: 213px;
                height: 213px;
                float: left;
                overflow: hidden;
                border-right: 1px solid #ccc;
                padding:15px;
                img{
                    position: absolute;
                    right:0;
                    bottom:0;
                    z-index: 1;
                }
                p{
                    position: relative;
                    z-index:2;
                    font-family: $fontVzwMedium;
                    font-size: 14px;
                    color:$cartGreyMd;
                }
            }
        }
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) { 

}
@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    .home-page {
        .category-list-header {
            background-position: 50px -110px;
        }
    }
}
@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileLarge + 1) {
    .home-page {

        .home-hero {
            .hero-info {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: $screenMobileLarge) and (min-width: $screenMobileSmall) {
    .home-page {
        .home-hero {
            .hero-info {
                display: none;
            }
        }
    }
}