$colorPromoBg: #EEEEEE;
$colorPromoFont: #6D6E71;

.home-page {
    .home-hero {
        max-height: 400px;
        max-width: 1400px;
        overflow: hidden;
        #home-hero-slider{
            .slides li{display:none;}
            .hero-info {
                position: absolute;
                right: 0;
                height: 100%;
                width: 34%;
                background: #2a2d32;
                top: 0;
                max-height: 500px;
                .hero-copy {
                    color: $colorPromoFont;
                    font: {
                        family: $fontVzwBook;
                        size: 24px;
                        style: italic;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) { 

}
@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    .home-page {
        .category-list-header {
            background-position: 50px -110px;
        }
    }
}
@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileLarge + 1) {
    .home-page {

        .home-hero {
            .hero-info {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: $screenMobileLarge) and (min-width: $screenMobileSmall) {
    .home-page {
        .home-hero {
            .hero-info {
                display: none;
            }
        }
    }
}