/* PDP styles */

/* dev classes, var & mixins ---------------- */

	/* dev classes */
		.hide { display:none !important; }


	/* var */
 		$cartGreyLt: #727272; 
 		$cartGreyMd: #666666;
 		$cartGreyDk: #3d4146;
 
 		$brandColorNokia: #9ac6b8;
 
 		$availColorBlk: #2e2e2e;
 		$availColorWht: #ffffff;
 		$availColorGrey: #b1b0b0;
 		$availColorBlue: #51b0d8;
 		
 
	/* mixins */

		@mixin boxBrdrT { border-top: 1px solid #dadbdb; }
		@mixin boxBrdrR { border-right: 1px solid #dadbdb; }
		@mixin boxBrdrB { border-bottom: 1px solid #dadbdb; }
		@mixin boxBrdrL { border-left: 1px solid #dadbdb; }
		@mixin cartRounded { -webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px; }
							
		@mixin cartShadow { -moz-box-shadow:0px 6px 8px -6px rgba(119, 119, 119, 0.5);
							-webkit-box-shadow:0px 3px 8px -6px rgba(119, 119, 119, 0.5);
							box-shadow:0px 6px 8px -6px rgba(119, 119, 119, 0.5); }


		@mixin cartBox { 
			@include clearfix();
			
			background: url(../img/pdp-cart-bg.png) repeat;
			width:100%;
			padding:20px 4.5% 20px 4.5%;
			font-size:12px;
			color: $cartGreyLt;
			font-family: $fontArial; }
	
		@mixin cartBoxHalf {
			display:inline-block;
			width:49%; }
			
		@mixin cartBoxThird {
			display:inline-block;
			width:31.5%; }	
	
		@mixin cartBoxTwoThirds {
			display:inline-block;
			width:64.5%; }
	
		@mixin hrzList {
			display: inline-block;
			float: left;
			margin-right:7px; }

/* set breakponts */


#pdp-body { width:100%; max-width:1440px;
	margin:0 auto 0 auto;  }





/* top hero section ------------------- BEGIN HERO ---------------------- */

#pdp-hero {
	@include clearfix();
	
	background: url(../img/pdp-hero-bg.png) repeat;
	width: 100%;
	max-height:493px;
	
	/* --------------------------------  BEGIN CAROUSEL --------------- */
	#carousel-block {
		@include column(8, collapse);
		
		float:left;
		
		#the-carousel {
			width:75%;
			margin:0 auto 0 auto;
		
			.focus {
				width:100%;
				
					.current-focus { 
						min-width:100%;
						}
				
				}/* end focus */
					
			.thumb-block { 
				width:220px;
				margin:0 auto 0 auto;
				
				ul.thumbs {
					@include clearfix();
					
					li { 
						@include hrzList;
				
							img { width:36px; height:auto; }
					
						}/* end li */
						
					.zoom-button img {
						width:26px; height:28px; 
						display:block;
						margin:auto;
						}/* end zoom */
					
					}/* thumbs */
					
				}/* end thumb-block */
		
			}/* end the-carousel  */
			
			
			.carousel-nav {
				width:30px; height:30px;
				position:absolute; top:50%;
				margin-top:-15px;
				cursor:pointer;
			
				}
			
			.carousel-nav.left { 
				left:4.5%;
				background: url(../img/pdp-carousel-left.png) no-repeat;
			
				}
					
			.carousel-nav.right {
				right:4.5%;
				background: url(../img/pdp-carousel-right.png) no-repeat;
			
				}
			
			
	
		}/* end carousel-block -------------- END CAROUSEL ---------------- */
	
	
	
	/* ----------------------------------  BEGIN CART ------------------ */
	#cart-block {
		@include column(4, collapse);
		@mixin boxBrdrL { border-left: 1px solid #dadbdb; }
		
		max-width:427px; 
		position:relative; 
		float:right;
		
		
		.header { 
			@include boxBrdrL;
			
			position: relative;
			height: 295px;
			padding-left:20px;
			
			.brand {
				@include clearfix();
				
				padding-top:10px;
				font-size: 13px;
				font-weight: bold;
				color: $cartGreyLt;
				
					.brand-color {
						display: inline-block;
						float:left;
						width:11px; height:11px; 
						background-color: $brandColorNokia;
						margin: 2px 5px 0 0; 
					}/* end brand-color */
					
			} /* end brand */
			
			hgroup {
				 
				h1 { max-width:92%; 
					font-size: 30px; 
					letter-spacing:-2px;
					line-height:39px;
					margin-bottom:5px;
					color: #cartGreyDk; }
					
			} /* end hgroup */
			
			
			.review-block {
				@include clearfix();
				
				.ratings { @include hrzList; } /* end ratings */
				
				a.review-link { 
					@include hrzList;
					
					font-family: $fontArial;
					font-size: 12px; 
					color: $colorVzwRed;
					margin-top:5px; }
				 
			} /* end review-block */
		
		
			.price-block {
				position:absolute;
				bottom: 20px; left: 20px;
				
					.actual-price { 
						color: $cartGreyDk;
						font-size: 32px;
						letter-spacing: -2px;
						
						span {
						 font-size: 15px; 
						 display: inline-block;
						 padding: 0 0 0px 5px;
						 letter-spacing: 0px;
						 position:relative;
						 top:-12px;  
						}
					
					} /* end actual-price */
				
				
					.original-price { 
						font-family: $fontArial;
						color: $cartGreyMd;
						font-size: 12px;
						letter-spacing: -1px;
						padding: 6px 0px 6px 6px;
					
							span { text-decoration: line-through;
								display: inline-block; 
								padding-left:3px;
							}
							
					} /* end original-price */
			
			} /* end price-block  */
			
			
			.add-cart-box { 
				@include cartRounded;
				@include cartShadow;
				
				
				width:45%; height: 75px;
				position: absolute; right: 20px; bottom: 20px;
				overflow: hidden;
				border-top: 1px solid #cb5656;
				border-left: 1px solid #a60e0e;
				border-right: 1px solid #a60e0e;
				border-bottom: 1px solid #a60e0e;
				
				.cart-raw {	
					border-top:1px solid #f35959;
				 	width:100%; height: 75px;
					position:relative;
					
					
					/* cross browser gradient code */
					
						background: #f10a0a; /* Old browsers */
						
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						
						background: -moz-linear-gradient(top,  #f10a0a 0%, #c50404 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f10a0a), color-stop(100%,#c50404)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #f10a0a 0%,#c50404 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #f10a0a 0%,#c50404 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #f10a0a 0%,#c50404 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #f10a0a 0%,#c50404 100%); /* W3C */
						
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f10a0a', endColorstr='#c50404',GradientType=0 ); /* IE6-8 */
				
					/* end gradient code */
					
					/* button text */
					
						.text { 
							position:absolute; bottom:10px; left:13px;
							color:#fff; font-size:18px; 
							font-family: $fontVzwBold;
							letter-spacing: -1px;
							text-shadow: -1px -1px .3px rgba(0, 0, 0, 0.2);
					
							} /* end text */
					
				
					}/* end cart raw */
		
				} /* end add-cart-box */
			
		} /* end header */
		
		.cart-details {
			
			
			.color-stock-block { 
				@include cartBox;
				@include boxBrdrL;
				
				span {
					color: $cartGreyLt;
					display: block;
					padding-bottom: 10px;
					} /* end label span */					



				ul.avail-colors { 
					@include cartRounded;
					
					height: 36px;
					width: 100%;
					margin-bottom: 0px; 
					overflow:hidden;
					
						
				
					.color-option {
						@include hrzList;
						
						margin-right:0px; 
						width: 17%;
						height:45px; 

						.info { display:none; 
						
							padding:8px 0 0 10px;
							font-family: $fontVzwBold;
							color:#ffffff;
							font-size:14px;
							
							.stock { display:inline-block;
								color:#ffffff;
								font-family: $fontVzwBook;
								
								} /* in stock span styles */  
							
							} /* define & hide color info initially */

						} /* end color-option li styles */
				
					.color-option:last-child { float:right; }
												
					li.selected {
						@include cartBoxHalf;
							
						display:inline-block;
							
							.info { display: inline-block; } /* show info on selection */
							
						} /* end selected */
							
							
					/* temporary color assignments for demo */
							
						li.color1 { background: $availColorBlk; }
						li.color2 { background: $availColorWht; }
						li.color3 { background: $availColorGrey; }
						li.color4 { background: $availColorBlue; }
									
					/* end temporary color assignments for demo */	
				
				} /* end avail-colors ul */

			} /* end color-stock-block */

			.compat-ship-block { 
				@include boxBrdrT;
				@include boxBrdrL;
				
				background: url(../img/pdp-cart-bg.png) repeat;
				
				.compat {
					@include cartBox;
					@include cartBoxHalf;
					
					
						.devices {
							background: url(../img/pdp-compat-icon.png) no-repeat;
							padding: 0 0 15px 30px;
							font-size: 12px;
						
							}/* end device */
					
						.check {
							font-size:12px; 
							
							.link {
								color: $colorVzwRed;
								}
								
							}/* end check */
					
					}/* end compat */
				
						
				.pdp-ship {
					@include cartBox;
					@include cartBoxHalf;
					@include boxBrdrL;
					
						ul.ship-details {
							margin-bottom:0px;
							 
							li.cost,
							li.avail,
							li.rcv-by {
								font-size: 12px;
								height: 22px;
								}
								
							li.rcv-by {
								line-height:19px;
								}	
								
							/* end li ship-details */ 
							
						}/* end ul ship-details */
					
					
					
					
					
					}/* end pdp-ship */
				
				} /* end compat-ship-block */
		
		
			.social-block { 
				@include boxBrdrT;
				@include boxBrdrL;
				
				background: url(../img/pdp-cart-bg.png) repeat;
				
			
				.pdp-social-left {
					@include cartBox;
					@include cartBoxHalf;
					
					padding:0px;
					
					.facebook {
						@include cartBoxTwoThirds;
						
						padding: 5px;
						
						} /* end facebook */
						
					.email {
						@include cartBoxThird;
						@include boxBrdrL;
						
						padding: 5px;
						
						} /* end email */
					
					} /* end social left */
					
					
				.pdp-social-right {
					@include cartBox;
					@include cartBoxHalf;
					@include boxBrdrL;
					
					padding:0px;
					
						.social {
							padding:5px;
							position:relative; 
							
							} /* end generic social li settings */
					
						.facebook {
							@include cartBoxTwoThirds;
						
						} /* end facebook */
					
					
						.twitter {
						 @include cartBoxThird;
						 
						 	img.social-button {
						 		position:relative;
						 		top:-4px;
						 		} /* end temp img adjustment */	
						
						} /* end twitter */
						
						.gplus {
							@include cartBoxThird;
							@include boxBrdrL;
						
						} /* end gplus */
						
						.pinterest {
							@include cartBoxThird;
							@include boxBrdrL;
							
							img.social-button {
								position:relative;
						 		top:-2px;
						 		
								}
						
						} /* end pinterest */
					
					
					} /* end social right */
				  
  
				} /* end social-block */
			
		} /* end cart-details */
		
	}/* end cart-block ----------------------------- END CART ------------- */
	



} /* end pdp-hero ---------------------------------- END HERO ---------------*/
		
		
	
	
	
	
	
/* bottom details section -------------------------- BEGIN DETAILS ---------- */	
		
#pdp-details { padding-top:45px;
	background:#fff url(/../img/pdp-temp-bottom.png) 0 200px no-repeat;
	width:1200px; height:2400px; 


		} /* end pdp-details */