$colorLightGray: #999;
$colorFeaturedPrice: #C00;
$colorDarkGray: #333;

$sizeHeaderFont: 80px;
$sizeHeaderFilterFont: 18px;

$leftColWidth: 255px; 

.left-column { 
    float: left; 
    max-width: $leftColWidth; 
    width: $leftColWidth; 
}
.main { 
    float: none; 
    width: auto; 
    margin-left: $leftColWidth + $columnGutter;
}
 
.product-category-list .product-list-header .wrapper {
    position: relative;
}

.left-column .content-filter {
    font-family: $fontArial;
    padding: 15px 30px;
    .dimension h3 a,
    .selected-facets .facet a {
        display: block;
        position: relative;
        .icon {
            position: absolute;
            right: 0;
        }
    }
    .selected-facets {
        margin: 0;
        padding: 0;
        .facet {
            padding: 15px 0;
            border-bottom: 1px solid #E0E0E0;
            &.header {
                font: {
                    family: $fontVzwBook;
                    size: 14px;
                }
                text-transform: capitalize;
            }
            &.removable a {
                color: $colorVzwRed;
                .icon {
                    @include ui-sprite(prd-fltr-remove);
                    width: 8px;
                    height: 10px;
                    top: 5px;
                }
            }
        }
    }
    .dimension {
        border-bottom: 1px solid #E0E0E0;
        h3 {
            font: {
                family: $fontVzwBold;
                size: 12px;
                weight: normal;
            }
            margin: 0;
            padding: 15px 0;
            text-transform: uppercase;
        }
        &.collapsible {
            a { 
                color: #666; 
                .icon { 
                    @include ui-sprite(prd-fltr-cat-open);
                    width: 8px;
                    height: 7px;
                    top: 4px;
                }
            }
            &.open {
                a .icon {
                    @include ui-sprite(prd-fltr-cat-close);
                    width: 8px;
                    height: 10px;
                    top: 5px;
                }
            }
        }
        &.brand {
            .sub-dimension {
                .sub-dimension-filter,
                .sub-dimension-filter:focus {
                    border: 1px solid #CECECE;
                }
                .sub-dimension-filter,
                .facet-list {
                    width: 90%;
                }
                .sub-dimension-filter {
                    background: #FCFCFC url(../img/ui/prd-fltr-ico-mag.png) 10px center no-repeat;
                    color: #B2B2B2;
                    font: {
                        size: 12px;
                        weight: normal;
                    }
                    padding: 5px 0 5px 20px;
                    height: auto;
                }
                .facet-list {
                    margin: 0;
                    padding: 0;
                    .facet {
                        padding: 5px 0 5px 30px;
                        border-bottom: 1px solid #CECECE;
                        a {
                            font-size: 12px;
                        }
                        &:last-child {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.product-list { 
    .product-list-header {
        @include clearfix();
        background-color: #F6F6F6;
        border-bottom: 1px solid #DBDBDB;
        .wrapper {
            padding: 40px 30px 35px;
        }
        .product-list-heading {
            @include clearfix();
            float: left;
            h1.product-list-category {
                font: {;
                    family: $fontVzwLight;
                    size: $sizeHeaderFont;
                    weight: normal;
                }
                color: $colorLightGray;
                letter-spacing: -7.5px;
                line-height: $sizeHeaderFont;
                margin: 0;
            }
            h3.product-filter-count {
                color: $colorDarkGray;
                font: {
                    family: $fontVzwBook;
                    weight: normal;
                    size: $sizeHeaderFilterFont;
                }
                text-transform: capitalize;
                margin: 25px 0 0 0;
                strong {
                    font: {
                        family: $fontVzwBold;
                    }
                }
            }
        }
        .sort-options {
            position: absolute;
            bottom: $columnGutter / 2;
            right: $columnGutter;
            text-align: center;  
            text-transform: uppercase;
            ul {    
                margin: 0;
                li:first-child {
                    margin-left: 0;
                }
                li.active {
                    a {
                        @include border-radius(3px);
                        border: 1px solid #DBDBDB;
                        background: #FFF;
                        color: $colorVzwRed;
                        padding: 5px 15px;
                    }
                }
                a {
                    color: $colorLightGray;
                    font: {
                        family: $fontVzwBook;
                        size: 13px;
                    }
                    padding: 5px 0;
                }
            }
        }
    }
    .products {
        @include innerRow(collapse);
        border: {
            top: none;
            right: none;
            bottom: none;
            left: 1px solid #CCC;
        } 
        .product-grid { 
            @include clearfix();
            margin-bottom: 0;
        }
        .product {
            @include column(3, collapse);
            padding: 15px;
            &.panel { 
                position: relative;
                float: left;  
                margin: 0 0 30px 0;
                background: none; 
                border: 1px solid #CCC;
                border-collapse: collapse;
                margin-bottom: 0;
                border-top: none;
                border-left: none;
                figure {
                    @include clearfix();
                    display: block;
                    margin: 15px 0;
                    img { 
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        width: 100%;
                        max-width: 150px;
                    }
                    .product-hover {
                        display: none;
                        z-index: 9999;
                        .color-picker,
                        .quick-view {
                            position: absolute;
                            top: 0;
                            padding: 5px 15px;
                            z-index: 9999;
                        }
                        .color-picker{
                            left: 0;
                            img {
                                display: block;
                            }
                        }
                        .quick-view {
                            right: 0;
                            a {
                                color: $colorLightGray;
                                font-family: $fontVzwMedium;
                                font-size: 12px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                &.featured { 
                    @include column(6, center collapse);
                    background-color: none;
                    float: left; 
                    margin-bottom: 0;
                    padding: 15px 0;
                    .product-detail {
                        padding: 0 15px;
                        .price {
                            color: $colorFeaturedPrice;
                        }
                    }
                    figure {
                        img {
                            width: 100%;
                            max-width: 413px;
                        }
                    }
                }
                &.over .product-detail {
                    .name { color: $colorVzwRed; }
                }
                .product-detail {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    li { font-family: $fontArial; }
                    .name,
                    .price {
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .name {
                        display: table;
                        height: 30px;
                        color: $colorLightGray;
                        > span {
                            display: table-cell;
                            vertical-align: bottom;
                            line-height: 15px;
                        }
                    }
                    .price {
                        clear: left;
                        float: left;
                        font-weight: bold;
                        color: $colorDarkGray;
                    }
                    .rating { 
                        float: right;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) {
    .header .top-bar > ul > li {
        padding: 15px 10px;
        &.site-search input[type="text"] {
            width: 230px;
        }
    }
    .product-list { 
        .products { 
            .product {
                @include column(4); 
                padding: 15px;
                &.panel {
                    figure {
                        margin: 20px 0 10px;
                    }
                    &.featured { 
                        @include column(8); 
                        figure {
                            margin: 20px 0;
                            img { max-width: 403px; }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    .header .top-bar > ul > li {
        min-width: 50px;
        padding: 15px 8px;
        &.site-search input[type="text"] {
            width: 150px;
        }
    }
    .left-column {
        display: none !important;
        @include clearfix();
        @include column(12, center collapse);
        float: none;
        max-width: 100%;
        .filter {
            @include column(2);
            margin: 0 $columnGutter;
            float: left;
        }
    }
    .main{
        @include innerRow();
        @include column(12, center);
        margin: 0;
    }
    .product-list { 
        .products { 
            .product {
                @include column(4, center);
                padding: 15px;
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        @include column(4, center);
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileLandscape) {
    .header .top-bar {
        > ul > li {
            min-width: 45px;
            &.logo {
                border-right: none;
                width: auto;
            }
            &.site-search {
                padding: 15px 15px 13px;
                input[type="text"] {
                    width: 25px;
                    padding:0;
                }
            }
            &.shopping-bag {
                a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
            }
        }
    }
    .left-column {
        display: none !important;
        //@include mobileColumn(4);
    }
    .main {
        @include mobileColumn(4);
        margin-left: 0;
    }
    .row .row {
        margin: 0;
    }
    .product-list { 
        margin: 0;
        .products { 
            .product {
                @include mobileColumn(2);
                padding: 15px;
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        float: left;
                        @include mobileColumn(1.33);
                        img {
                            max-width: 100%;
                        }
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMobileLandscape - 1) and (min-width: $screenMobilePortrait) {
    .header .top-bar {
        > ul > li {
            min-width: 45px;
            &.logo {
                border-right: none;
                width: auto;
            }
            &.site-search {
                padding: 15px 15px 13px;
                input[type="text"] {
                    width: 25px;
                    padding:0;
                }
            }
            &.shopping-bag {
                a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
            }
        }
    }
    .left-column { display: none !important; }
    .main {
        @include mobileColumn(4);
        margin-left: 0;
    }
    .row .row {
        margin: 0;
    }
    .product-list { 
        margin: 0;
        .product-list-header .sort-options {
            position: relative;
            float: left;
            margin: 10px 0 10px $columnGutter;
        }
        .products { 
            .product {
                @include mobileColumn(2);
                padding: 15px;
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        float: left;
                        @include mobileColumn(2);
                        img {
                            max-height: 174px;
                        }
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMobilePortrait - 1) and (min-width: $screenMobileSmall) {
    .header .top-bar {
        > ul > li {
            min-width: 45px;
            &.logo {
                border-right: none;
                width: auto;
            }
            &.site-search {
                padding: 15px 15px 13px;
                input[type="text"] {
                    width: 25px;
                    padding:0;
                }
            }
            &.shopping-bag {
                a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
            }
        }
    }
    .left-column {
        display: none !important;
    }
    .main { margin-left: 0; }
    .column, .columns {
        @include mobileColumn(4);
    }
    .product-list { 
        margin: 0;
        .product-list-header .sort-options {
            position: relative;
            float: left;
            margin: 10px 0 10px $columnGutter;
            width: 354px;
        }
        .products { 
            .product {
                @include mobileColumn(4);
                padding: 15px;
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        float: left;
                        @include mobileColumn(4);
                        img {
                            max-height: 174px;
                        }
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}