@import "layouts/two-col-left";

.left-column .content-filter {
    h3 {
        color: #666;
        border-bottom: 1px solid #E0E0E0;
        font: {
            family: $vzw-font-bold;
            size: 13px;
            weight: normal;
        }
        margin: 0;
        padding: 15px 0;
        text-transform: uppercase;
        &.header {
            color: #626262;
            font: {
                family: $vzw-font-book;
                size: 17px;
            }
            text-transform: capitalize;
        }
    }
}

// .content-filter {
//     background-color: $content-filter-bg;
//     @include border-radius(2px);
//     font-size: 12px;
//     h3{
//         padding: 10px 10px 5px;
//     }
//     .filter {
//         border-bottom: 1px solid $content-filter-border;
//         &:last-child { border-bottom: none; }
//         h3 {
//             font-weight: bold;
//             text-transform: uppercase;
//         }
//         &:not(.category) ul {
//             margin: 0 10px 10px;
//             padding: 0 10px;
//             li {
//                 line-height: 25px;
//                 a {
//                     color: $content-filter-item-link;
//                     font-weight: bold;
//                 }
//             }
//         }
//         &.category ul li {   
//             a {
//                 display: block;
//                 margin: 5px 15px;
//                 padding: 6px;
//                 background: $content-filter-item-bg url(../img/remove-filter.png) 98% center no-repeat;
//                 @include border-radius(2px);
//                 color: white;
//                 font-weight: bold;
//                 letter-spacing: .08em;
//                 text-transform: capitalize;
//             }
//         }
//         &.color {
//             ul {
//                 @include clearfix;
//                 li {
//                     float: left; 
//                     margin-right: 15px;
//                     &.end { margin-right: 0;}
//                 }
//             }
//         }
//     }
// }
.products-content { 
    .section-header {
        @include clearfix();
        background-color: #F6F6F6;
        border-bottom: 1px solid #DBDBDB;
        height: 70px;
        h1,
        .sort-options {
            height: 70px;
            line-height: 70px;
            ul li {
                line-height: 70px;
            }
        }
        h1 {
            float: left;
            margin: 0;
            font: {;
                size: 34px;
                weight: normal;
            }
        }
        .sort-options {
            float: right;
            margin: 0 auto; 
            text-align: center;  
            text-transform: uppercase;
            ul {    
                margin: 0;
                li:first-child {
                    margin-left: 0;
                }
                li.active {
                    a {
                        color: #626262;
                        text-decoration: underline;
                    }
                }
                a {
                    color: $vzw-red;
                    font: {
                        family: $vzw-font-book;
                        size: 13px;
                    }
                }
            }
        }
    }
    .products {
        // @include innerRow(collapse);
        border: 1px solid #CCC;
        .product-grid { @include clearfix(); }
        .product {
            @include column(3, collapse);
            padding: 15px;
            &.panel { 
                position: relative;
                float: left;  
                margin: 0 0 30px 0;
                background: none; 
                border: 1px solid #CCC;
                border-collapse: collapse;
                margin-bottom: 0;
                border-top: none;
                border-left: none;
                figure {
                    @include clearfix();
                    display: block;
                    margin: 0;
                    img { 
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        //max-width: 91%;
                    }
                }
                &.featured { 
                    @include column(6, center collapse);
                    background-color: none;
                    float: left; 
                    margin-bottom: 0;
                    padding: 15px 0;
                    .product-detail {
                        padding: 0 15px;
                    }
                    figure img {
                        //max-width: 100%;
                    }
                }
                .product-detail {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    li { font-family: $arial; }
                    .name,
                    .price {
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .name {
                        height: 30px;
                    }
                    .price {
                        clear: left;
                        float: left;
                    }
                    .rating { 
                        float: right;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) {
    .header .top-bar > ul > li {
        padding: 15px 10px;
        &.site-search input[type="text"] {
            width: 230px;
        }
    }
    .products-content { 
        .products { 
            .product {
                @include column(4); 
                &.panel {
                    &.featured { 
                        @include column(8); 
                        figure {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    .header .top-bar > ul > li {
        min-width: 50px;
        padding: 15px 8px;
        &.site-search input[type="text"] {
            width: 150px;
        }
    }
    .left-column {
        display: none !important;
        @include clearfix();
        @include column(12, center collapse);
        float: none;
        max-width: 100%;
        .filter {
            @include column(2);
            margin: 0 $columnGutter;
            float: left;
        }
    }
    .main{
        @include innerRow();
        @include column(12, center);
        margin: 0;
    }
    .products-content { 
        .products { 
            .product {
                @include column(4, center);
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        @include column(4, center);
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileLandscape) {
    .header .top-bar {
        > ul > li {
            min-width: 45px;
            &.logo {
                border-right: none;
                padding: 15px;
                width: auto;
            }
            &.site-search {
                padding: 15px 15px 13px;
                border-left: 1px solid $nav-border;
                input[type="text"] {
                    width: 25px;
                    padding:0;
                }
            }
            &.shopping-bag {
                border-left: 1px solid $nav-border;
                a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
            }
        }
    }
    .left-column {
        display: none !important;
        //@include mobileColumn(4);
    }
    .main {
        @include mobileColumn(4);
        margin-left: 0;
    }
    .row .row {
        margin: 0;
    }
    .products-content { 
        margin: 0;
        .products { 
            .product {
                float: left;
                @include mobileColumn(1.33);
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        float: left;
                        @include mobileColumn(1.33);
                        img {
                            max-width: 100%;
                        }
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMobileLandscape - 1) and (min-width: $screenMobilePortrait) {
    .header .top-bar {
        > ul > li {
            min-width: 45px;
            &.logo {
                border-right: none;
                padding: 15px;
                width: auto;
            }
            &.site-search {
                padding: 15px 15px 13px;
                border-left: 1px solid $nav-border;
                input[type="text"] {
                    width: 25px;
                    padding:0;
                }
            }
            &.shopping-bag {
                border-left: 1px solid $nav-border;
                a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
            }
        }
    }
    .left-column { display: none !important; }
    .main {
        @include mobileColumn(4);
        margin-left: 0;
    }
    .row .row {
        margin: 0;
    }
    .products-content { 
        margin: 0;
        .products { 
            .product {
                float: left;
                @include mobileColumn(2);
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        float: left;
                        @include mobileColumn(2);
                        img {
                            max-height: 174px;
                        }
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMobilePortrait - 1) and (min-width: $screenMobileSmall) {
    .header .top-bar {
        > ul > li {
            min-width: 45px;
            &.logo {
                border-right: none;
                padding: 15px;
                width: auto;
            }
            &.site-search {
                padding: 15px 15px 13px;
                border-left: 1px solid $nav-border;
                input[type="text"] {
                    width: 25px;
                    padding:0;
                }
            }
            &.shopping-bag {
                border-left: 1px solid $nav-border;
                a:not(.button) { width:18px; height: 20px; margin: 5px auto;}
            }
        }
    }
    .left-column {
        display: none !important;
    }
    .main { margin-left: 0; }
    .column, .columns {
        @include mobileColumn(4);
    }
    .products-content { 
        margin: 0;
        .products { 
            .product {
                float: left;
                @include mobileColumn(4);
                &.panel {
                    figure img {
                        max-width: 100%;
                    }
                    &.featured { 
                        float: left;
                        @include mobileColumn(4);
                        img {
                            max-height: 174px;
                        }
                        .product-detail {
                            .name {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}