/* Search Page variables */
$searchBG: #E5EBEB;
$sortBG: #F1F3F2;

.search-results-header{
    border-bottom:1px solid #ccc;
    padding-left:22px;
    h2{
        font-size:30px;
        font-family: $fontArial;
        font-weight:400;
        float:left;
        margin:10px 0 20px;
        strong:first-child{font-weight:400;}
        strong.keyword{font-weight: 700;}
    }
    #uniform-sort-options{
        @include border-radius(3px);
        @include ui-sprite(drop-down, false, 120px, 14px);
        background-color: $searchBG;
        padding:10px;
        border:1px solid #ccc;
        margin-left: 10px;
        position: relative;
        float:right;
        >span{
            font-size:12px;
            cursor:pointer;
        }
    }
    .sort{
        position:absolute;
        right:10px;
        top:2px;
        text-transform:lowercase;
        color:#333;
        font-weight: 700;
        select{
            left:0;
            top:0;
            opacity:0;
            height:100%;
            font-size: 12px;
            min-width:120px;
            position:absolute;
            cursor: pointer;
        }
        label{
            float:left;
            color:#333;
            display:block;
            font-size: 12px;
            margin: 12px 0 0;
            font-weight: 700;
        }
    }
}

.search-bar{
    background-color: $searchBG;
    padding: 15px;
    overflow: hidden;
    input{
        @include border-radius(3px);
        font-family: $fontVzwLight;
        display: block;
        min-height: 90px;
        font-size:42px;
        font-weight:700;
        padding:10px 10px 10px 20px;
        margin:0;
        &:focus{
            background-color:#fff;
        }
    }
    
    .wrapper{position: relative;}
    .options{
        position:absolute;
        right:20px;
        top:20px;
        width:107px;
    }
    .close{
        @include ui-sprite(search-close, false);
        height:51px;
        width:51px;
        text-indent:-100px;
        overflow:hidden;
        float:left;
        margin: 0 5px 0 0;
        cursor:pointer;
    }
    button{
        @include ui-sprite(search-submit, false);
        border:0;
        height:51px;
        width:51px;
        text-indent:-100px;
        overflow:hidden;
        display:block;
        padding:0;
        cursor:pointer;
    }
}

.category-tabs{
    .show-for-mobile{display: none;position: absolute;top: 0;}
    background-color: $tabsBGcolor;
    padding: 0 15px;
    display: block;
    ul{
        li{
            margin:0;
            &.active,
            &:hover{
                color:$colorVzwRed;
                background-color:#fff;
            }
            &.first{margin-left:22px;}
            &.active a{
                border-top:2px solid $colorVzwRed;
            }
            a{
                color:$colorNavLinks;
                border-top:2px solid $tabsBGcolor;
                border-right: 1px solid #fff;
                height:100%;
                width:100%;
                display:block;
                padding: 15px;
                text-transform:uppercase;
                &:hover{
                    color:$colorVzwRed;
                    border-top:2px solid $colorVzwRed;
                }
            }
        }
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) {}

@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {
    .search-results-header{
        h2{font-size: 26px;}
    }
}

@media only screen and (max-width: $screenMobileLarge) and (min-width: $screenMobileSmall) {
    .product-list-section{padding-top:20px;}
    .category-tabs{
        position: absolute;
        top: 0;
        width:100%;
        background-color: $searchBG;
        .show-for-mobile{
            display: block;
            font-size: 18px;
        }
        .inline-list{
            margin: 0 0 0 108px;
            li {
                display: none;
                a{
                    color:#000;
                    font-size: 18px;
                    background-colorlor: transparent;
                    border:0;
                    padding: 0;
                    text-transform: capitalize;
                    border:0;
                }
                &.active{
                    background-color: transparent;
                    display: block;
                    a{
                        border-top: 0;
                        padding-right: 12px;
                        border-bottom: 2px solid #333;
                    }
                }
            }
        }
    }
    .search-results-header{
        background-color: $searchBG;
        .sort-by{
            label{
                display: none;
            }
        }
    }
    .search-results-page .header{display: none;}
    .search-bar {
        #search-keyword{min-height:40px;font-size: 22px;}
        .options{
            width:28px;
            height:28px;
            overflow: hidden;
            top: 6px;
            .close{display: none;}
            button{@include ui-sprite(search-small, false);}
        }   
    }
}

@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileSmall + 1) {
    .search-results-header{
        .sort-by{
            top:7px;
        }
        h2{
            font-size: 16px;
            strong.results-count{
                display: block;
                font-weight: 700;
            }
            .copy{
                display: none;
            }
        }

    }
    .search-bar {
        #search-keyword{min-height:40px;font-size: 22px;}
        .options{
            width:28px;
            height:28px;
            overflow: hidden;
            top: 6px;
            .close{display: none;}
            button{@include ui-sprite(search-small, false);}
        }
    }
}