.special-offers-landing-page {    
    .category-section {
        overflow: hidden;
        .content-header {
            padding: 20px 40px;
            .title {
                vertical-align: baseline;
                strong {
                    font: {
                        family: $fontVzwBold;
                        weight: normal;
                    }
                }
                a {
                    color: #06C;
                    font: {
                        family: $fontArial;
                        size: 10px;
                        weight: bold;
                    }
                    letter-spacing: 0;
                    margin-left: 12px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .header-promo {
        height: 320px;
        background-color: #36BDB1;
    }
    .promo-fig {
        float: left;
        margin: 50px 0 0 75px;
    }
    .promo-content {
        float: right;
        width: 305px;
        .promo-copy {
            margin-top: 35px;
            color: #FFF;
            font: {
                family: $fontVzwBookItalic;
                size: 24px;
            }
            > span {
                display: block;
                margin-bottom: 10px;
            }
            strong {
                position: relative;
                display: block;
                margin: -40px 0 0 -10px;
                font-family: "Verizon Apex Medium";
                font-size: 148px;
                font-weight: normal;
                line-height: 1em;
                sup {
                    vertical-align: super;
                    font: {
                        family: $fontVzwLight;
                        size: 85px;
                    }
                }
                span {
                    position: absolute;
                    top: 65px;
                    left: 175px;
                    text-transform: uppercase;
                    font: {
                        family: $fontVzwBold;
                        size: 40px;
                    }
                }
            }
            .promo-cta {
                clear: both;
                cursor: pointer;
                @include border-radius(3px);
                @include background-image(linear-gradient(rgba(84, 90, 98, 1.0), rgba(59, 63, 69, 1.0))); // this needs fallback to image for ie8;
                border: 1px solid #3B3F45;
                display: table;
                margin: 35px 25px 0;
                width: 130px;
                height: 55px;
                color: #FFF;
                font: {
                    family: $fontVzwBook;
                    size: 18px;
                }
                span {
                    display: table-cell;
                    vertical-align: bottom;
                    padding: 10px 15px;
                }
            }
        }
    }
    .flex-direction-nav {
        float: right;
        margin: 8px 0 0;
        li { 
            float: left; margin-left: 15px; 
            .flex-prev,
            .flex-next {
                display: block;
                width: 30px;
                height: 30px;
                text-indent: -9999px;
                &.flex-disabled {
                    cursor: default;
                    opacity: 0.35;
                }
            }
            .flex-prev {
                @include pdp-sprite(btf-carousel-left, false, 0 ,0);
            }
            .flex-next {
                @include pdp-sprite(btf-carousel-right, false, 0 ,0);
            }
        }
    }

    .special-offers {
        .special-offers-slider {
            .special-offers-slide {
                .content-grid {
                    .content-item {
                        height: 250px;
                        padding: 15px;
                        position: relative;
                        margin: 0;
                        background: none;
                        border: {
                            right: 1px solid #cccccc;
                        }
                        .wrapper {
                            height: 220px;
                            overflow: hidden;
                            position: relative;
                            &.slide-1 {
                                background-color: #5BBB82;
                            }
                            &.slide-2 {
                                background-color: #FFBA62;
                            }
                            &.slide-3 {
                                background-color: #D60000;
                            }
                            &.slide-4 {
                                background-color: #5BBB82;
                            }
                        }
                        .sale-img,
                        .sale-details,
                        .sale-link {
                            position: absolute;
                        }
                        .sale-img {
                            top: 0; right: 0;
                            z-index: 1;
                        }
                        .sale-details {
                            top: 40px; left: 15px;
                            z-index: 2;
                        }
                        .sale-link {
                            bottom: 15px; left: 15px;
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }
}