$colorCategoryCTA: #06C;
$colorCategoryListHdrBg: #29A0CD;
$colorHdrInfoBg: #DADEDE;

$bgPositionPromoSmall: -85px 35px;

@mixin ftrHover {	-webkit-transition: opacity 300ms ease-in-out;
   					-moz-transition: opacity 300ms ease-in-out;
    				-o-transition: opacity 300ms ease-in-out;
    				-ms-transition: opacity 300ms ease-in-out;
    				transition: opacity 300ms ease-in-out; }
@mixin ftrReveal {	-webkit-transition: 500ms ease-in-out;
   					-moz-transition: 500ms ease-in-out;
    				-o-transition: 500ms ease-in-out;
    				-ms-transition: 500ms ease-in-out;
    				transition: 500ms ease-in-out; }

@mixin cartRounded { -webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px; }

@mixin ctaButton { @include cartRounded;
					border:0px;
					background-color: $colorVzwRed;
            		color: #FFF;
            		letter-spacing: 0px;
            		text-shadow: -1px -1px 0.3px rgba(0, 0, 0, 0.2);
            		-webkit-box-shadow: inset 0 2px 3px 1px rgba(205, 205, 205, 0.55), inset 0 -1px 4px 1px #a40000;
            		-moz-box-shadow: inset 0 2px 3px 1px rgba(205, 205, 205, 0.55), inset 0 -1px 4px 1px #a40000;
            		box-shadow: inset 0 2px 3px 1px rgba(205, 205, 205, 0.55), inset 0 -1px 4px 1px #a40000;
            		font-family: $fontVzwBook;
            		cursor:pointer;
}

.special-offers-landing-page{
    .special-offers{
        position:relative;
        margin: 0 0 10px 0;
        .flex-viewport{
            padding:14px 0 14px 14px;
            border-top:1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-left:1px solid #ccc;
        }
        .slides{
            margin: 0 auto;
            overflow:hidden;
            li{
                float:left;
                width:252px;
                height:215px;
                position:relative;
                ul{
                    margin:0;
                    @include clearfix();
                    li{
                        float:left;
                        width:252px;
                        height:215px;
                        overflow:hidden;
                        padding-right:14px;

                        .item-wrapper{
                            height:100%;
                            display:block;
                            overflow:hidden;
                            position:relative;
                            background-color:#eb182b;
                            a{
                                width:100%;
                                height:100%;
                                padding:10px;
                                display:block;
                            }
                            .shop{
                                display:block;
                                color:#fff;
                                font-weight:700;
                                font-size:11px;
                            }
                            .splash{
                                display:block;
                                position:relative;
                                height:80px;
                                width:152px;
                                border-bottom:3px solid #fff;
                                .digits{
                                    float:left;
                                    color: #fff;
                                    display:block;
                                    font-size: 90px;
                                    line-height: 54px;
                                    letter-spacing: -5px;
                                    margin-right:8px;
                                    font-family: "Verizon Apex Medium", Helvetica, Arial, sans-serif;
                                }
                                .measure{
                                    display:block;
                                    padding-top:8px;
                                    .unit{
                                        display:block;
                                        font-size: 42px;
                                        position:static;
                                        font-weight: 400;
                                        line-height: 30px;
                                        font-family: "Verizon Apex Book", Helvetica, Arial, sans-serif;;
                                    }
                                    .words{
                                        display:block;
                                        font-size: 20px;
                                        position:static;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        font-family: "Verizon Apex Bold", Helvetica, Arial, sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
                .sale-details{
                    color: $colorVzwNavBrd;
                    display:block;
                    margin:20px 0 0 0;
                    h2 {
                        color: $colorVzwNavBrd;
                        font: normal 18px/21px $fontVzwBookItalic;
                        letter-spacing: -.05em;
                        padding: 60px 0 0 0;
                        margin: 0;
                    }
                    p{
                        margin:0;
                        height:80px;
                        padding:6px 0 0 0;
                        &.details {
                            font-style: italic;
                        }
                        &.description {
                            @include checkoutContent;
                            color: $colorVzwNavBrd;
                            line-height: 15px; 
                        }
                    }
                }
                .sale-link{
                    a{
                        font-size:10px;
                        font-weight:700;
                        color:#fff;
                    }
                }
                img{
                    position:absolute;
                    top:0;
                }
            }
        }
    }

    .content-grid{
        .content-item{
            &.featured{
                padding:15px;
            }

            .content-detail{
                @include clearfix();
                .name{margin:0;}
                .price {
                    margin: 2px 0 0 0;
                    color:#000;
                    font: {
                        weight: normal;
                    }

                    .original{
                        text-decoration: line-through;
                        display:inline-block;
                        margin: 0 0 0 20px;
                        color:#999;
                    }
                }
            }
        }
    }
}


.category-landing-page .main-column {
    padding-bottom: 150px;
}

.content-cta {
    color: $colorCategoryCTA;
    font: {
        family: $fontArial;
        size: 10px;
        weight: bold;
    }
    text-transform: uppercase;
}

.category-list-header {
    height: 370px;
    overflow: hidden;
    position: relative;
    background-color: $colorCategoryListHdrBg;
    h1, p {
        margin: 0;
    }
    .header-info,
    .category-header-promo {
        padding: 0 $globalGutter;
        position: relative;
        overflow: hidden;
    }
    .header-info {
        background-color: $colorHdrInfoBg;
        height: 50px;
        h1, p {
            line-height: 50px;
        }
        .category-header {
            float: left;
            color: $colorNavLinks;
            font: {
                family: $fontVzwBold;
                size: 12px;
                weight: normal;
            }
            text-transform: uppercase;
        }
        .category-header-message {
            @include category-listing-sprite(cat-boxes, false, 0, 12px);
            float: right;
            padding-left: 40px;
            color: $colorNavLinks;
            font: {
                family: $fontArial;
                size: 12px;
                weight: bold;
            }
        }
    }
    .category-header-promo {
        overflow: hidden;
        width: 100%;
        height: 100%;
        .category-image {
            position: absolute;
            top: -20px;
            left: 0;
            z-index: 1;
        }
        .promo-header,
        .promo-info {
            position: relative;
            z-index: 2;
        }
        .promo-header {
            color: #FFF;
            font: {
                family: $fontVzwBook;
                style: italic;
                size: 120px;
            }
            letter-spacing: -10px;
            line-height: 1.35em;
            text-align: right;
        }
        .promo-info {
            float: right;
            border-top: 1px solid #FFF;
            width: 220px;
                .promo-copy {
                font: {
                    family: $fontVzwBook;
                    size: 24px;
                    style: italic;
                }
                line-height: 28px;
                padding-top: 10px;
            }
            .promo-cta {
                clear: both;
                cursor: pointer;
                @include border-radius(3px);
                @include background-image(linear-gradient(rgba(84, 90, 98, 1.0), rgba(59, 63, 69, 1.0))); // this needs fallback to image for ie8;
                border: 1px solid #3B3F45;
                display: table;
                margin: 20px 0;
                width: 130px;
                height: 55px;
                color: #FFF;
                font-size: 18px;
                span {
                    display: table-cell;
                    vertical-align: bottom;
                    padding: 10px 15px;
                }
            }
        }
    }
}
.category-section {
    .content-header {
        display: table;
        padding: 20px;
        width: 100%;
        height: 80px;
        padding-bottom: 15px;
        .title,
        .cta-container {
            display: table-cell;
            vertical-align: bottom;
        }
        .title {
            color: $colorDarkGray;
            font: {
                family: $fontVzwBook;
                size: 32px;
                weight: normal;
            }
            letter-spacing: -2px;
            text-transform: capitalize;
            vertical-align: baseline;
            strong {
                font: {
                    family: $fontVzwBold;
                    weight: normal;
                }
            }
            a{
                color: #06C;
                font: {
                    family: $fontArial;
                    size: 10px;
                    weight: bold;
                }
                letter-spacing: 0;
                margin-left: 12px;
                text-transform: uppercase;
            }
        }
        .cta-container {
            text-align: right;
            .content-cta {
                padding: 20px 0 0 20px;
            }
        }
    }
    .categories {
        overflow: hidden;
        margin: 0 35px;
        border: {
            top: 1px solid #CCC;
            left: 1px solid #CCC;
        }
        .category {
            border: {
                right: 1px solid #CCC;
                bottom: 1px solid #CCC;
            }
            float: left;
            min-height: 150px;
            padding: 10px;
            position: relative;
            width: 50%;
            a {
                display: block;
                overflow: hidden;
            }
            .category-name {
                position: absolute;
                top: 10px;
                left: 10px;
                margin: 0;
                color: #666;
                font: {
                    family: $fontArial;
                    size: 12px;
                    weight: normal;
                }
                text-transform: uppercase;
            }
            .category-fig {
                margin-top: 75px;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    .flex-direction-nav {
        float: right;
        margin: 8px 0 0;
        li {
            float: left; margin-left: 15px;
            .flex-prev,
            .flex-next {
                display: block;
                width: 30px;
                height: 30px;
                text-indent: -9999px;
                &.flex-disabled {
                    cursor: default;
                    opacity: 0.35;
                }
            }
            .flex-prev {
                @include pdp-sprite(btf-carousel-left, false, 0 ,0);
            }
            .flex-next {
                @include pdp-sprite(btf-carousel-right, false, 0 ,0);
            }
        }
    }
    .content-grid {
        clear: right;
        overflow: hidden;
        margin-left: 0;
        border-top: 1px solid #CCC;
        padding-bottom: 0;

        &.feature-grid {
            .content-item {
                &.large {
                    @include clearfix();
                    @include column(12);
                    .content-fig,
                    .content-detail {
                        float: left;
                        padding: 15px;
                    }
                    .content-fig {
                        margin: 0;
                        position: relative;
                        @include column(9);
                        overflow:hidden;
                        img {
                            max-width: 100%;
                        }
                    }
                    .content-detail {
                        @include column(3);
                        padding-left: 0;
                        .content-detail-header {
                            color: $colorDarkGray;
                            .content-category {
                                margin-top: 0;
                                font: {
                                    family: $fontVzwBold;
                                    size: 12px;
                                    weight: normal;
                                }
                                text-transform: uppercase;
                            }
                            .content-title {
                                font: {
                                    family: $fontVzwBook;
                                    weight: normal;
                                }
                            }
                            .content-title {
                                font-size: 32px;
                            }
                        }
                        .content-copy {
                            font: {
                                family: $fontVzwBook;
                                weight: normal;
                            }
                            font-size: 14px;
                        }
                        .related-products {
                            display: none;
                            .related-products-header {
                                margin-top: 50px;
                                color: $colorDarkGray;
                                font: {
                                    family: $fontVzwBook;
                                    size: 12px;
                                    weight: normal;
                                }
                                text-transform: uppercase;
                            }
                            .related-items {
                                border: 1px solid #DCDEDE;
                                display: table;
                                margin: 0;
                                .related-item {
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 55px;
                                    height: 55px;
                                    border-right: 1px solid #DCDEDE;
                                    a {
                                        display: block;
                                        margin: 0 auto;
                                        text-align: center;
                                        img {
                                            vertical-align: middle;
                                        }
                                    }
                                    &.last {
                                        border: none;
                                        vertical-align: bottom;
                                        line-height: 12px;
                                        padding: 5px;
                                        a {
                                            margin: 0;
                                            color: #06C;
                                            font: {
                                                family: $fontArial;
                                                size: 10px;
                                                weight: bold;
                                            }
                                            text-align: left;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .featured-corner,
                    .featured-item-hover {
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        }


                    .featured-item-hover {
                    	width: 254px;
                    	height:166px;
                    	background: url(../img/category-listing/featured-item-hover-bg.png) 0 1px  no-repeat;
                    	opacity:0;
                    	cursor:pointer;
                    	@include ftrHover;

                    	img {
                    		display:block;
                    		width:37.5%; height:auto;
                    		position:absolute;
                    		bottom:-10px; left:41%;
                    		margin:0 auto 0 auto;
                    		}
                    	a {
                    		display: block;
                    		width:45px;
                    		line-height:13px;
                    		position: absolute;
                    		bottom:0px; right: 10px; }
                    	}
                    .featured-item-hover:hover {
                    	@include ftrHover;
                    	opacity : 1;
                    	}

                    .featured-corner {
                            width: 45px;
                            height: 45px;
                        }


                	.featured-item {
                    	position:absolute;
                    	left:100%;
                    	top:100%;
                    	width:100%;
                    	height:100%;
                    	opacity:0;
                    	background:#fff;
                    	@include ftrReveal;

                    	.featured-item-detail {
                    		width:97.5%;
                    		height:96%;
                    		margin:auto;
                    		background: #fff;
                    		position:relative;

                    		.featured-item-category {
                    			background:#e89f3a url(../img/category-listing/ico-fitness.png) 30px 35px no-repeat;
                    			color:#fff;
                    			padding:30px 30px 30px 120px;
                    			font-family: $fontVzwBoldItalic;
                    			font-size:69px;
                    			font-weight:normal;
                    			width:97.5%;
                    			margin: auto;
                    			}

                    		.featured-item-info {

                    			.featured-item-title,
                    			.featured-item-desc {
                    				font-family: $fontArial;
                    				padding:0; margin:0;
                    				color: $colorCategoryCTA;
                    				font-size:12px;
                    				line-height: 15px;
                    				font-weight:normal;
                    				margin:10px 0 0 10px;
                    			 	}

                    			 .rating {
                    			 	@include clearfix();
                    			 	font-size:12px;
                    				line-height: 15px;
                    				margin-left:10px;
                    				img {
                    					position: relative;
                    					top: auto; right: auto;
                    					width: 14%;
                    					float:left;
                    					margin:2px 10px 0 0;
                    					}
                    				}


                    			 } /* end featured info */

                    		img {
                    			position:absolute;
                    			top: 120px;
                                right: 0;
                    			width:65%;
                                height: auto;
                			}

                    		.featured-item-actions {
                    			@include clearfix();
                    			// width:95%;
                    			// position:static;
                    			// margin: 0 auto;
                    			// // bottom:5px;
                       //          left: 10px;

                                width: 95%;
                                position: static;
                                margin: 25px 0 0 10px;
                                left: 0;

                    			.price {
                    				display:block;
                    				font-size: 30px;
                    				letter-spacing: -1px;
                    				margin-bottom: 10px;

                    				sup {
                    					font-size:16px;
                    					position:relative;

                    					}
                    				}

                    			.button {
                    				float:left;
                    				height:50px;
                    				width: 110px;
                    				position:relative;

                    				span {
                    					display:block;
                    					@include ctaButton;
                    					height: 100%;
                    					width: 100%;
                    					position: absolute;
                    					bottom:0; left: 0;
                    					padding: 20px 0 0 10px;
                    					font-family: $fontVzwMedium;

                    					.add-cart-cta {
                    						-webkit-appearance: none;
                    						float:none;
                    						position: absolute;
                    						top:0; left: 0;
                    						opacity: 0;
                    						padding:0;
                    						cursor:pointer;
                						  }
                    					}
                    				}

                    			.back-to-story {
                    				display:block;
                    				float: right;
                    				width:95px;
                    				padding-left:60px;
                    				background: url(../img/category-listing/back-to-story.png) no-repeat;
                    				cursor:pointer;
                    				}
                    			}
                    		}
                    	}
                }
            }
        }
        &.feature-right {
            .content-item {
                &.featured {
                    float: right;
                }
            }
        }
    }
}


.header-promo {
    height: 320px;
    background-color: #36BDB1;
    position:relative;

    .special-header{
        position:absolute;
        bottom:0;
        background-color: #3B3E45;
        padding:16px 46px 26px 46px;
        color:#fff;
        font-size:17px;
        strong{
            display:inline-block;
            padding: 0 4px 0 0;
        }
    }
}
.promo-fig {
    float: left;
    margin: 50px 0 0 75px;
}



.promo-content {
    float: right;
    width: 305px;
    .promo-copy {
        margin-top: 35px;
        color: $colorVzwNavBrd;
        font: {
            family: $fontVzwBookItalic;
            size: 24px;
        }
        > span.first {
            display: inline-block;
            margin-bottom: 10px;
            letter-spacing: -.05em;
        }
		> span {
			display: inline;
			margin-bottom: 0;
		}

        strong {
            position: relative;
            display: block;
            margin: -40px 0 0 -10px;
            font-family: "Verizon Apex Medium";
            font-size: 148px;
            font-weight: normal;
            line-height: 1em;
            letter-spacing: -.1em;
            sup {
                vertical-align: super;
                font: {
                    family: $fontVzwLight;
                    size: 85px;
                }
            }
            span {
                position: absolute;
                top: 65px;
                left: 175px;
                text-transform: uppercase;
                letter-spacing: normal;
                font: {
                    family: $fontVzwBold;
                    size: 40px;
                }
            }
        }
        .promo-cta {
            clear: both;
            cursor: pointer;
            @include border-radius(3px);
            @include background-image(linear-gradient(rgba(84, 90, 98, 1.0), rgba(59, 63, 69, 1.0)));
            border: 1px solid #3B3F45;
            display: table;
            margin: 35px 25px 0;
            width: 130px;
            height: 55px;
            color: #FFF;
            font: {
                family: $fontVzwBook;
                size: 18px;
            }
            span {
                display: table-cell;
                vertical-align: bottom;
                padding: 3px 9px;
            }
        }
    }
	span.caret {
		margin-left: 25px;
		margin-bottom: -2px;
		height: 16px;
		width: 31px;
		background: url(../img/special-offers-landing/hero-mobile-caret.png);
	}

	.mobile-details {
		height: 130px;
		background-color: #2a2d32;
		p.mobile-copy {
			color: #ffffff;
			margin: 0 30px;
			padding: 30px 0 0 0;
			font: {
				family: $fontVzwBookItalic;
				size: 16px;
			}
		}
		p.mobile-cta {
			color: #ffffff;
			text-transform: uppercase;
			margin: 10px 0 0 30px;
			font:  {
				family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				weight: bold;
				size: 10px;
			}
			span {
				background: url(../img/sprites/pdp/wht-right.png) no-repeat right center;
				padding-right: 10px;
			}
		}
	}
}

.bundle-deals {
	.flex-viewport {
		border: 1px solid #ccc;
	}
	li.bundle .wrapper {
		padding: 20px 20px 0 20px;
	}
	.quick-view-item {
		width: 75%;
		float: left;
		#quick-view-slider.bundle {
    		img {
    			display: block;
    			width: auto;
    			margin: 40px 0 0 30px;
    			}
    		}
	}

	.quick-view-details {
		width: 25%;
		float: left;
		padding: 0 20px 0 0;
			h1 {
				font-size: 24px;
			}
			p {
				font-size: 12px;
			}
			.bundle-details {
				.bundle-pieces {
					list-style-type: disc;
					li {
						font-size: 12px;
					}
				}
			}

			.column.pricing {
				position: absolute;
				bottom: 75px;
				width: 25%;
			}
			.column.add-cart {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 25%;
				padding-right: 15px;
			}
			.product-pricing {
				float: left;
				width: 40%;
				padding: 0 0 0 10px;
				.sale {
					font-size: 11px;
					span {
						text-decoration: line-through;
					}
				}
				.price {
					font-size: 22px;
				}
			}
	    	.value-add {
	    		width: 50%;
	    		float: right;
	    		padding: 0px 20px 0 0;
	    		font-family: $fontArial;
	    		font-size: 12px;
	    		line-height: 16px;
	    		color: $colorVzwRed;
	    		font-weight: bold;
	    		}

			.product-actions {
			    margin-top: 20px;

			    .button {
			    	@include add-cart-cta;
			    	width: 100%;
			        height: 55px;
			        margin-bottom: 10px;

			    	span {
			    		display: block;
			    		width: 100%;
			    		height: 100%;
			    		padding: 25px 0 5px 15px;
			    		text-transform: lowercase;
			    		position: relative;

			    		font: {
			    			family: $fontVzwMedium;
			            	size: 18px;
			            	weight: normal;
			            	}
			    		}

			    	input {
			    		display: block;
			    		width: 100%;
			    		height: 55px;
			    		position:absolute;
			    		top: 0; left: 0;
			    		-webkit-appearance: none;
			    		opacity: 0;
			    		cursor: pointer;

			    		}
			    	}/* end button */
			}
		}

			.quick-view-item {

				.offer-box {
					position:absolute;
					top:20px; left:20px;
					z-index:20;
					list-style-type: none;
					width:120px; height:120px;
					-webkit-border-radius: 60px;
					-moz-border-radius: 60px;
					-ms-border-radius: 60px;
					-o-border-radius: 60px;
					border-radius: 60px;
					background: $colorVzwRed;

					.offer-amt {
						color:#fff;
						font-size:54px;
						line-height:54px;
						font-family: $fontVzwMedium;
						letter-spacing: -5px;
						margin:25px 0 0 18px;
						} /* end amt */

					.offer-unit{
						display:inline-block;
						font-size:30px;
						line-height: 30px;
						font-family: $fontVzwBook;
						font-weight:normal;
						position:absolute;
						top:31px; right: 20px;
						color:#fff;
						}/* end unit */


					.offer-off {
						color:#fff;
						font-size:13px;
						line-height: 13px;
						text-transform: uppercase;
						font-family: $fontVzwBold;
						position:absolute;
						right:23px; bottom:39px;
						font-weight:bold;
						letter-spacing: -1px;
						} /* end off text */

					}/* end offer box */

				} /* end item */

}

/*bundle deals responsive styles */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.promo-fig {
	    float: left;
	    margin: 80px 0 0 10px;
		width: 50%;
	}
		.special-offers-landing-page {
			.category-section {
                .slide-nav{
                    display:block;
                }
		        .content-grid {
		            &.feature-grid {
		                .content-item {
		                    &.large {
		                        @include clearfix();
		                        @include column(12);
		                        .content-fig,
		                        .content-detail {
		                            float: left;
		                            padding: $globalGutter / 2;
		                        }
		                        .content-fig {
		                            margin: 0;
		                            @include column(8);
		                            img {
		                                max-width: 100%;
		                            }
		                        }
		                        .content-detail {
		                            @include column(4);
		                            padding-left: 0;
		                        }
		                    }
		                    &.single {
		                        @include column(4);
		                    }
		                    &.two-wide {
		                        @include column(8);
		                    }
		                }
		            }
		        }
		        &.guides-module,
		        &.best-sellers {
		            .content-grid .content-item {
		                width: 33.33334%;
		            }
		        }
		    }
			.bundle-deals {
				.flex-viewport {
					margin-right: 0px;
				}
				.quick-view-item {
					width: 100%;
					float: left;
				#quick-view-slider-bundle {
					img {
						margin: 10% auto 0% auto;
					}
				}
			}
			.quick-view-details {
				width: 50%;
				.column.pricing {
					width: 50%;
					float: right;
					right: 10px;
					margin-top: 40px;
					margin-bottom: 20px;
				}
				.column.add-cart {
					width: 50%;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
	.promo-fig {
	    float: left;
	    margin: 20px 15% 0px 15%;
	}
	.promo-content {
		float: left;
		width: 100%;
		.caret {
			display: block;
		}
		.mobile-details {
			display: block;
		}
		.promo-copy {
			text-align: center;
			margin-top: 0px;
			margin-bottom: 10px;
			font: {
				family: $fontVzwBoldItalic;
	            size: 48px;
	        }
			.promo-cta {
				display: none;
			}
			> span {
				font: {
					family: $fontVzwBoldItalic;
		            size: 42px;
		        }
				position: relative;
				display: inline;
				top: 0;
				left: 0;
				margin: 0 10px 0 0;
			}
			> span.first {
	            display: none;
	            margin-bottom: 10px;
	        }
			strong {
				font: {
					family: $fontVzwBoldItalic;
		            size: 48px;
		        }
				margin: 0 10px 0 0;
				display: inline;
				sup {
					font: {
						family: $fontVzwBoldItalic;
			            size: 24px;
			        }
					vertical-align: super;
					display: inline;
					margin: 0 10px 0 0;
				}
				span {
					font: {
						family: $fontVzwBoldItalic;
			            size: 48px;
			        }
					position: relative;
					display: inline;
					top: 0;
					left: 0;
					text-transform: none;
				}
			}
		}
	}

		.special-offers-landing-page {
			.bundle-deals {
				.flex-viewport {
					margin-right: 0px;
				}
				.quick-view-item {
					width: 100%;
					float: left;
				#quick-view-slider-bundle {
					img {
						margin: 10% auto 0% auto;
					}
				}
			}
			.quick-view-details {
				width: 90%;
				padding: 0 20px 0 0;
				.bundle-details {
					margin-bottom: 20px;
				}
				.column.pricing {
					position: relative;
					bottom: 0;
					width: auto !important;
					float: none;
				}
				.column.add-cart {
					position: relative;
					width: auto !important;
				}
			}
		}
	}

}


/* flexslider responsive styles (based on category-landing.scss)*/

@media only screen and (max-width: $screenLarge) {
    .hide-for-large-down {
        display: none !important;
    }
}

@media only screen and (max-width: $screenLarge) and (min-width: $screenMedium) {

    .category-section {
        .content-grid {
            &.feature-grid {
                .content-item {
                    &.large {
                        @include clearfix();
                        @include column(12);
                        .content-fig,
                        .content-detail {
                            float: left;
                            padding: $globalGutter / 2;
                        }
                        .content-fig {
                            margin: 0;
                            @include column(8);
                            img {
                                max-width: 100%;
                            }
                        }
                        .content-detail {
                            @include column(4);
                            padding-left: 0;
                        }
                    }
                    &.single {
                        @include column(4);
                    }
                    &.two-wide {
                        @include column(8);
                    }
                }
            }
        }
        &.guides-module,
        &.best-sellers {
            .content-grid .content-item {
                width: 33.33334%;
            }
        }
    }
}

@media only screen and (max-width: $screenMedium - 1) and (min-width: $screenSmall) {

	.hide-for-small-grid-down {
        display: none !important;
    }
    .category-list-page #secondary-column {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .category-list-header {
        .category-header-promo {
            .category-image {
                left: -85px;
            }
        }
    }
    .category-list-page .secondary-column {
        .content-filter {
            padding: 15px;
        }
    }
    .category-section {
        .content-grid {
            &.feature-grid {
                .content-item {
                    &.large {
                        @include clearfix();
                        @include column(12);
                        .content-fig,
                        .content-detail {
                            float: none;
                            padding: 15px;
                        }
                        .content-fig {
                            margin: 0;
                            @include column(12);
                            img {
                                max-width: 100%;
                            }
                        }
                        .content-detail {
                            @include column(12);
                            padding-top: 0;
                            .related-products {
                                display: block;
                            }
                        }
                    }
                    &.single {
                        @include column(6);
                        .content-fig {
                            img {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                    &.two-wide {
                        @include column(12);
                    }
                }
            }
        }
        &.guides-module {
            .content-grid .content-item {
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width: $screenSmall - 1) {
    .header-promo{
        .special-header{
            display:none;
        }
    }
    .slide-nav{
        display:block;
    }
    .category-section {
        .content-header {
            .title {
                display: table;
                width: 100%;
                height: 100%;
                a {
                    display: table-cell;
                    height: 100%;
                    text-align: right;
                    vertical-align: bottom;
                }
            }
        }
    }
}

@media only screen and (max-width: $screenSmall - 1) and (min-width: $screenMobileLarge + 1) {
    .header-promo{
        .special-header{
            display:none;
        }
    }
    .hide-for-mobile-grid,
    .hide-for-small-grid-down {
        display: none !important;
    }
    .category-list-page #secondary-column {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        .content-filter {
            display: none;
        }
        .content-filter-touch {
            display: block;
        }
    }
    .category-list-header {
        background-position: $bgPositionPromoSmall;
        .header-info,
        .category-header-promo {
            padding: 0 15px;
        }
        .header-info {
            .category-header-message { display: none; }
        }
        .category-header-promo {
            float: none;
            .promo-header {
                font-size: 90px;
                letter-spacing: -7px;
                // text-align: left;
            }
        }
    }
    .category-section {
        .slide-nav{
            display:block;
        }
        .content-grid {
            &.feature-grid {
                .content-item {
                    &.large {
                        @include clearfix();
                        @include column(12);
                        .content-fig,
                        .content-detail {
                            float: none;
                            padding: 15px;
                        }
                        .content-fig {
                            margin: 0;
                            @include column(12);
                            img {
                                max-width: 100%;
                            }
                        }
                        .content-detail {
                            @include column(12);
                            padding-top: 0;
                            .related-products {
                                display: block;
                            }
                        }
                    }
                    &.single {
                        width: 50%;
                        .content-fig {
                            img {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                    &.two-wide {
                        @include column(12);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $screenMobileLarge) {
    .header-promo{
        .special-header{
            display:none;
        }
    }
    .hide-for-mobile {
        display: none !important;
    }
	.bundle-deals {
		.flex-viewport {
			margin-left: -35px;
		}
	}
    .category-section {
        .slide-nav{
            display:block;
        }
        .content-grid {
            .content-item {
                &.featured {
                    padding: 14px;
                    .content-detail {
                        .price {}
                    }
                }
                .content-fig,
                .content-detail {
                    float: none;
                    width: 100%;
                }
                .content-fig {
                    margin: 0 auto;
                    max-width: 70%;
                }
                .content-detail {
                    .name,
                    .price {
                        float: left;
                        clear: left;
                    }
                    .price { color: #000; }
                    .rating {
                        float: right;
                    }
                }
            }
            .content-item.large {
                .content-detail .content-copy {
                    margin: 0;
                }
                .content-fig {
                    overflow:hidden;
                    max-height: 180px;
                    img {
                        max-width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $screenMobileLarge) and (min-width: $screenMobileSmall) {
    .header-promo{
        .special-header{
            display:none;
        }
    }

    .hide-for-mobile-grid,
    .hide-for-small-grid-down {
        display: none !important;
    }
    .category-list-header {
        .header-info,
        .category-header-promo {
            padding: 0 15px;
        }
        .header-info .category-header-message { display: none; }
        .category-header-promo {
            float: none;
            .promo-header {
                height: 235px;
                font-size: 54px;
                letter-spacing: -5px;
                // text-align: left;
            }
            .category-image {
                left: auto;
                right: -10px;
            }
            .promo-info {
                display: table;
                padding: 10px 0;
                width: 100%;
                .promo-copy,
                .promo-cta {
                    clear: none;
                    display: table-cell;
                    width: 50%;
                    padding: 0;
                    vertical-align: middle;
                }
                .promo-copy {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
    .category-section {
        .content-grid {
            &.feature-grid {
                .content-item {
                    &.large {
                        @include clearfix();
                        .content-fig,
                        .content-detail {
                            float: none;
                            padding: 15px;
                        }
                        .content-fig {
                            margin: 0;
                            width: 100%;
                            img {
                                max-width: 100%;
                            }
                        }
                        .content-detail {
                            padding-top: 0;
                            .content-detail-header {
                                .content-title {
                                    font-size: 18px;
                                }
                                .content-copy {
                                    font-size: 12px;
                                }
                            }
                            .related-products {
                                display: block;
                            }
                        }
                    }
                    &.single {
                        display: none;
                    }
                    &.two-wide {
                        .content-wrapper {
                            .content-fig {
                                margin-left: -68px;
                                width: 200px;
                                img {
                                    width: 200px;
                                    max-width: 200px;
                                    margin: 0;
                                }
                            }
                            .content-detail {
                                margin: 0;
                                width: 175px;
                                overflow: hidden;
                                .content-cta {
                                    display: block;
                                }
                                .price-action {
                                    float: left;
                                    display: block;
                                    margin: 0;
                                    li {
                                        clear: both;
                                        display: block;
                                    }
                                    .content-action {
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-item{
    &.active{
        .sale-tag{display:none;}
    }

    .sale-tag{
        position:absolute;
        color:#F22023;
        font-weight:700;
        top:0;
        left:0;

        img{
            float:left;
        }
        .copy{
            padding:7px 0 0 10px;
            display:inline-block;
            font-size:11px;
        }
    }
}
