$colorCountRed: #C00;
$colorSubnavTabBg: #D3D8D9;
$colorSubnavActiveTabBg: #2A2D32;
$colorSubnavTabBrd: #C5C9CB;
$colorSubnavGridBrd: #C9CDCE;
$colorNavGridText: #333333;
#mls-nav-mobile,
#mls-nav-mobile-modal { display: none; }
#mls-nav-mobile-modal { 
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 100;
    background: rgba(60, 64, 69, 0.5);
}
.mls-nav {
    overflow: hidden;
    .nav-tabs {
        height: 45px;
        margin: 0;
        .logo,
        .nav-item { 
            float: left; 
            a { 
                display: block; 
                color: $colorNavLinks;
            }
        }
        &.left {
            > .tab:not(.nav-actions) {
                a {
                    cursor: pointer;
                    background: transparent url(../img/sprites/ui/drop-down.png) right center no-repeat;
                    padding-right: 15px;
                }
            }
        }
        .nav-item {
            height: 45px;
            line-height: 45px;
            padding: 0 15px;
            text-align: center;
            border: {
                left: 1px solid white;
                right: 1px solid white;
            }
            font: {
                family: $fontVzwBook;
                size: 18px;
            }
            &.active:not(.nav-actions) {
                background-color: $colorActiveTabBg;
                border: {
                    left: 1px solid $colorActiveTabBrd;
                    right: 1px solid $colorActiveTabBrd;
                }
                a {
                    background-image: url(../img/sprites/ui/drop-down-active.png);
                }
            }
        }
        .logo {
            width: 45px;
            h1 { 
                margin: 0;
                text-indent: -9999px;
                padding: 15px;
                font-size: 18px;
                a {
                    background-color: #757575;
                }
            }
        }
        .nav-actions {
            text-indent: -9999px;
            padding: 0;
            a {
                @include nav-sprite(nav-ico-drawer, false, 16px, 15px);
                display: block;
                width: 50px;
                height: 45px;
                padding: 0;
            }
            &.active {
                a { 
                    @include nav-sprite(nav-ico-close-drawer, false, 15px, 16px);
                }
            }
        }
        .nav-search,
        .nav-cart {
            padding: 0;
            a {
                text-indent: -9999px;
                width: 45px;
                height: 45px;
            }
        }
        .nav-search {
            a{
                @include nav-sprite(nav-ico-search, false, 16px, 15px);
            }
        }
        .nav-cart {
            padding-right: 15px;
            cursor: pointer;
            font: {
                family: $fontArial;
                size: 12px;
                weight: bold;
            }
            a{
                @include nav-sprite(nav-ico-cart, false, 18px, 15px);
            }
            a,
            .count { 
                float: left; 
                color: $colorCountRed;
            }
        }
    }
    .tab-content > .tab {
        display: none;
        &.active { display: block; }
    }
    .tall-tab-section,
    .subnav-grid,
    .brands { height: 342px; }
    > .tab-content {
        clear: both;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: $colorActiveTabBg;
        > .tab { 
            ul { margin: 0; }
            .tab-menu {
                float: left;
                width: 245px;
            }
            .tab-content {
                width: auto;
                margin-left: 245px;
            }
            .cta-all {
                display: table;
                a {
                    display: table-cell;
                    padding: 0 35px;
                    vertical-align: middle;
                    text-transform: uppercase;
                    text-align: center;
                    color: $colorVzwRed;
                    font: {
                        family: $fontVzwMedium;
                        size: 12px;
                    }
                }
            }
        }
        .tall-tab-section {
            .tall-tab {
                @include column(2);
                overflow: hidden;
                height: 100%;
                border: {
                    left: 1px solid $colorVzwNavBrd;
                    right: 1px solid $colorVzwNavBrdShade;
                }
                a {
                    position: relative;
                    display: table;
                    width: 100%;
                    height: 100%;
                    .tab-bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .tab-fig {
                        display: table-cell;
                        position: relative;
                        width: 100%;
                        padding-bottom: 75px;
                        text-align: center;
                        vertical-align: bottom;
                        figcaption {
                            position: absolute;
                            bottom: 10px;
                            left: 15px;
                            color: white;
                            font: {
                                family: $fontVzwBoldItalic;
                                size: 18px;
                            }
                        }
                    }
                }
                &.first {
                    border-left: none;
                }
                &.last {
                    border-right: none;
                }
            }
        }
        .subnav {
            padding: 10px;
            .tab {
                position: relative;
                height: 40px;
                background-color: $colorSubnavTabBg;
                border-bottom: 1px solid $colorSubnavTabBrd;
                &.active {
                    background-color: #000;
                }
                &.last { 
                    border: none;
                }
                a {
                    display: block;
                    line-height: 40px;
                    padding: 0;
                    color: $colorNavLinks;
                    .subnav-icon { 
                        display: block;
                        float: left;
                        width: 18px; 
                        margin: 0 0 0 12px;
                        text-align: center;
                        img { 
                            display: inline;
                            vertical-align: middle;
                        }
                    }
                    .category {
                        margin-left: 12px;   
                    }
                }
                &.active {
                    background-color: $colorSubnavActiveTabBg;
                    a {
                        color: white;

                    }
                    .indicator {
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: -5px;
                        margin-top: -7px;
                        width: 6px;
                        height: 14px;
                        @include nav-sprite(subnav-active, false, 0, 0);
                    }
                }
            }
        }
        .products {
            border-bottom: 1px solid $colorSubnavGridBrd;
        }
        .subnav-grid {
            .nav-grid-item {
                float: left;
                position: relative;
                width: 20%;
                height: 50%;
                border: {
                    right: 1px solid $colorSubnavGridBrd;
                    bottom: 1px solid $colorSubnavGridBrd;
                }
                &.item-6, &.item-7, &.item-8, &.item-9, &.item-10 {
                    border-bottom: none;
                }
                &.cta-all {
                    display: table;
                    a {
                        display: table-cell;
                        padding: 0 35px;
                        vertical-align: middle;
                        text-transform: uppercase;
                        text-align: center;
                        font: {
                            family: $fontVzwMedium;
                            size: 12px;
                        }
                    }
                }
                a {
                    display: table;
                    width: 100%;
                    height: 100%;
                    color: $colorVzwRed;
                    .nav-grid-fig {
                        display: table-cell;
                        margin: 0 auto;
                        text-align: center;
                        vertical-align: middle;
                        figcaption {
                            position: absolute;
                            bottom: 15px;
                            left: 15px;
                            color: $colorNavGridText;
                        }
                    }
                }
            }
        }
        .brands { 
            border: {
                top: 1px solid $colorSubnavGridBrd;
                bottom: 1px solid $colorSubnavGridBrd;
            }
        }
        .brand-list {
            height: 100%;
            .tab {
                position: relative;
                display: table;
                float: left;
                width: 20%;
                height: 33.33334%;
                border: {
                    right: 1px solid $colorSubnavGridBrd;
                    bottom: 1px solid $colorSubnavGridBrd;
                }
                &.brand-5, &.brand-10, &.brand-15 {
                    border-right: none;
                }
                &.brand-11, &.brand-12, &.brand-13, &.brand-14, &.brand-15 {
                    border-bottom: none;
                }
                a {
                    display: table-cell;
                    width: 100%; height: 100%;
                    text-align: center;
                    vertical-align: middle;
                    span { display: block; margin: 0 auto; text-indent: -99999px; }
                    &.sony {
                        span {
                            @include nav-sprite(nav-brand-sony, false, 0, 0);
                            width: 97px;
                            height: 18px;
                        }
                    }
                    &.canon {
                        span {
                            @include nav-sprite(nav-brand-canon, false, 0, 0);
                            width: 94px;
                            height: 20px;
                        }
                    }
                    &.epson {
                        span {
                            @include nav-sprite(nav-brand-epson, false, 0, 0);
                            width: 102px;
                            height: 25px;
                        }
                    }
                    &.panasonic {
                        span {
                            @include nav-sprite(nav-brand-panasonic, false, 0, 0);
                            width: 125px;
                            height: 20px;
                        }
                    }
                    &.lg {
                        span {
                            @include nav-sprite(nav-brand-lg, false, 0, 0);
                            width: 93px;
                            height: 42px;
                        }
                    }
                    &.samsung {
                        span {
                            @include nav-sprite(nav-brand-samsung, false, 0, 0);
                            width: 95px;
                            height: 32px;
                        }
                    }
                    &.apple {
                        span {
                            @include nav-sprite(nav-brand-apple, false, 0, 0);
                            width: 35px;
                            height: 44px;
                        }
                    }
                    &.microsoft {
                        span {
                            @include nav-sprite(nav-brand-microsoft, false, 0, 0);
                            width: 123px;
                            height: 26px;
                        }
                    }
                    &.insignia {
                        span {
                            @include nav-sprite(nav-brand-insignia, false, 0, 0);
                            width: 112px;
                            height: 31px;
                        }
                    }
                    &.intel {
                        span {
                            @include nav-sprite(nav-brand-intel, false, 0, 0);
                            width: 75px;
                            height: 50px;
                        }
                    }
                    &.hp {
                        span {
                            @include nav-sprite(nav-brand-hp, false, 0, 0);
                            width: 79px;
                            height: 49px;
                        }
                    }
                    &.nikon {
                        span {
                            @include nav-sprite(nav-brand-nikon, false, 0, 0);
                            width: 110px;
                            height: 30px;
                        }
                    }
                    &.belkin {
                        span {
                            @include nav-sprite(nav-brand-belkin, false, 0, 0);
                            width: 110px;
                            height: 31px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screenMedium - 1) {
    .mls-nav { 
        > .tab-content {
            .tall-tab-section {
                .tall-tab {
                    width: 33.33334%;
                    height: 50%;
                    a {
                        .tab-fig {
                            padding: 0;
                            vertical-align: middle;
                            img {
                                max-width: 18%;
                            }
                        }
                    }
                    &.medialorem {
                        border-right: none;
                    }
                    &.traveler {
                        border-left: none;
                    }
                    &.fashionista,
                    &.fitness,
                    &.medialorem {
                        border-bottom: 1px solid $colorVzwNavBrdShade;
                    }
                    &.traveler,
                    &.family,
                    &.fun-seeker { 
                        border-top: 1px solid $colorVzwNavBrd;
                    }
                    &.fashionista,
                    &.fitness,
                    &.medialorem,
                    &.traveler,
                    &.family,
                    &.fun-seeker { 
                        @include background-size(100%);
                    }
                }
            }
            .subnav-grid {
                .nav-grid-item {
                    width: 25%;
                    a .nav-grid-fig figcaption {
                        left: 5px;
                    }
                    &.cta-all {
                        a {
                            padding: 0 25px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $screenSmall) {
    #site-header {
        .left { float: left; }
        .right { float: right; }
    }
}
@media only screen and (max-width: $screenMobileLarge - 1) {
    #mls-nav { display: none; }
    #mls-nav-mobile { 
        display: block;
    }
    .modal-active {
        #mls-nav-mobile-modal { display: block; }
    }
    .mls-nav {
        .nav-tabs {
            .nav-actions {
                &.active {
                    position: absolute;
                    top: 0; left: 0;
                    height: 46px;
                    z-index: 500;
                }
            }
        }
        > .tab-content {
            .tall-tab-section {
                .tall-tab {
                    float: left;
                    width: 50%;
                    height: 33.33334%;
                    a {
                        .tab-fig {
                            padding: 0;
                            vertical-align: middle;
                            img {
                                max-width: 15%;
                            }
                        }
                    }
                    &.medialorem {
                        border-top: 1px solid $colorVzwNavBrd;
                    }
                    &.traveler {
                        border-bottom: 1px solid $colorVzwNavBrdShade;
                    }
                    &.family,
                    &.fun-seeker {
                        border-bottom: none; 
                    }
                    &.fashionista,
                    &.medialorem,
                    &.family {
                        border: {
                            left: none;
                            right: 1px solid $colorVzwNavBrdShade;
                        }
                    }
                    &.fitness,
                    &.traveler,
                    &.fun-seeker {
                        border-left: 1px solid $colorVzwNavBrd;
                    }
                }
            }
            .products,
            .brand-list {
                height: 100%;
                border: {
                    top: 1px solid $colorSubnavGridBrd;
                    bottom: none;
                }
                .tab {
                    width: 50%;
                    height: 20%;
                    border: {
                        right: 1px solid $colorSubnavGridBrd;
                        bottom: 1px solid $colorSubnavGridBrd;
                    }
                    &.brand-5, &.brand-15 { border-right: 1px solid $colorSubnavGridBrd; }
                    &.brand-2, &.brand-4, &.brand-6, &.brand-8, &.brand-10 {
                        border-right: none;
                    }
                    &.brand-9, &.brand-10 {
                        border-bottom: none;
                    }
                }
            }
            .products {
                padding: 0;
                .tab {
                    float: left;
                    display: table;
                    background: #D7DCDD;
                    &.product-9, &.product-10 {
                        border-bottom: none;
                    }
                    a {
                        display: table-cell;
                        line-height: 18px;
                        padding: 0 25px 0 60px;
                        text-align: left;
                        vertical-align: middle;
                        &.photo {
                            //@include nav-sprite(subnav-ico-camera, false, 0, 0);
                            background: transparent url(../img/sprites/nav/subnav-ico-camera.png) 30px center no-repeat;
                        }
                        &.cases {
                            //@include nav-sprite(subnav-ico-case, false, 12px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-case.png) 30px center no-repeat;
                        }
                        &.chargers {
                            //@include nav-sprite(subnav-ico-bolt, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-bolt.png) 30px center no-repeat;
                        }
                        &.health {
                            //@include nav-sprite(subnav-ico-health, false, 10px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-health.png) 30px center no-repeat;
                        }
                        &.family {
                            //@include nav-sprite(subnav-ico-family, false, 10px, 10px);
                            background: transparent url(../img/sprites/nav/subnav-ico-family.png) 30px center no-repeat;
                        }
                        &.memory {
                            //@include nav-sprite(subnav-ico-storage, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-storage.png) 30px center no-repeat;
                        }
                        &.productivity {
                            //@include nav-sprite(subnav-ico-productivity, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-productivity.png) 30px center no-repeat;
                        }
                        &.travel {
                            //@include nav-sprite(subnav-ico-travel, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-travel.png) 30px center no-repeat;
                        }
                        &.audio {
                            //@include nav-sprite(subnav-ico-audio, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-audio.png) 30px center no-repeat;
                        }
                        &.gaming {
                            //@include nav-sprite(subnav-ico-gaming, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-gaming.png) 30px center no-repeat;
                        }
                        &.see-all {
                            //@include nav-sprite(subnav-ico-see-all, false, 15px, 15px);
                            background: transparent url(../img/sprites/nav/subnav-ico-see-all.png) 30px center no-repeat;
                        }
                    }
                }
            }
        }
    }
    .mls-nav-content {
        border-top: 1px solid $colorActiveTabBrd;
        z-index: 250;
        .accordion-nav {
            .nav-item {
                width: 100%;
                border-bottom: 1px solid $colorActiveTabBrd;
                font: {
                    family: $fontVzwBook;
                    size: 24px;
                }
                > a {
                    display: table;
                    width: 100%;
                    height: 70px;
                    padding: 15px 25px 10px;
                    color: $colorNavMobile;
                    span {
                        display: table-cell;
                        vertical-align: bottom;
                        background: transparent url(../img/sprites/nav/nav-ico-mobile-accordion.png) right center no-repeat;
                    }
                }
                .accordion-content {
                    display: none;
                }
               &.active .accordion-content {
                    clear: both;
                    display: block;
                }
            }
        }
    }
}