.scroll{

	.thumb,.thumb .end {
		background-color: #003D5D; 
	}
	.scrollbar {
		position: relative; float: right; width: 15px;
	}
	.track {
		background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px;
	}
	.thumb {
		height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0;
	}
	.thumb .end {
		overflow: hidden; height: 5px; width: 13px;
	}
	.disable{
		display: none;
	}

}

